.tag {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.375rem 0.75rem;
  border: 1px solid var(--text-primary, #222424);
  background: transparent;
  border-radius: 9999px;
}

.tag:hover {
  background: var(--background-bg-light-secondary, #eaeaea);
}
.tag:active {
  background: var(--background-bg-light-secondary, #eaeaea);
}
.tag:focus {
  outline: 2px solid var(--surface-yellow, #ffd02f);
}
.tag--active {
  background: var(--background-bg-dark, #2d2d2d);
  color: var(--text-primary-light);
}
.tag--active:hover {
  background: var(--background-bg-dark, #2d2d2d);
}
