.content {
    margin-top: calc(10rem + 72px); /* TODO: remove extra pixels when .main -72px is handled */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    min-height: 400px;
}