.header {
  margin: 0 1rem;
}

.header p {
  font-size: 1.5rem;
}

.primary-container {
  display: flex;
  flex-direction: column;
  gap: 12rem;
  margin: 8rem 1rem 0 1rem;
}

@media (max-width: 500px) {
  .primary-container {
    gap: 8rem;
    margin-top: 4rem;
  }
}

.primary-container h2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.nav-row {
  font-family: 'Recoleta', serif;
  font-weight: 500;
  display: flex;
  gap: 2rem;
  align-items: flex-end;
  margin: 1.5rem 0 0 0;
}

.nav-row a {
  font-size: 1.25rem;
}

.nav-row__arrow-comment {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 6rem;
  margin: 0 0 -0.5rem 5rem;
}

.nav-row__arrow-comment p {
  font-size: 1.5rem;
  transform: rotate(20deg);
  line-height: 2rem;
}

.nav-row__arrow-comment img {
  width: 40%;
}

.project-category {
  display: flex;
  flex-direction: column;
  gap: 8rem;
}

@media (max-width: 500px) {
  .project-category {
    gap: 6rem;
  }
}

.project-article {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.project-article img {
  max-width: 40%;
}

@media (max-width: 500px) {
  .project-article img {
    max-width: 100%;
  }
}

.project-article:nth-of-type(2n) {
  flex-direction: row-reverse;
}

@media (max-width: 500px) {
  .project-article,
  .project-article:nth-of-type(2n) {
    /* nth-of-type-selector to increase specificity */
    flex-direction: column-reverse;
    gap: 2rem;
  }
}

.project-article__text {
  height: fit-content;
}

.contact {
  text-align: center;
}

.contact h4 {
  margin: 0 auto;
  max-width: 20rem;
}

.contact__button__wrapper * {
  margin-top: 1.25rem;
  padding: 0.5rem 1.5rem;
  border-radius: 99rem;
}
