.sayHi {
  position: absolute;
  top: 0;
  right: -1px;
  max-width: 20%;
}

.omVariant {
  width: 70%;
  padding: 0 1rem 7.2rem;
  position: relative;
  margin-bottom: 5rem;
}

@media (max-width: 500px) {
  .omVariant {
    width: 100%;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
  }
}

.omVariant__title {
  font-weight: bold;
  margin: 4.8rem 0;
  font-size: 4.8rem;

  background: linear-gradient(
    to right,
    var(--color-primary),
    var(--color-secondary1),
    var(--color-secondary2)
  );
  background-size: 200% 200%;
  animation: backgroundPos 10s ease-in-out infinite;
  background-clip: text;
  transition: color 0.2s ease-in-out;
  color: rgba(0, 0, 0, 0);
}
.omVariant__title[data-no-animation="true"] {
  animation: none;
}
@keyframes backgroundPos {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

.omVariant__p1 {
  margin: 2rem 3rem;
  font-size: 1.5rem;
}

.omVariant_image1 {
  position: relative;
  max-width: 140%;
}
.omVariant_image2 {
  position: absolute;
  left: 25rem;
  top: 32rem;
  max-width: 140%;
}
@media (max-width: 500px) {
  .omVariant_image2 {
    display: none;
  }
}
.omVariant__us {
  width: 70%;
  margin-top: 3.4rem;
}
@media (max-width: 500px) {
  .omVariant__us {
    margin: 5.4rem auto 0;
    text-align: center;
  }
}

.omVariant__us p {
  margin: 2.4rem 0;
  font-size: 1.5rem;
}

.join {
  text-align: center;
  max-width: 24rem;
  margin: 0 auto;
}
.join p {
  margin: 2.4rem 0;
}

.services {
  margin: 3rem 0;
  padding: 0 1.2rem;
}
.services h3 {
  margin-bottom: 2.4rem;
}
.services article {
  margin-top: 4.8rem;
}
.services_image1 {
  max-width: 60%;
  margin: 0 auto;
  display: block;
}

@media (min-width: 400px) {
  .services_image1 {
    position: relative;
    margin: 0;
    left: -7rem;
    max-width: 60%;
  }
  .services article + article {
    margin-top: 4.8rem;
    width: 50%;
  }
  .services article:nth-child(2n) {
    margin-left: 50%;
  }
  .services img + article {
    margin-top: -10rem;
  }
}

.blog {
  text-align: center;
  margin: 0 auto;
  padding: 8rem 0;
  position: relative;
}
@media (min-width: 400px) {
  .blog {
    margin: -5rem auto 0;
  }
}
.blog__text {
  position: relative;

  z-index: 2;
}
.blog_image1 {
  position: absolute;
  top: 0;
  z-index: 1;
  left: calc(50% + 1rem);
  max-width: 80%;
}
.blog a {
  color: var(--color-standard__black);
  text-decoration: none;
  margin-top: 2.4rem;
  display: block;
}
.blog__mediumLogo {
  display: block;
  margin: 1.2rem auto 0;
  max-width: 50%;
}

.cases {
  margin-top: 8.25rem;
  padding: 0 1rem;
}
.cases__case {
  display: grid;
  padding: 2rem 0;
  grid-template-columns: minmax(20rem, 2fr) minmax(23rem, 1fr);
}
@media (max-width: 600px) {
  .cases__case {
    grid-template-columns: 1fr;
  }
}
.cases__caseContent {
  order: 1;
}
.cases__caseContent h3 {
  font-size: 1.6rem;
  margin-bottom: 2.4rem;
}
.cases__case figure img {
  display: block;
  max-width: 100%;
  margin: 0 auto 2.4rem;
}

.employees {
  display: grid;
  place-content: center;
  min-height: 15rem;
  position: relative;
  z-index: 2;
}

.employees__random {
  display: grid;
  grid-template-areas:
    "image text"
    "image button";
  grid-template-columns: 15rem auto;
  grid-template-rows: 1fr 1fr;
  gap: 1rem 4rem;
  place-items: center;
}
@media (max-width: 600px) {
  .employees__random {
    grid-template-areas:
      "image"
      "text"
      "button";
    grid-template-columns: 15rem;
    grid-template-rows: 15rem max-content max-content;
    gap: 2rem;
  }
}

.employees__random img {
  grid-area: image;
  height: 15rem;

  /* Center alt text */
  display: grid;
  place-content: center;
}

.employees__random p {
  grid-area: text;
  align-self: end;
}

.employees__button {
  grid-area: button;
}
