.bergen {
  margin: 15rem 0;
}
@media (max-width: 640px) {
  .bergen {
    margin: 4rem 0 15rem;
  }
}
@media (max-width: 500px) {
  .bergen {
    margin: 13rem 0 10rem;
  }
}

.omVariant {
  width: 70%;
  padding: 0 1rem 7.2rem;
  position: relative;
  margin-bottom: 5rem;
}

@media (max-width: 500px) {
  .omVariant {
    width: 100%;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
  }
}

.omVariant__p1 {
  margin: 2rem 3rem;
  font-size: 1.5rem;
}

.omVariant_image1 {
  position: relative;
  max-width: 140%;
}
.omVariant_image2 {
  position: absolute;
  left: 25rem;
  top: 32rem;
  max-width: 140%;
}
@media (max-width: 500px) {
  .omVariant_image2 {
    display: none;
  }
}
.omVariant__us {
  width: 70%;
  margin-top: 2.4rem;
}
@media (max-width: 500px) {
  .omVariant__us {
    margin: 5.4rem auto 0;
    text-align: center;
  }
}

.omVariant__us p {
  margin: 2.4rem 0;
  font-size: 1.5rem;
}

.join {
  margin: 0 1rem;
}

.join_title {
  text-align: center;
  margin: 2rem auto;
}

.join > p {
  font-size: 1.2rem;
  width: 90%;
}

.join_info {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.join_map {
  max-width: 60%;
}

.join_button {
  margin-top: 2rem;
  border-radius: 4rem;
  padding: 0.5rem 1rem;
}

@media (max-width: 500px) {
  .join {
    text-align: center;
  }
  .join > p {
    width: 100%;
  }
  .join_info {
    margin-top: 2rem;
    flex-flow: column-reverse nowrap;
  }
  .join_map {
    max-width: 90%;
    margin-bottom: 2rem;
  }
}

.services {
  margin: 3rem 0;
  padding: 0 1.2rem;
}
.services h3 {
  margin-bottom: 1.2rem;
}
.services article {
  margin-top: 4.8rem;
}
.services_image1 {
  max-width: 60%;
  margin: 0 auto;
  display: block;
}

@media (min-width: 400px) {
  .services_image1 {
    position: relative;
    margin: 0;
    left: -7rem;
    max-width: 60%;
  }
  .services article + article {
    margin-top: 4.8rem;
    width: 50%;
  }
  .services article:nth-child(2n) {
    margin-left: 50%;
  }
  .services img + article {
    margin-top: 0;
  }
}

.two-column-section {
  margin: 8.25rem 1rem 0;
}
.two-column-section h2 {
  text-align: center;
  margin-bottom: 2.25rem;
}
.two-column-section > p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}
.two-column-section article:nth-child(2n) {
  direction: rtl;
}
.two-column-section__item {
  display: grid;
  gap: 2rem;
  padding: 2rem 0;
  grid-template-columns: minmax(15rem, 1fr) minmax(20rem, 1fr);
}
.two-column-section__item--centered {
  align-items: center;
}
@media (max-width: 600px) {
  .two-column-section__item {
    grid-template-columns: 1fr;
  }
}
.two-column-section__item__content {
  order: 1;
  direction: ltr;
}
.two-column-section__item__content h4 {
  font-size: 1.6rem;
  margin-bottom: 1.2rem;
}
.two-column-section__item__content a {
  text-underline-offset: 0.3rem;
  display: block;
  margin-top: 1.2rem;
}

.employees {
  --image-height: 300px;

  display: grid;
  place-content: center;
  min-height: var(--image-height);
  position: relative;
  z-index: 2;

  margin: 8.25rem 1rem 4.25rem;
}

.employees a {
  align-self: flex-start;
}

.employees__random {
  display: grid;
  grid-template-areas:
    'image text'
    'image button';
  grid-template-columns: var(--image-height) auto;
  grid-template-rows: 1fr 1fr;
  gap: 0.5rem 4rem;
  place-items: center;
}
@media (max-width: 600px) {
  .employees__random {
    grid-template-areas:
      'image'
      'text'
      'button';
    grid-template-columns: var(--image-height);
    grid-template-rows: var(--image-height) max-content max-content;
    gap: 2rem;
  }
}

.employees__random__image {
  grid-area: image;
  height: var(--image-height);

  /* Center alt text */
  display: grid;
  place-content: center;
}

.employees__random p {
  grid-area: text;
  align-self: end;
}

.employees__button {
  grid-area: button;
}

.feed {
  position: relative;
  display: flex;
  flex-direction: column;

  margin-top: 7rem;
}
.feed__header {
  margin: 8.25rem 1rem 2rem;

  text-align: center;
}
@media (max-width: 600px) {
  .feed {
    padding: 1rem;
  }
}
.feed__content {
  position: relative;
  z-index: 2;
  display: grid;
  grid-gap: 1.5rem;
}
.feed__readMore {
  text-align: center;
  margin: 1rem auto;
  text-underline-offset: 0.5rem;
}
