.wrapper {
  padding: 0 1rem 7.2rem;
  position: relative;
  margin-bottom: 5rem;
}

.content {
  margin: auto;
}

.number {
  text-align: right;
  white-space: nowrap;
  font-variant-numeric: tabular-nums;
}

.tableContainer {
  position: relative;
  overflow: auto;
  margin: 6rem 0;
}

.forecast {
  margin: 0 auto;
}

.forecast tbody tr td,
.forecast th:first-child {
  background: var(--color-secondary4__tint2);
}
.forecast tbody tr:nth-child(2n + 1) td {
  background: var(--color-secondary4__tint1);
}

.forecast th,
.forecast td {
  padding: 0.8rem;
}
.forecast td:first-child,
.forecast th:first-child {
  position: sticky;
  min-width: 150px;
  left: 0;
}

.lufthavn {
  shape-outside: url(./bergen-lufthavn.png);
  float: right;
  right: -1rem;
  position: relative;
  display: block;
}
@media (max-width: 500px) {
  .barcode {
    float: none;
    margin: 0 auto;
  }
}

.forecast_heading {
  font-family: 'Recoleta';
  text-align: right;
  min-width: 8rem;
}

.title {
  font-weight: bold;
  margin: 2.8rem 0;
  font-size: 3.3rem;

  background: linear-gradient(
    to right,
    var(--color-primary),
    var(--color-secondary1),
    var(--color-secondary2)
  );
  background-size: 200% 200%;
  background-clip: text;
  transition: color 0.2s ease-in-out;
  color: rgba(0, 0, 0, 0);
}

@media (max-width: 760px) {
  .employee {
    margin: 0;
  }
  .employee:not(:first-of-type) {
    margin-top: 4.8rem;
  }
  .employees__layout {
    justify-content: center;
  }
}
@media (min-width: 760px) and (max-width: 1100px) {
  .employees__layout {
    --columns: 2;
  }
  .employee:nth-child(2n + 2) {
    margin-top: calc(8rem - var(--randomOffset) * 2rem);
  }
}
@media (min-width: 1100px) {
  .employees__layout {
    --columns: 3;
  }
  .employee:nth-child(3n + 2) {
    margin-top: calc(8rem - var(--randomOffset) * 2rem);
  }
}

@keyframes backgroundPos {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}
