.employeesContainer {
  --container-padding: 2rem;

  padding: 0 var(--container-padding);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.employees__header {
  margin-top: 4.8rem;
  margin-bottom: 1rem;
}

.employees__text {
  max-width: 30rem;
  margin-bottom: 7.2rem;
}

.employees__layout {
  --image-width: 300px;
  --column-margin: 0.8rem;
  --columns: 1;

  --total-margin: calc(var(--column-margin) * 2 * var(--columns));
  --total-images-width: calc(var(--image-width) * var(--columns));

  max-width: calc(var(--total-images-width) + var(--total-margin));
  display: flex;
  flex-wrap: wrap;
  padding-top: 4rem;
  padding-bottom: 10rem;
}

.employee {
  /* Add margin based on a random offset to make it look more random. */
  margin: calc(-5rem + 1rem * var(--randomOffset))
    calc(1rem - 1rem * var(--randomOffset));
  display: flex;
  flex-direction: column;
  align-items: center;
}

.employee img {
  width: var(--image-width);
  height: var(--image-width);
  display: grid;
  place-content: center;
  background: var(--color-primary__tint1);
  color: var(--color-primary__tint1--text);
}

@media (max-width: 760px) {
  .employee {
    margin: 0;
  }
  .employee:not(:first-of-type) {
    margin-top: 4.8rem;
  }
  .employees__layout {
    justify-content: center;
  }
}
@media (min-width: 760px) and (max-width: 1100px) {
  .employees__layout {
    --columns: 2;
  }
  .employee:nth-child(2n + 2) {
    margin-top: calc(8rem - var(--randomOffset) * 2rem);
  }
}
@media (min-width: 1100px) and (max-width: 1440px) {
  .employees__layout {
    --columns: 3;
  }
  .employee:nth-child(3n + 2) {
    margin-top: calc(8rem - var(--randomOffset) * 2rem);
  }
}
@media (min-width: 1440px) and (max-width: 1780px) {
  .employees__layout {
    --columns: 4;
  }
  .employee:nth-child(2n + 2) {
    margin-top: calc(8rem - var(--randomOffset) * 2rem);
  }
}
@media (min-width: 1780px) and (max-width: 2120px) {
  .employees__layout {
    --columns: 5;
  }
  .employee:nth-child(5n + 2),
  .employee:nth-child(5n + 4) {
    margin-top: calc(8rem - var(--randomOffset) * 2rem);
  }
}
@media (min-width: 2120px) and (max-width: 2460px) {
  .employees__layout {
    --columns: 6;
  }
  .employee:nth-child(2n + 2) {
    margin-top: calc(8rem - var(--randomOffset) * 2rem);
  }
}
@media (min-width: 2460px) {
  .employees__layout {
    --columns: 7;
  }
  .employee:nth-child(7n + 2),
  .employee:nth-child(7n + 4),
  .employee:nth-child(7n + 6) {
    margin-top: calc(8rem - var(--randomOffset) * 2rem);
  }
}

.employee__name {
  max-width: var(--image-width);
  text-align: center;
  margin-top: 1.2rem;
  margin-bottom: 0;
}

.employee__phone {
  text-decoration: none;
  font-size: 1rem;
  color: var(--color-standard__white--text);
  padding: 0.6rem 1.2rem;
  line-height: 1;

  background: linear-gradient(
    to right,
    var(--color-secondary1),
    var(--color-primary__shade1),
    var(--color-secondary2)
  );
  background-size: 200% 200%;
  animation: backgroundPos 2s ease-in-out infinite;
  background-clip: text;
  transition: color 0.2s ease-in-out;
}
.employee__phone:hover {
  color: rgba(0, 0, 0, 0);
}
@keyframes backgroundPos {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

.employee__jobsLinkContainer {
  composes: employee;

  padding-bottom: 4.25rem;
}
.employee__jobsLink {
  display: grid;
  grid-template-rows: var(--image-width);
  grid-template-columns: var(--image-width);
  justify-content: center;
  align-items: center;
  text-decoration: none;
  position: relative;
  transition: opacity 200ms ease-out;
}
.employee__jobsLink p {
  font-size: 1.5rem;
  line-height: 1.7rem;
  max-width: var(--image-width);
  padding: 2rem;
  color: var(--color-secondary1__tint1--text);
  text-align: center;
}
.employee__jobsLink:hover {
  opacity: 0.8;
}

.employee__jobsLink * {
  grid-column: 1/2;
  grid-row: 1/2;
}

.employee__jobsLinkArrow {
  position: absolute;
  bottom: 15%;
  left: 30%;
  width: 40%;
}

@media (max-width: 600px) {
  .employee__jobsLink p {
    font-size: 2.25rem;
    line-height: 2.7rem;
  }
}
