.footerIllustrations {
  background-color: transparent;
  display: flex;
  align-items: flex-end;
  padding-left: 6.5rem;
  gap: 9.3rem;
  position: relative;
  top: 2rem;
  z-index: 0;

  & > .svgLeft {
    width: 283px;
    height: auto;
  }

  & > .svgRight {
    width: 421px;
    height: auto;
  }

  @media (width <= 834px) {
    top: 0;
    padding-left: 5.25rem;
    gap: 10rem;

    & > .svgLeft {
      width: 141px;
    }

    & > .svgRight {
      width: 211px;
    }
  }

  @media (width <= 440px) {
    padding-left: 1.25rem;
    gap: 0;
  }
}
