/* global var */
:root {
  /* Heading */
  --recoleta-font-family: 'Recoleta', serif;
  --heading-font-style: normal;
  --heading-font-weight: 400;
  --heading-font-size: 36px;
  --headig-line-height: 53px;

  /* paragraph */
  --graphik-font-family: 'Graphik Web', Arial, sans-serif;
  --paragraph-font-style: normal;
  --paragraph-font-size: 20px;
  --paragraph-line-height: 32px;

  /* Heading Mobile*/
  --MobileHeading-font-family: 'Recoleta', serif;
  --MobileHeadingfont-style: normal;
  --MobileHeadingfont-weight: 500;
  --MobileHeadingfont-size: 24px;
  --MobileHeadingline-height: 33px;

  /* paragraph mobile*/
  --MobileParagraph-font-size: 16px;
  --MobileParagraph--line-height: 23px;
}
