/* Sections styling */
.section2,
.section4,
.section5,
.section6,
.section7 {
  padding: 10%;
  padding-top: 5%;
  margin-bottom: 0%;
  scroll-snap-align: start;
}

/* SnapScroll */
.scrollContainer {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-x: hidden;
  z-index: 0;
  max-height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y proximity;
  scroll-behavior: smooth;
}

:global(.body-hidden) .scrollContainer {
  overflow-y: hidden;
}

/* global var */
:root {
  /* Heading */
  --recoleta-font-family: 'Recoleta';
  --heading-font-style: normal;
  --heading-font-weight: 400;
  --heading-font-size: 36px;
  --headig-line-height: 53px;

  /* paragraph */
  --graphik-font-family: 'Graphik Web';
  --paragraph-font-style: normal;
  --paragraph-font-size: 20px;
  --paragraph-line-height: 32px;

  /* Heading Mobile*/
  --MobileHeading-font-family: 'Recoleta';
  --MobileHeadingfont-style: normal;
  --MobileHeadingfont-weight: 500;
  --MobileHeadingfont-size: 24px;
  --MobileHeadingline-height: 33px;

  /* paragraph mobile*/
  --MobileParagraph-font-size: 16px;
  --MobileParagraph--line-height: 23px;
}

p {
  font-family: var(--graphik-font-family);
  font-style: var(--paragraph-font-style);
  font-size: var(--paragraph-font-size);
  line-height: var(--paragraph-line-height);
  width: 100%;
}

/* Headings */
.heading {
  font-family: var(--recoleta-font-family);
  font-style: var(--heading-font-style);
  font-weight: var(--heading-font-weight);
  font-size: var(--heading-font-size);
  line-height: var(--headig-line-height);
  margin-bottom: 2%;
}
.calculator_radio-button-wrapper {
  border: none;
}

.bigHeading {
  font-family: 'Recoleta';
  font-style: normal;
  font-weight: 400;
  font-size: 62px;
  line-height: 84px;
  width: 70%;
  margin-bottom: 5%;
}

/* Section1 */
/* Section1 fonts */

.section1 {
  background-color: #1a1837;
  color: white;
  scroll-snap-align: start;
  padding-left: 10%;
  padding-right: 10%;
  height: 100vh;
}

.header {
  height: 80px;
  margin-bottom: 5%;
}

.section1 a {
  color: white;
}

.sommerjobbHeading {
  width: auto;
}

/* Section1 Paragraph */
.section1 p {
  font-family: var(--graphik-font-family);
  font-style: var(--paragraph-font-style);
  font-size: var(--paragraph-font-size);
  line-height: var(--paragraph-line-height);
}

.applyButtonPink a,
.applyButtonBlue a {
  font-family: 'Recoleta';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 50px;
  padding: 1%;
  text-decoration: none;
}

.applyButtonPink a {
  background-color: #f076a6;
  color: #333333;
}

.applyButtonBlue a {
  background-color: #68e9dd;
  color: #333333;
}

.applyButtonPink {
  margin-bottom: 5%;
}

/* Section 1 image*/
.imageBlob1 {
  position: relative;
  left: 60%;
  width: 40%;
  bottom: 410px;
  z-index: 1;
}

.section1BlobSVG {
  position: relative;
  bottom: 400px;
  left: 20%;
  z-index: 0;
  width: 40%;
  height: auto;
}

.moreInfoDiv {
  text-align: center;
  position: relative;
  bottom: 400px;
}

/* Section 3 */

.readMoreArrowWhite {
  position: absolute;
  left: 35%;
}

.arrowDiv {
  width: 100%;
}

/* Section 4 */

.section4 {
  padding-top: 10%;
  height: 1200px;
}

.section4 p {
  position: relative;
  z-index: 2;
}

.wrapper {
  width: 80%;
  margin-bottom: 10%;
  margin-right: 2%;
  position: relative;
  z-index: 1;
}
.wrapper
  [class*='calculator-controls']
  [class*='form-row']
  div
  [class*='radio-button-wrapper'] {
  border: none;
}

.pinkBlobSalarySVG {
  position: relative;
  z-index: 0;
  bottom: 500px;
  right: 100px;
}

.section4Flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10%;
}

.section4Text {
  width: 48%;
}

/* Section 5*/
.section5 {
  background-color: #8b0f40;
  color: white;
}

.section5 p {
  font-family: var(--graphik-font-family);
  font-style: var(--paragraph-font-style);
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;

  width: 50%;
  margin-top: 2%;
}

.graphicContainer {
  position: relative;
  bottom: 200px;
  height: 1500px;
  pointer-events: none;
}

.section5Picture {
  width: 40%;
  z-index: 0;
  position: relative;
  right: 100px;
  bottom: 450px;
}

.section5Blob {
  width: 70%;
}

.section5PictureDiv {
  position: relative;
  bottom: 1270px;
  left: 60%;
}

.timeLine2 {
  width: 100%;
  z-index: 3;
}

/* Section 7 */
.section7 {
  background-color: #fff3f2;
  color: #333;
  height: auto;
}

.imagePositionMobile {
  display: none;
}

.section7 p {
  width: 40%;
}

.section7 a {
  color: #333;
}

.section7Blob {
  z-index: 0;
  position: relative;
  bottom: 1150px;
  left: 45%;
}

.contactMail {
  color: white;
}

.section7Blob {
  position: absolute;
  top: 8000px;
}

.ApplyDiv {
  margin-top: 5%;
}

@media (min-width: 3500px) {
  .section5Picture {
    left: 400px;
    bottom: 1300px;
    bottom: 2800px;
  }

  .section5Blob {
    position: relative;
    left: 200px;
    bottom: 800px;
    width: 70%;
    height: auto;
  }

  .section5PictureDiv {
    display: block;
  }
}

@media (max-width: 2500px) {
  .imageBlob1 {
    position: relative;
    top: -300px;
  }

  .section1BlobSVG {
    position: relative;
    top: -200px;
  }

  .section1Blobs {
    position: static;
    bottom: 300px;
    z-index: 1;
  }
}

@media (min-width: 2050px) {
  .heading {
    font-size: 300%;
  }

  .moreInfoDiv {
    display: none;
  }

  .section1 p {
    font-size: 150%;
    line-height: 150%;
  }

  .section1 {
    height: 1400px;
  }

  .imageBlob1 {
    position: relative;
    bottom: 1000px;
  }

  .section1BlobSVG {
    bottom: 1000px;
  }

  /* Section 4 */
  .section4 {
    height: auto;
  }

  .section4 p {
    font-size: 150%;
    line-height: 150%;
  }

  .section4Flex {
    justify-content: left;
  }

  /* Section 5 */
  .section5 {
    height: 5000px;
  }

  .section5 p {
    font-size: 150%;
    line-height: 150%;
  }

  .timeLine2 {
    width: 100%;
    height: auto;
  }

  .section5PictureDiv {
    display: none;
  }

  .section7 p {
    font-size: 150%;
    line-height: 150%;
  }

  .ApplyDiv a {
    font-size: 150%;
  }
}

@media (min-width: 1919px) {
  .moreInfoDiv {
    bottom: 300px;
  }

  /* Section 5 */
  .section5 p {
    width: 40%;
  }

  .section7Blob {
    top: 8500px;
  }
}

@media (max-width: 1400px) {
  /* Section 6 */
  .timeLine2 {
    display: none;
  }

  .timeLine2Mobile {
    position: relative;
    right: 370px;
    top: 250px;
  }

  .timeLine2Mobile {
    display: none;
  }
}

@media (max-width: 1134px) {
  /* Breakpoint for Lønnskalkulator*/
  .section4Flex {
    display: block;
  }
  .section4Text {
    width: auto;
  }

  .wrapper {
    width: 100%;
  }

  .section1Blob {
    display: none;
  }
}

@media (max-width: 1120px) {
  /* Section 6 */
  .flexTimeline {
    width: auto;
    display: block;
  }

  .readMoreArrowWhite {
    width: 35%;
  }

  .section5PictureDiv {
    bottom: 1100px;
  }
}

@media (max-width: 1080px) {
  .moreInfoDiv {
    bottom: 100px;
  }
}

@media (max-width: 900px) {
  .bigHeading {
    width: 100%;
    font-family: 'Recoleta';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 52px;
  }

  .applyButtonPink a,
  .applyButtonBlue a {
    font-family: 'Recoleta';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 50px;
    padding: 3%;
  }

  .section1Blobs {
    position: static;
  }

  .imageBlob1 {
    margin-top: 5%;
    position: static;
  }
}

@media (max-width: 850px) {
  /* Section 1 */

  .section1 {
    display: flex;
    flex-direction: column;
    height: min-content;
    min-height: 100vh;
  }

  .section1Blobs {
    display: flex;
    flex: 1 1 auto;
    position: relative;
    bottom: 0;
    margin: 5% 0;
  }

  .section1BlobsWrapper {
    margin: auto 0;
    position: relative;
  }

  .moreInfoDiv {
    display: none;
  }

  .imageBlob1 {
    width: 80%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .section1BlobSVG {
    top: 0;
    left: 0;
    width: 80%;
  }
}

/* Mobile */
@media (max-width: 500px) {
  /* Mobile Heading */
  .heading {
    font-family: var(--MobileHeading-font-family);
    font-style: var(--MobileHeadingfont-style);
    font-weight: var(--MobileHeadingfont-weight);
    font-size: var(--MobileHeadingfont-size);
    line-height: var(--MobileHeadingline-height);
    margin-bottom: 10%;
  }

  p,
  .section1 p,
  .section5 p,
  .section6 p {
    font-size: var(--Mobileparagraph-font-size);
    line-height: var(--MobileParagraph--line-height);
  }

  /* Section 1*/

  .sommerjobbHeading {
    width: 100%;
  }
  .section1Blob {
    display: block;
    position: relative;
    top: 700px;
    right: 200px;
  }

  .fastjobbheading {
    width: fit-content;
  }

  .pinkBlobSalarySVG {
    width: 800px;
    right: 300px;
    bottom: 400px;
  }

  /* Section 5 */
  .section5 p {
    width: auto;
  }

  .section5PictureDiv {
    bottom: 1050px;
    left: 120px;
  }

  .section5Picture {
    width: 80%;
    bottom: 400px;
  }

  .section5Blob {
    width: 300px;
  }

  /* Section 7 */
  .section7 p {
    width: 100%;
  }

  .imagePositionMobile {
    display: block;
  }

  .imagePositionDesktop {
    display: none;
  }

  .section7Blob {
    width: 100%;
    height: auto;
    top: 9050px;
    z-index: 0;
    left: 0px;
  }
}
