/* Sections styling */
.section2,
.section4,
.section5,
.section6,
.applySection {
  scroll-snap-align: start;
  padding: 4rem;
  min-height: calc(100vh - 8rem);
}

/* SnapScroll */
.scrollContainer {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-x: hidden;
  z-index: 0;
  max-height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y proximity;
  scroll-behavior: smooth;
}

:global(.body-hidden) .scrollContainer {
  overflow-y: hidden;
}

/* global var */
:root {
  /* Heading */
  --recoleta-font-family: 'Recoleta';
  --heading-font-style: normal;
  --heading-font-weight: 400;
  --heading-font-size: 36px;
  --headig-line-height: 53px;

  /* paragraph */
  --graphik-font-family: 'Graphik Web';
  --paragraph-font-style: normal;
  --paragraph-font-size: 20px;
  --paragraph-line-height: 32px;

  /* Heading Mobile*/
  --MobileHeading-font-family: 'Recoleta';
  --MobileHeadingfont-style: normal;
  --MobileHeadingfont-weight: 500;
  --MobileHeadingfont-size: 24px;
  --MobileHeadingline-height: 33px;

  /* paragraph mobile*/
  --MobileParagraph-font-size: 16px;
  --MobileParagraph--line-height: 23px;
}

p {
  font-family: var(--graphik-font-family);
  font-style: var(--paragraph-font-style);
  font-size: var(--paragraph-font-size);
  line-height: var(--paragraph-line-height);
  width: 100%;
}

/* Headings */
.heading {
  font-family: var(--recoleta-font-family);
  font-style: var(--heading-font-style);
  font-weight: var(--heading-font-weight);
  font-size: var(--heading-font-size);
  line-height: var(--headig-line-height);
  margin-bottom: 2%;
}
.calculator_radio-button-wrapper {
  border: none;
}

/* Section 3 */

.readMoreArrowWhite {
  position: absolute;
  left: 35%;
}

.arrowDiv {
  width: 100%;
}

/* Section 4 */

.section4 {
  padding-top: 10%;
  min-height: 100vh;
}

.section4Text,
.section44Calculator {
  width: calc(50% - 2rem);
}

.section4Calculator {
  position: relative;
  max-width: 28rem;
}

.calculatorWrapper {
  width: 80%;
  max-width: 23rem;
  margin: 0 4rem;
  position: relative;
  z-index: 1;
}

.pinkBlobWrapper svg {
  width: 100%;
  height: 100%;
}

.wrapper
  [class*='calculator-controls']
  [class*='form-row']
  div
  [class*='radio-button-wrapper'] {
  border: none;
}

.pinkBlobWrapper {
  position: absolute;
  top: -2rem;
  left: 1rem;
  width: 90%;
}

.pinkBlobSalarySVG {
  z-index: 0;
}

.section4Flex {
  display: flex;
  flex-direction: row;
  gap: 4rem;
}

@media (max-width: 1110px) {
  .section4Flex {
    flex-direction: column;
    gap: 4rem;
  }
  .section4Text,
  .section4Calculator {
    width: 100%;
  }

  .section4Calculator {
    margin: auto;
  }
}

/* Section 5*/
.section5 {
  background-color: #8b0f40;
  color: white;
  min-height: 100vh;
  overflow: hidden;
}
.section5Flex {
  display: flex;
  flex-direction: row;
  gap: 4rem;
}

.section5Text,
.graphicContainer {
  width: calc(50% - 2rem);
}

.graphicContainer {
  margin-top: -4rem;
}

.timelineNarrow {
  height: 100%;
  width: 100%;
  max-height: 86vh;
}

.section5PictureDiv {
  width: 100%;
  height: 100%;
  display: flex;
}

.section5Picture {
  margin: auto 0;
  display: flex;
  z-index: 10;
  width: 90%;
  margin-left: -2rem;
  max-width: 800px;
  position: inherit;
}

.section5PictureWrap {
  position: relative;
  margin: auto 0;
}

.section5BlobWrapper {
  position: absolute;
  left: -15rem;
  bottom: -9rem;
  transform: rotate(-145deg);
  width: 130%;
}

.section5Blob {
  width: 100%;
  height: 100%;
}

.section5 p {
  font-family: var(--graphik-font-family);
  font-style: var(--paragraph-font-style);
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  margin-top: 2%;
}

.timelineNarrow,
.timelineWide {
  width: 100%;
}

@media (max-width: 1700px) {
  .graphicContainer {
    margin: auto 0;
  }
}

@media (max-width: 1310px) {
  .section5Flex {
    flex-direction: column;
  }

  .section5Text,
  .graphicContainer {
    width: 100%;
  }

  .section5PictureDiv {
    display: none;
  }
}

@media (max-width: 800px) {
  .timelineNarrow {
    height: 100%;
  }
}

@media (min-width: 3500px) {
  .section5Picture {
    left: 400px;
    bottom: 1300px;
    bottom: 2800px;
  }

  .section5Blob {
    position: relative;
    left: 200px;
    bottom: 800px;
    width: 70%;
    height: auto;
  }

  .section5PictureDiv {
    display: block;
  }
}

@media (min-width: 2050px) {
  .heading {
    font-size: 300%;
  }
}

@media (max-width: 1400px) {
  /* Section 6 */
  .timeLine2 {
    display: none;
  }

  .timeLine2Mobile {
    position: relative;
    right: 370px;
    top: 250px;
  }

  .timeLine2Mobile {
    display: none;
  }
}

@media (max-width: 1120px) {
  /* Section 6 */
  .flexTimeline {
    width: auto;
    display: block;
  }

  .readMoreArrowWhite {
    width: 35%;
  }
}

/* Mobile */
@media (max-width: 500px) {
  /* Mobile Heading */
  .heading {
    font-family: var(--MobileHeading-font-family);
    font-style: var(--MobileHeadingfont-style);
    font-weight: var(--MobileHeadingfont-weight);
    font-size: var(--MobileHeadingfont-size);
    line-height: var(--MobileHeadingline-height);
    margin-bottom: 10%;
  }

  p,
  .section5 p,
  .section6 p {
    font-size: var(--Mobileparagraph-font-size);
    line-height: var(--MobileParagraph--line-height);
  }

  /* Section 1*/

  .sommerjobbHeading {
    width: 100%;
  }

  .fastjobbheading {
    width: fit-content;
  }

  .pinkBlobSalarySVG {
    width: 800px;
    right: 300px;
    bottom: 400px;
  }
}
