.tur {
  background: #ede8d7;
  color: var(--color-standard__black);
  margin: 0;
  padding: 0;
  font-family: 'Graphik Web';
  min-height: 100vh;
  overflow: auto;
}

.tur h1,
.tur h2,
.tur h3 {
  font-family: 'Recoleta';
}

.tur h2 {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
}

.tur p {
  max-width: 50rem;
  font-size: 16px;
  margin-top: 1.5rem;
  font-weight: 400;
}

.tur li {
  margin-bottom: 2rem;
}

.tur time {
  display: inline-block;
  width: 4rem;
  margin-right: 3rem;
}

.tur a {
  all: unset;
  color: #fff;
  cursor: pointer;
  font-weight: 500;
  z-index: 10;
}

.navigation {
  color: var(--color-standard__black);
  margin-top: 3rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10%;
  align-items: baseline;
}

.navigation span {
  color: var(--color-standard__black);
  padding: 0 6px 0 0;
  font-weight: 400;
  font-family: 'Graphik Web';
}

.navigation img {
  vertical-align: middle;
}

html {
  scroll-behavior: smooth;
}

.bigblobs {
  min-width: 100%;
  z-index: auto;
  margin-top: -10%;
}

.secondbigblobs {
  margin-bottom: -30%;
  min-width: 100%;
  z-index: auto;
  margin-top: -10%;
}

body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scrolling */
  scroll-snap-type: none;
}

.bop {
  display: flex;
  justify-content: center;
  margin-bottom: -10%;
  max-width: 100%;
  overflow: hidden;
  min-width: 20%;
  min-height: 50%;
}

.program h3 {
  display: flex;
  justify-content: center;
}
