.backgroundContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
  overflow: hidden;
}

.background__item {
  position: relative;
  width: 60rem;
  height: 60rem;
}

.tur {
  background: #ede8d7;
  color: var(--color-standard__black);
  margin: 0;
  padding: 0;
  font-family: 'Graphik Web';
  min-height: 100vh;
  overflow: hidden;
}

.tur h1,
.tur h2,
.tur h3 {
  font-family: 'Recoleta';
}

.bunninfo h2 {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
}

.tilbake {
  color: var(--color-standard__black);
  margin-top: 3rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.tilbake span {
  color: var(--color-standard__black);
  padding: 0 6px 0 0;
  font-weight: 400;
  font-family: 'Graphik Web';
}

.tilbake img {
  vertical-align: middle;
}

.tilbake a {
  margin-left: 6rem;
  margin-right: 4rem;
}

.navigation a {
  all: unset;
  cursor: pointer;
  z-index: 10;
  margin-left: 6rem;
  margin-right: 4rem;
  text-decoration: none;
}

.navigation {
  color: var(--color-standard__black);
  margin-top: 3rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navigation span {
  color: var(--color-standard__black);
  padding: 0 6px 0 0;
  font-weight: 400;
  font-family: 'Graphik Web';
}

.navigation img {
  vertical-align: middle;
}

html {
  scroll-behavior: smooth;
  background-color: #ede8d7;
}

.bigblobsss {
  composes: background__item;
  top: 70rem;
  left: calc(50% - 26rem);
  width: 80rem;
}

.bigblobs {
  composes: background__item;
  width: 100%;
  margin-bottom: 15rem;
  margin-top: -6rem;
}

.bigblobtekst {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 70%;
  z-index: 10;
  margin-left: 30%;
  transform: translateY(-300%);
}

.overlay {
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -5%;
  padding: 5rem 12% 0 12%;
}

.overlay p {
  font-size: 0.9rem;
}

.latter {
  min-width: 40%;
  margin-left: 4rem;
}

.secondbigblobs {
  min-width: 100vh;
  z-index: auto;
  bottom: 0;
}

.secondbigblobs2 {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.secondbigblobs2 img {
  position: relative;
  display: block;
}

.resortbottom {
  min-width: 25%;
  margin-top: -6%;
  margin-left: 10%;
}

.bunninfo {
  background: var(--Secondary-4-L2, #f4f1e7);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-top: -1%;
  padding: 3rem 10% 10% 10%;
}
.bunninfo h2 {
  margin-bottom: 1.5rem;
}
.bunninfotekst {
  width: 25%;
}

.bold {
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2rem;
}
.bop {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  width: 20%;
  z-index: 10;
  margin: 0 auto;
}

.bop img {
  /* Or another appropriate value */
  height: auto; /* Maintain aspect ratio */
}

.program {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.program h3 {
  font-size: 3rem;
}

.programbold {
  font-weight: 600;
}

.italic {
  font-style: italic;
}
.underlined {
  text-decoration: underline;
  text-decoration-color: var(--Primary-Default, #e61a6b);
  text-decoration-thickness: 2px;
  text-underline-offset: 6px;
}

details > summary {
  list-style: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}

details > summary::-webkit-details-marker {
  display: none;
}

.summaryText {
  margin-right: 8px; /* Adjust spacing as needed */
}

.disclosureArrow {
  display: absolute;
  width: 22px;
  height: 22px;
  background-image: url('./images/arrow-downpink.svg'); /* Default to the down arrow */
  background-size: cover;
  transition: background-image 0.3s ease;
}

/* Change the arrow image when the details are open */
details[open] .disclosureArrow {
  background-image: url('./images/arrow-uppink.svg');
}

.pl_9 {
  margin-bottom: -3%;
  margin-left: 9rem;
}

.font-color {
  color: var(--color-standard__black);
}

@media (max-width: 500px) {
  .navigation {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    font-size: 1.25rem;
  }

  .navigation > a {
    margin-bottom: 1.5rem;
    margin-left: 0;
    margin-right: 0;
  }

  .program h3 {
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
  }

  .program h2 {
    font-family: 'Graphik Web';
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2rem; /* 160% */
  }

  .pl_9 {
    margin: 0;
    margin-left: 2rem;
    display: flex;
  }
  .bigblobs {
    min-width: 230%;
    min-height: 100%;
    margin: -40% 0 110% 50%;
    transform: translateX(-30%);
  }

  .secondbigblobs {
    margin-bottom: -40%;
  }

  .bunninfo {
    flex-direction: column;
    margin-top: -2%;
  }

  .bunninfotekst {
    min-width: 100%;
  }

  .resortbottom {
    margin-top: 3rem;
    min-width: 100%;
  }
  .bop {
    width: 38%;
  }
  .bop img {
    min-width: 100%;
  }

  .overlay {
    flex-direction: column;
    justify-content: center;
  }
  .latter {
    min-width: 100%;
    margin: 20% 0 20% 0;
  }

  .disclosureArrow {
  }
  .summaryText {
    width: 13rem;
  }

  .tingogtangheader {
    margin-top: 0;
  }
}
