.tur {
  background: #ede8d7;
  margin: 0;
  padding: 0;
  font-family: 'Graphik Web', Arial, sans-serif;
  min-height: 100vh;
  overflow: hidden;
}
@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  span,
  p {
    font-size: 1rem;
  }
}
.tur h1,
.tur h2,
.tur h3 {
  font-family: 'Recoleta', serif;
}
html {
  scroll-behavior: smooth;
}

.tilbake {
  color: var(--color-standard__black);
  margin-top: 1rem;
  width: 30%;
  z-index: 1;
  display: flex;
  gap: 5%;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.tilbake span {
  color: var(--color-standard__black);
  padding: 0 6px 0 0;
  font-weight: 400;
  font-family: 'Graphik Web', Arial, sans-serif;
}

.tilbake img {
  vertical-align: middle;
}

.tilbake a {
  margin-left: 6rem;
  margin-right: 4rem;
  text-decoration: none;
}
.tingogtangheader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  text-wrap: wrap;
  margin-bottom: 3rem;
}

.blobstyle {
  position: absolute;
  left: -50px;
  z-index: -1;
  min-width: 30%;
}

.tingogtangbody {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tt_textbox {
  flex-direction: column;
  max-width: 60%;
}

.tt_textbox span {
  display: inline-block;
  font-size: 1rem;
}

.ttheadertittel {
  z-index: 10;

  position: relative;
}

.snokimg {
  margin-right: -7%;
  margin-top: -5%;
  min-width: 45%;
}

h4 {
  font-weight: 450;
}

.omHotellet a,
.pakkeliste a {
  all: unset;
  text-underline-offset: 2px !important;
  text-decoration: underline !important;
  text-decoration-thickness: 2px !important;
  text-decoration-color: #e61a6b !important;
  cursor: pointer;
  color: #e61a6b;
}

.pakkeliste {
  margin: 5rem 2rem 0rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.koseimg {
  width: 50%;
}
.koseimg img {
  width: 90%;
}

.utsiktsblob {
  margin-top: -2rem;
}
.squiggly {
  padding-top: 3rem;
}
.arrowtoblob {
  gap: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 10rem;
  margin-left: -3%;
  margin-top: 3rem;
  z-index: 1;
}

.aktivitetsblob img {
  margin: -13rem;
}
.aktivitetstekst {
}
.aktivitetene {
  margin: 5rem 2rem 0rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.bop {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  width: 25rem;
  z-index: 10;
  margin: 0 auto;
}

.bop img {
  /* Or another appropriate value */
  height: auto; /* Maintain aspect ratio */
}

@media (max-width: 500px) {
  .blobstyle {
    left: -50px;
    min-width: 40%;
  }
  .tilbake {
    margin: 0;
    margin-bottom: 1rem;
    align-items: center;
  }
  .tilbake img {
    width: 20%;
    vertical-align: middle;
  }
  p {
    line-height: 2rem;
    font-size: 1rem;
  }

  .ttheadertittel {
    min-width: 100%;
    z-index: 1;
  }
  .ttheadertittel h3 {
    z-index: 1;
  }
  .tingogtangheader h3 {
    font-size: 1.675rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.4375rem; /* 130% */
    text-wrap: wrap;
  }
  .tingogtangheader {
    z-index: 1;
    margin-top: 10%;
    margin-bottom: 5rem;
  }

  .tingogtangbody {
    margin-top: 5%;
    flex-direction: column;
  }
  .tt_textbox {
    max-width: 100%;
    font-size: 1rem;
    font-style: normal;
    line-height: 2rem;
  }

  .snokimg {
    min-width: 220%;
    margin-left: -14%;
    margin-top: -20%;
    margin-bottom: -30%;
  }
  .pakkeliste {
    flex-direction: column;
  }
  .koseimg {
    width: 80%;
    position: relative;
    top: -7rem;
    right: -70%;
  }
  .koseimg img {
    width: 100%;
    position: absolute;
  }

  .aktivitetene {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    margin: 5rem 0rem 0rem 0;
  }
  .aktivitetstekst {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  .aktivitetene a {
    width: 70%;
    display: flex;
  }
  .mobilearrowblob {
    display: flex;
    min-width: 100%;
    margin-top: -1rem;
  }

  .arrowtoblob {
    margin-top: 3rem;
    flex-direction: row-reverse;
    align-items: center;
  }
  .squiggly {
    padding-top: 0;
    margin-top: -12rem;
    margin-left: -5rem;
  }
  .utsiktsblob {
    margin: 5rem 0 5rem 0;
    width: 160%;
    position: relative;
    left: -6rem;
  }
  .utsiktsblob img {
    width: 100%;
  }
  .bop {
    width: 192px;
  }
}
