.container {
  background-color: var(--color-primary__shade1);
  color: var(--color-standard__white);
}

.topContainer {
  position: relative;
  height: 12rem;
}

.blobContainer {
  position: absolute;
}

a {
  color: white !important;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.backLink {
  display: flex;
  position: absolute;
  z-index: 10;
  top: 2rem;
  left: 2rem;
}

.headerContainer {
  position: absolute;
  z-index: 10;
  top: 4rem;
  left: 2rem;
}

.tipContainer {
  display: flex;
  flex-direction: column-reverse;
  padding: 3rem 2rem;
}

.reverseTipContainer {
  composes: tipContainer;
}

.tipText {
  width: 100%;
  margin-bottom: 1rem;
}

.tipLink {
  justify-content: flex-start;
}

.tipLink svg {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 1rem;
}

.tipImage {
  width: 100%;
}

@media (min-width: 768px) {
  .topContainer {
    height: 15rem;
    margin-bottom: 5rem;
    margin-left: 7rem;
  }

  .backLink {
    left: 8rem;
  }

  .headerContainer {
    top: 8rem;
    left: 8rem;
  }

  .blobContainer {
    width: 50%;
  }

  .tipContainer {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 3rem;
  }

  .reverseTipContainer {
    flex-direction: row-reverse;
  }

  .tipImage {
    width: 50%;
  }

  .tipText {
    width: 30%;
  }
}
