.article {
  display: flex;
  flex-direction: column;
  background: var(--background-bg-light-primary);
  overflow: hidden;

  /* side-padding is set to 0 for scrollable tablist */
  padding: 5rem 0;

  @media (min-width: 1024px) {
    align-items: center;
    padding: 10rem 7.5rem;
  }
}

.wrapper {
  width: 100%;
  max-width: var(--max-content-width-medium);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* side-padding is added to title and content */
.sidePadding {
  @media (max-width: 1024px) {
    padding-inline: 2rem;
  }
}

.tabSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-self: stretch;

  @media (min-width: 1024px) {
    flex-direction: row;
    gap: 3rem;
  }
}

.tabList {
  flex: 1;
  display: inline-flex;
  list-style: none;
  gap: 1rem;

  margin: 0;
  padding: 0;

  @media (max-width: 1024px) {
    padding-left: 2rem;
    padding-top: 4px;
    padding-bottom: 8px;
    overflow-x: auto;
    scrollbar-width: none; /* Firefox */
    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
      display: none;
    }
  }

  @media (min-width: 1024px) {
    flex-direction: column;
    max-width: 420px;
    width: 100%;
  }

  & > li {
    @media (min-width: 1024px) {
      width: 100%;
    }
  }
}

.tab {
  all: unset;
  z-index: 1;
  position: relative;
  display: flex;
  padding: 0.5rem;
  background-color: var(--background-bg-light-primary);
  color: var(--text-primary);
  font-family: var(--font-britti-sans);
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.9375rem;
  outline: none;
  border: none;
  white-space: nowrap;
  cursor: pointer;
  transition:
    color 100ms,
    background-color 100ms;
  @media (min-width: 1024px) {
    width: 100%;
  }

  &:hover {
    background-color: var(--background-bg-light-secondary);

    &:after {
      background-color: var(--background-bg-light-secondary);
    }
  }

  &:active {
    background-color: var(--background-bg-light-primary);

    &:after {
      background-color: var(--background-bg-light-primary);
    }
  }

  &:focus {
    outline: 2px solid var(--stroke-primary);
    border-radius: 0.9375rem;
  }

  &:after {
    z-index: -1;
    content: "";
    width: 0.975rem;
    height: 0.975rem;
    transform: rotate(45deg);
    background-color: var(--background-bg-light-primary);
    border-radius: 0.125rem;
    position: absolute;
    transition:
      left 100ms,
      right 100ms,
      bottom 100ms,
      background-color 100ms,
      color 100ms;
  }

  @media (max-width: 1024px) {
    &:after {
      left: 5.37306rem;
      bottom: 0.1rem;
    }
  }

  @media (min-width: 1024px) {
    &:after {
      right: 0.06238rem;
      bottom: 40%;
    }
  }
}

.selected {
  color: var(--background-bg-light-primary);
  transition:
    color 100ms,
    background-color 100ms;

  &:after {
    left: 50%;
    transition:
      left 100ms,
      right 100ms,
      bottom 100ms,
      background-color 100ms,
      color 100ms;
  }

  @media (max-width: 1024px) {
    &:after {
      bottom: -0.31638rem;
    }
  }

  @media (min-width: 1024px) {
    &:after {
      bottom: 40%;
    }
  }

  &:focus {
    outline: 2px solid #3995ef;
    border-radius: 0.9375rem;
  }
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.125rem;
  min-width: 140px;
}

.image {
  width: 7rem;
  height: 3rem;
  flex-shrink: 0;

  border-radius: 0.625rem;
  overflow: hidden;
}

.avatar {
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 3.125rem;
  overflow: hidden;

  @media (min-width: 1024px) {
    width: 4rem;
    height: 4rem;
    flex-shrink: 0;
  }
}

.title {
  font-size: 1.375rem;
  font-weight: 500;
  line-height: 100%;

  @media (min-width: 1024px) {
    font-size: 1.625rem;
  }
}

.subTitle {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: normal;

  @media (min-width: 1024px) {
    font-size: 1rem;
  }
}

.contentWrapper {
  flex: 2;
  position: relative;
  min-height: 220px;
}

.content {
  composes: sidePadding;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  outline: none;
  opacity: 0;

  position: absolute;
  visibility: hidden;
  transition: opacity 100ms ease-in-out height 100ms ease-in-out;

  @media (min-width: 1024px) {
    padding-inline: 0;
  }
}

.content.visible {
  opacity: 1;
  visibility: visible;
  position: relative;
  transition: opacity 100ms ease-in-out height 100ms ease-in-out;
}
