.outerWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 10rem 5rem;
  gap: 3rem;
  width: 100%;
  max-width: var(--max-content-width-large);
}

.text {
  max-width: var(--max-content-width-large);
}

.compensationWrapper {
  display: flex;
  flex-direction: column;
  max-width: var(--max-content-width-large);
  gap: 2rem;
}
