.outerWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 6rem 3rem;
  gap: 3rem;
  width: 100%;
  max-width: var(--max-content-width-large);

  @media (width <= 834px) {
    padding: 10rem 0;
  }
}
