.outerWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 6rem 3rem;
  gap: 3rem;
  width: 100%;
  max-width: var(--max-content-width-large);

  @media (max-width: 834px) {
    padding: 10rem 0;
  }
}

.calculatorWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.compensationTitleWrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

@media (min-width: 834px) {
  .calculatorWrapper {
    flex-direction: row;
  }
}
