.wrapper {
  display: flex;
}

.wrapper input {
  padding-left: 0.5rem;
  border-left: none;
}

.prefixWrapper + * * {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.prefixWrapper {
  background-color: rgb(246, 246, 248);
  border-radius: 4px 0 0 4px;
  padding: 0.375rem 0.5rem 0.375rem 0.5rem;
  border: 1px solid rgb(225, 226, 230);
  border-right: none;
}

[data-scheme="dark"] .prefixWrapper {
  background-color: rgb(25, 26, 36);
  border: 1px solid rgb(41, 44, 61);
  border-right: none;
  color: white;
}
