.footerSection {
  /* NOTE: Padding top might be removed(Was in figma sketches) */
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.12rem;

  @media (min-width: 802px) {
    padding-top: 0;
  }
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.linkColumn {
  composes: list;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  min-width: 160px;
  max-width: 300px;

  @media (min-width: 1024px) {
    min-width: 260px;
    max-width: 440px;
  }
}
