# ENV KEYS FOR UNIQUE STUDIO
NEXT_PUBLIC_SANITY_PROJECT_ID=<Your Sanity Project ID>
NEXT_PUBLIC_SANITY_DATASET=<Your Sanity Dataset>
NEXT_PUBLIC_SANITY_API_VERSION=<Your Sanity API Version>
SANITY_API_TOKEN_DEV=<Your Sanity API Developer Token>
SANITY_API_TOKEN_PROD=<Your Sanity API Viewer Token>

# Preview/Draft mode secret (generate a random string, should be the same for both env variables)
SANITY_PREVIEW_SECRET=<Random secret string for preview authentication>
NEXT_PUBLIC_SANITY_STUDIO_PREVIEW_SECRET=<Random secret string for preview authentication>

# ENV KEYS FOR SHARED STUDIO
NEXT_PUBLIC_SANITY_SHARED_PROJECT_ID=<Your Sanity SHARED Project ID>
NEXT_PUBLIC_SANITY_SHARED_DATASET=<Your Sanity SHARED Dataset>
NEXT_PUBLIC_SANITY_SHARED_API_VERSION=<Your Sanity SHARED API Version>
SANITY_SHARED_API_TOKEN_DEV=<Your Sanity SHARED API Developer Token>
SANITY_SHARED_API_TOKEN_PROD=<Your Sanity SHARED API Viewer Token>