# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# ide
.vscode
.idea
.iml

# file system
.DS_Store

# dependencies
/node_modules
/.npm
/.pnp
.pnp.js
.yarn/install-state.gz

# logs
*.log

# local env files
.env*.local

# testing
/coverage
junit.xml

# next.js
/.next/
/out/

# production
/build

# misc
*.pem

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
