.benefits {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  max-width: var(--max-content-width-medium);
  padding-top: 4rem;
}

.benefitWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
