.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: var(--padding-l) 0rem;

  @media (max-width: 834px) {
    padding: var(--padding-l) 0rem;
  }

  @media (max-width: 425px) {
    padding: 0rem;
  }
}

.shared {
  width: 100%;
  max-width: 70.125rem;
  display: flex;
  flex-direction: column;
}

.secondary {
  composes: shared;
  align-self: center;
  padding: var(--padding-xl) var(--padding-rem);
  gap: var(--padding-rem);

  @media (max-width: 834px) {
    padding: var(--padding-l) var(--padding-s);
  }

  @media (max-width: 425px) {
    padding: var(--padding-l) var(--padding-s);
  }
}

.image {
  width: 100%;
  /* max-width: 30rem; */
  justify-content: flex-end;
  display: flex !important;
  padding: var(--padding-xl) var(--padding-rem) var(--padding-rem)
    var(--padding-rem);

  max-width: 46rem !important;
  margin-left: auto;

  @media (max-width: 834px) {
    padding: var(--padding-l) var(--padding-rem) var(--padding-rem)
      var(--padding-rem);
  }

  @media (max-width: 425px) {
    padding: var(--padding-s) var(--padding-rem) var(--padding-rem)
      var(--padding-rem);
  }
}

.image img {
  display: block;
  width: 100%;
  height: 100%;
}

.primary {
  composes: shared;
}
