.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: var(--padding-l) 0rem;

  @media (max-width: 834px) {
    padding: var(--padding-l) 0rem;
  }

  @media (max-width: 425px) {
    padding: 0rem;
  }
}

.shared {
  width: 100%;
  max-width: 70.125rem;
  display: flex;
  flex-direction: column;
}

.secondary {
  composes: shared;
  align-self: center;
  padding: var(--padding-xl) var(--padding-rem);
  gap: var(--padding-rem); 

  @media (max-width: 834px) {
    padding: var(--padding-l) var(--padding-s);
  }

  @media (max-width: 425px) {
    padding: var(--padding-l) var(--padding-s);
  }
}

.img{
  width: 100%;
  max-width: 60rem;
  justify-content: flex-end;
  display: flex !important; 
}

.primary {
  composes: shared;
}
