.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: var(--padding-l) 0rem;
}

.shared {
  width: 100%;
  max-width: 70.125rem;
  display: flex;
  flex-direction: column;
}

.secondary {
  composes: shared;
  align-self: center;
  padding: var(--padding-xl) var(--padding-rem);
}

.primary {
  composes: shared;
}

