.sayHi {
  position: relative;
  text-align: right;
}
.sayHi {
  display: block;
  opacity: 1;
  transition: opacity 200ms ease-out;
  max-width: 100%;
}
.sayHi:hover {
  opacity: 0.8;
}
.sayHi img {
  display: block;
  margin-left: auto;
  max-width: 100%;
}

.text {
  position: absolute;
  top: 20%;
  right: 10%;
  transform: rotate(45deg);
  color: var(--color-secondary1--text);
  text-decoration: none;
  font-size: 1.2rem;
}

@media (max-width: 600px) {
  .sayHi {
    display: none;
  }
}
