:where(
  .desktopLink,
  .titleXL,
  .titleL,
  .titleM,
  .titleS,
  .titleXS,
  .h6,
  .subtitle
) {
  margin: 0;
  font-family: var(--font-britti-sans);
}

.label,
.quoteItalic,
.quoteNormal,
.bodyExtraSmall,
.description,
.normal,
.lead,
.caption,
.list {
  font-family: var(--font-britti-sans);
}

.titleXL {
  font-weight: 450;
  font-size: clamp(2.5rem, 6vw + 1rem, 4.5rem);
  line-height: 1.11em;
}

.titleL {
  font-size: clamp(2rem, 4vw + 1rem, 3.5rem);
  font-weight: 450;
  line-height: 1.1429em;
}

.titleM {
  font-size: clamp(1.5rem, 3vw + 0.5rem, 2rem);
  font-weight: 450;
  line-height: 1.25em;
}

.titleS {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 450;
  line-height: 1.333em;
}

.titleXS {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 450;
  line-height: 1.2em;
}

.desktopLink {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5em;
  text-decoration-line: underline;
}

.subtitle {
  font-size: clamp(2rem, 3vw + 1rem, 2.5rem);
  font-weight: 300;
  letter-spacing: 0.025rem;
  line-height: 1.2em;
}

.lead {
  font-size: clamp(1.125rem, 1.75vw + 0.5rem, 1.5rem);
  font-style: normal;
  font-weight: 300;
  line-height: 1.3333em;
}

.normal {
  font-size: clamp(0.875rem, 2vw + 0.35rem, 1.125rem);
  font-style: normal;
  font-weight: 300;
  line-height: 1.6em;
  letter-spacing: 0.0125rem;
}

.description {
  font-size: clamp(0.875rem, 2vw + 0.35rem, 1rem);
  font-weight: 300;
  line-height: clamp(1.1429em, 2vw + 0.5rem, 1.5em);
}

.bodyExtraSmall {
  font-size: clamp(0.75rem, 1vw + 0.5rem, 0.875rem);
  font-weight: 400;
  line-height: 1.2857em;
  letter-spacing: 0.0088rem;
}

.label {
  font-size: clamp(0.875rem, 2vw + 0.35rem, 1rem);
  font-style: normal;
  font-weight: 300;
  line-height: 1.1429em;
  letter-spacing: 0.02rem;
}

.labelL {
  font-size: clamp(1.125rem, 2vw + 0.5rem, 1.25rem);
  font-style: normal;
  font-weight: 400;
  line-height: 1.2em;
}

.quoteNormal {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3em;
  white-space: pre-line;
}

.quoteItalic {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.3em;
  white-space: pre-line;
}

.caption {
  font-size: var(--Font-size-Picture-label, 1rem);
  font-style: normal;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.05rem;
  padding: 0 0.5rem;
}

.italic {
  font-style: italic;
}

.dark {
  color: var(--text-primary);
}

.light {
  color: var(--text-primary-light);
}

.tertiary {
  color: var(--text-tertiary);
}

.error {
  color: var(--Red-500);
}
