:where(.desktopLink, .h1, .h2, .h3, .h4, .h5, .h6, .bodyXl) {
  margin: 0;
  font-family: var(--font-britti-sans);
}

.labelRegular,
.quoteItalic,
.quoteNormal,
.bodyExtraSmall,
.bodySmall,
.bodyNormal,
.bodyBig,
.list {
  font-family: var(--font-britti-sans);
  line-height: 140%;
}

.h1 {
  font-size: 4.5rem;
  font-style: normal;
  font-weight: 450;
  line-height: 111.111%;

  @media (max-width: 834px) {
    font-size: 3.5rem;
    line-height: 114.286%;
  }

  @media (max-width: 425px) {
    font-size: 2.5rem;
    line-height: 120%;
  }
}

.h2 {
  font-size: 3.5rem;
  font-weight: 450;
  line-height: 114.286%;

  @media (max-width: 834px) {
    font-size: 2.5rem;
    line-height: 120%;
  }

  @media (max-width: 425px) {
    font-size: 2rem;
    line-height: 125%;
  }
}

.h3 {
  font-size: 2rem;
  font-weight: 450;
  line-height: 125%;

  @media (max-width: 425px) {
    font-size: 1.5rem;
    line-height: 133.333%;
  }
}

.h4 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 450;
  line-height: 133.3%;
}

.h5 {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 450;
  line-height: 120%;
}

.desktopLink {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-decoration-line: underline;
}

.bodyXl {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 120%;
  letter-spacing: 0.025rem;

  @media (max-width: 425px) {
    font-size: 2rem;
    line-height: 125%;
  }
}

.bodyBig {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: 133.333%;

  @media (max-width: 425px) {
    font-size: 1.125rem;
    line-height: 120%;
  }
}

.bodyNormal {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 300;
  line-height: 160%;
  letter-spacing: 0.0125rem;

  @media (max-width: 425px) {
    font-size: 0.875rem;
    line-height: 120%;
  }
}

.bodySmall {
  font-size: 1rem;
  font-weight: 300;
  line-height: 150%;

  @media (max-width: 425px) {
    font-size: 0.875rem;
    line-height: 114.286%;
  }
}

.bodyExtraSmall {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 128.571%;
  letter-spacing: 0.00875rem;

  @media (max-width: 425px) {
    font-size: 0.75rem;
    line-height: 150%;
    letter-spacing: 0.0075rem;
  }
}

.labelRegular {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.02rem;

  @media (max-width: 425px) {
    font-size: 0.875rem;
    line-height: 128.571%;
  }
}

.labelLarge {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;

  @media (max-width: 425px) {
    font-size: 1.125rem;
    line-height: 133.333%;
  }
}

.quoteNormal {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  white-space: pre-line;
}

.quoteItalic {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 400;
  line-height: 130%;
  white-space: pre-line;
}
