/* Make sure text is not hidden by blobs with some screen resolutions */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  z-index: 1;
}

.logoblob {
  grid-area: logo;
  width: 450px;
}

.otherJobsLink {
  position: absolute;
  top: 3rem;
  right: 3rem;
  color: black;
}

h3 {
  font-family: 'Recoleta', serif;
}

.splashSection {
  position: relative;
  min-height: 100vh;
  padding: 8rem;
  display: grid;
  grid-template-columns: 40% 20% 40%;
  grid-template-rows: 100%;
  grid-template-areas: 'center-left . center-right';
  overflow-x: hidden;
  overflow-y: hidden;
}

.leftText,
.rightText {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: left;
}

.leftText {
  grid-area: center-left;
}

.rightText {
  grid-area: center-right;
}

.firstSection {
  composes: splashSection;
  padding: 0;
  background-color: #fad2e2;
  grid-template-columns: 20% 1fr 1fr 20%;
  grid-template-rows: 20% 1fr 20%;
  grid-template-areas:
    'logo top fulltimelink fulltimelink'
    'middle-left title title middle-right'
    'bottom bottom bottom bottom';
}

.firstSection > .imageBlob {
  position: absolute;
  bottom: -25vh;
  right: 0;
}

.mainTitleSection {
  grid-area: title;
  display: flex;
  padding: 0 2rem;
  align-items: left;
  flex-direction: column;
  text-align: left;
}

.fulltimelinkSection {
  grid-area: fulltimelink;
}

.secondSection {
  composes: splashSection;
  background-color: #01574f;
  color: white;
}

.leftText > p > a,
.rightText > p > a {
  color: white;
}

.thirdSection {
  composes: splashSection;
  background-color: #f4f1e7;
}

.handbookAd {
  grid-area: center-right;
  position: relative;
}

.arrow {
  height: 4rem;
  margin: 0;
}

.upsideDown {
  composes: arrow;
  transform: scaleY(-1);
}

.handbookArrow {
  composes: arrow;
  position: relative;
  top: -21rem;
  left: 6rem;
  transform: rotate(180deg);
  transform: scaleY(-1);
}

.fourthSection {
  composes: splashSection;
  background-color: #423d89;
  color: white;
}

.timelineContainer {
  grid-area: center-right;
  position: relative;
  z-index: 1;
}

.timelineContainer::before {
  content: '';
  position: absolute;
  left: -24.5px;
  top: 10px;
  height: calc(100% - 2rem);
  border-left: 1px solid white;
}

/* Titles for timelineEvents */
.timelineEvent > h4 {
  position: relative;
  margin: 0;
}

/* The circles on the timeline */
.timelineEvent > h4::before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  left: -32.5px;
  top: 0.33rem;
  border: 1px solid white;
  background-color: #423d89;
  border-radius: 50%;
  z-index: 1;
}

/* Subtitle for timelineEvents */
.timelineEvent > h5 {
  font-family: Graphik;
  margin: 0 0 2rem 0;
  font-style: italic;
  font-weight: normal;
}

.fifthSection {
  composes: splashSection;
  background-color: #ffdcd7;
}

.fifthSection > .imageBlob {
  position: absolute;
  top: -20vh;
}

.fifthSection > .leftText {
  grid-area: center-left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

.sixtSection {
  composes: splashSection;
  background-color: #01574f;
  color: white;
}

.sixtSection > .imageBlob {
  grid-area: center-right;
}

.applyLinksContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.applyLinksContainer > a {
  color: white;
}

.finalBlob {
  position: absolute;
  bottom: 0;
  right: 0;
}

.variantLogo {
  position: absolute;
  bottom: 24px;
  right: 36px;
  width: 200px;
}

.mainTitleSection > .arrow {
  position: relative;
  left: -16rem;
  top: 1rem;
}

@media screen and (max-width: 1400px) {
  .logoblob {
    grid-area: logo;
  }

  .splashSection {
    padding: 1rem;
    grid-template-columns: 100%;
    grid-template-rows: auto 2rem auto;
    grid-template-areas:
      'center-left '
      'center-middle'
      'center-right';
  }

  .firstSection {
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .fifthSection {
    grid-template-areas:
      'center-right'
      '.'
      'center-left';
  }
}
