/* Make sure text is not hidden by blobs with some screen resolutions */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  z-index: 1;
}

h3 {
  font-family: 'Recoleta', serif;
}

.white {
  color: white;
}

.white a {
  color: white;
}

.logoblob {
  grid-area: logo;
  width: 450px;
}

.otherJobsLink {
  position: absolute;
  top: 3rem;
  right: 3rem;
}

.splashSection {
  position: relative;
  min-height: 100vh;
  padding: 8rem;
  display: grid;
  grid-template-columns: 40% 20% 40%;
  grid-template-rows: 100%;
  grid-template-areas: 'center-left . center-right';
}

.leftText,
.rightText {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  text-align: left;
}

.leftText {
  grid-area: center-left;
}

.imageBlob {
  height: 36rem;
}

.rightText {
  grid-area: center-right;
}

.mainTitleSection > .arrow {
  position: relative;
  left: -16rem;
  top: 1rem;
}

.modeTabs {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  background-color: white;
}

.modeTabs h4 {
  font-family: 'Graphik Web';
  font-weight: lighter;
  src: url('/Graphik-LightItalic-Web.woff2') format('woff2'),
    url('/Graphik-LightItalic-Web.woff') format('woff');
  font-size: 1.33rem;
}

.leftTab {
  border: none;
  width: 50vw;
  height: 3rem;
  text-align: center;
  background-color: #fad2e2;
  clip-path: polygon(0% 0%, 95% 0%, 100% 100%, 0% 100%);
  cursor: pointer;
}

.rightTab {
  composes: leftTab;
  background-color: #028377;
  color: white;
  clip-path: polygon(5% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.firstSection {
  composes: splashSection;
  display: block;
}

.firstSection > section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;
}

.firstSection > .imageBlob {
  position: absolute;
  bottom: -18rem;
  right: 8rem;
}

.firstSection .arrowContainer {
  position: absolute;
  top: 5%;
  right: 10%;
}

.deadline {
  font-size: 1.5rem;
}

.secondSection {
  composes: splashSection;
}

.secondSection > .leftText {
  margin-bottom: 200px;
}

.secondSection > .rightText {
  margin-top: 500px;
}

.secondSection > .imageBlob {
  position: absolute;
  height: 28rem;
  bottom: -14rem;
  left: 8rem;
}

.thirdSection {
  composes: splashSection;
}

.thirdSection > .leftText {
  margin-top: 200px;
}

.groupArrow > .imageBlob {
  object-fit: contain;
  max-width: 100%;
}

.groupArrow {
  grid-area: center-right;
  position: relative;
}

.arrow {
  height: 4rem;
  margin: 0;
  transform: rotate(180deg);
}

.upsideDown {
  composes: arrow;
  transform: scaleY(-1);
}

.handbookArrow {
  composes: arrow;
  transform: rotate(180deg);
  transform: scaleY(-1);
}

.fourthSection {
  composes: splashSection;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'title title title'
    'center-left . center-right';
}

.fourthSection > h3 {
  grid-area: title;
}

.calculatorContainer {
  grid-area: center-right;
  position: relative;
  z-index: 1;
  height: fit-content;
}

.timelineContainer {
  composes: calculatorContainer;
  padding-left: 33.5px;
}

.timelineContainer::before {
  content: '';
  position: absolute;
  left: 8.5px;
  top: 1rem;
  height: calc(100% - 2rem);
  border-left: 1px solid white;
}

/* Titles for timelineEvents */
.timelineEvent > h4 {
  position: relative;
  margin: 0;
}

/* The circles on the timeline */
.timelineEvent > h4::before {
  content: '';
  position: absolute;
  width: 9px;
  height: 9px;
  left: -29px;
  top: 0.5rem;
  border: 1px solid white;
  background-color: white;
  border-radius: 50%;
  z-index: 1;
}

/* Subtitle for timelineEvents */
.timelineEvent > h5 {
  font-family: 'Graphik Web';
  src: url('/Graphik-LightItalic-Web.woff2') format('woff2'),
    url('/Graphik-LightItalic-Web.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
  font-display: swap;
  margin: 0 0 2rem 0;
  font-style: italic;
  font-weight: normal;
}

.fifthSection {
  composes: splashSection;
}

.fifthSection > .imageBlob {
  position: absolute;
  top: -18rem;
  left: 8rem;
  max-width: 40%;
  object-fit: contain;
}

.fifthSection > .leftText {
  grid-area: center-left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

.fifthSection > .rightText {
  margin: 10rem 0;
}

.sixtSection {
  composes: splashSection;
  grid-template-areas:
    'center-left . center-right'
    'buttons buttons buttons';
  grid-template-rows: auto 1fr;
}

.sixtSection > .imageBlob {
  position: absolute;
  top: -8rem;
  right: 8rem;
}

.applyLinksContainer {
  grid-area: buttons;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.applyLinksContainer h3 {
  margin: 0;
}

.buttonBlob {
  transform: scale(1);
  transition: linear 0.2s;
}

.buttonBlob:hover {
  transform: scale(1.02);
  transition: linear 0.2s;
}

.finalBlob {
  position: absolute;
  bottom: 0;
  right: 0;
}

.layerText {
  position: relative;
  bottom: 250px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
}

.layerText_dark {
  composes: layerText;
  color: #333333;
}

.variantLogo {
  position: absolute;
  bottom: 24px;
  right: 36px;
  width: 200px;
}

.slideCounter {
  position: fixed;
  bottom: 4rem;
  right: 2rem;
  min-width: 3rem;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

@media screen and (orientation: portrait) {
  .splashSection {
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      'center-left'
      'center-right';
    border: 1px solid yellow;
  }

  .leftText,
  .rightText {
    margin: 2rem 0;
  }

  .firstSection {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .firstSection .imageBlob {
    right: 0;
  }

  .secondSection .leftText {
    margin-top: 20rem;
    margin-bottom: 1rem;
  }

  .secondSection > .rightText {
    margin-top: 0;
  }

  .secondSection .imageBlob {
    position: relative;
    left: -2rem;
    bottom: 0;
  }

  .thirdSection .imageBlob {
    position: relative;
    right: -2rem;
  }

  .thirdSection > .leftText {
    margin-bottom: 4rem;
  }

  .fourthSection {
    padding-bottom: 20rem;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      'title'
      'center-left'
      'center-right';
  }

  .fifthSection > .imageBlob {
    max-width: 80%;
    left: -2rem;
  }

  .jobtitle {
    font-size: 4rem;
  }

  .applyArrow {
    position: absolute;
    bottom: 0;
  }

  .imageBlob {
    position: static;
    max-width: 80%;
    object-fit: contain;
  }

  .sixtSection {
    display: block;
    padding-top: 16rem;
  }

  .sixtSection > .imageBlob {
    max-width: 50%;
    right: -50px;
    top: -12rem;
  }

  .applyLinksContainer {
    position: static;
    display: block;
    flex-direction: column;
  }

  .applyLink > div {
    position: static;
    bottom: auto;
  }

  .layerText {
    position: relative;
    bottom: 250px;
    width: auto;
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
  }
}
