.logoblob {
  position: absolute;
  top: 0;
  left: -1px;
  width: 450px;
}

.applyLinksContainer {
  display: flex;
  flex-wrap: wrap;
}

.otherJobsLink {
  position: absolute;
  top: 3rem;
  right: 3rem;
  color: black;
}

.applyLink {
  color: black;
}

.splashSection {
  border: 1px dotted black;
  min-height: 100vh;
  padding: 12rem 4rem;
  overflow-x: hidden;
}

.firstSection {
  composes: splashSection;
  background-color: #fad2e2;
}

.secondSection {
  composes: splashSection;
  background-color: #028377;
  color: white;
}

.thirdSection {
  composes: splashSection;
  background-color: #f4f1e7;
}

.fourthSection {
  composes: splashSection;
  background-color: #423d89;
  color: white;
}

.fifthSection {
  composes: splashSection;
  background-color: #fad2e2;
}

.header_logo {
  z-index: 1;
}

.omVariant {
  padding: 0 1rem 4rem;
  position: relative;
  margin-bottom: 3rem;
}

@media (max-width: 500px) {
  .omVariant {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
  }
}

.omVariant__title {
  font-weight: bold;
  margin: 1.8rem 0;
  font-size: 3.3rem;

  background: linear-gradient(
    to right,
    var(--color-primary),
    var(--color-secondary1),
    var(--color-secondary2)
  );
  background-size: 200% 200%;
  background-clip: text;
  transition: color 0.2s ease-in-out;
  color: rgba(0, 0, 0, 0);
}
.omVariant__title[data-no-animation='true'] {
  animation: none;
}

.omVariant__subTitle {
  font-size: 1.4rem;
  margin: 0 0 2.3rem 1.5rem;
}

.omVariant__wrapper__p {
  text-align: justify;
  position: relative;
}

.omVariant__wrapper {
  display: grid;
  grid-template: 'a b' / 1fr auto;
}

.omVariant__blob {
  grid-area: b;
  float: right;
  margin: 1rem -1rem;
}
@media (max-width: 700px) {
  .omVariant__wrapper {
    grid-template: 'a' 'b' /1fr;
  }
}

.withSubTitle {
  margin-bottom: -1rem;
}
.job__listing {
  padding: 0 1rem 7rem;
  position: relative;
  margin-bottom: 3rem;
}

@media (max-width: 500px) {
  .job__listing__container {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
  }
}

.job__listing__container {
  background-color: var(--color-secondary2);
  margin: 2rem 0;
  border-radius: 2rem;
  padding: 2rem;
  display: grid;
  grid-template: 'a b' 1fr / 1fr auto;
}
@media (max-width: 500px) {
  .job__listing__container {
    grid-template: 'a' 'b';
    gap: 1rem;
  }
}

.job__listing__container:nth-child(2n) {
  background-color: var(--color-secondary3);
}

.aspect__ratio {
  position: relative;
  width: calc(100% - 2rem);
  height: 0;
  /* "Established hack" for making iframes responsive and follow aspect ratio */
  padding-bottom: calc(56.18% - 2rem);
  margin: 1rem 1rem 4rem;
}

.jobs__video__iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  margin-top: 3rem;
}
