.office__nav {
  max-width: 75%;
  margin: 4rem auto;
}
.office__nav ul {
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, max-content);
  gap: 1rem;
  justify-content: center;
}
.office__nav a {
  font-size: 1.25rem;
}
.office__navActive {
  font-size: 1.25rem;
  text-decoration: none;
  font-weight: 500;
}
