.wrapper {
  display: flex;
  padding: 5rem 2rem;
  align-items: center;
  align-self: stretch;
  @media (min-width: 640px) {
    padding: 5rem 3rem;
    justify-content: center;
  }

  @media (min-width: 1024px) {
    padding: 7.5rem;
  }
}

.info {
  max-width: var(--max-content-width-large);
  display: flex;
  padding: 3rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  align-self: stretch;
  border-radius: 1rem;
}

.buttonWrapper {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
}
