.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.highlightCard {
  border: 3px solid var(--block-color);
  border-radius: 0.25rem;
  background-color: var(--block-color);
}

.highlightCard .innerContent {
  background-color: var(--background-bg-light-primary);
  border-radius: 1.5rem;
  padding: 1rem;
  height: 100%;
}

.result {
  white-space: nowrap;
}

.subtitle {
  color: var(--text-tertiary);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.highlightOutside {
  background-color: var(--block-color);
  color: var(--text-primary);
  display: inline-block;
  padding: 0.25rem 1.25rem;
  z-index: 2;
  line-height: 1.5;
  margin-right: auto;
  border-radius: 0.25rem 0.25rem 0rem 0rem;
  margin-bottom: 3px;
  font-weight: 500;
}

.highlightBlock {
  display: inline-flex;
  flex-direction: column;
  align-self: start;
}

.highlightCard:not(:first-child) {
  margin-top: calc(3px * -1);
}

.highlightBlock .highlightCard {
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
}

.highlightWrapper:has(.highlightRow:empty) .highlightCard {
  border-bottom-right-radius: 0.25rem;
}

.highlightWrapper {
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.highlightRow {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.highlightRow .highlightCard {
  margin-top: calc(3px * -1);
  border-top-left-radius: 0;
  height: auto;
  width: 100%;
}

.highlightRow .highlightCard:not(:last-child) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.highlightRow .highlightCard:not(:first-child) {
  border-bottom-left-radius: 0;
  border-left: 1.5rem;
}

.highlightRow .highlightCard:first-child {
  border-top-left-radius: 0;
}

@media (max-width: 640px) {
  div:has(> .highlightWrapper) {
    width: 100%;
  }

  .highlightOutside {
    margin-bottom: 0;
  }

  .highlightRow {
    flex-direction: column;
  }

  .highlightRow .highlightCard:first-child {
    border-top-right-radius: 0.25rem;
  }

  .highlightRow .highlightCard:last-child {
    border-bottom-left-radius: 0.25rem;
  }

  .highlightRow .highlightCard:not(:first-child) {
    border-left: 3px solid var(--block-color);
  }
}
