.article {
  width: 100%;
  max-width: var(--max-content-width-medium);
  display: flex;
  flex-direction: column;
  justify-self: center;
}

.image {
  flex-shrink: 1;
  max-width: 46rem;
  padding: var(--padding-l) 0rem;

  @media (max-width: 834px) {
    padding: var(--padding-l) 0rem;
    max-width: 43.24219rem;
  }

  @media (max-width: 425px) {
    padding: var(--padding-l) 0rem;
    max-width: 22.375rem;
  }
}

.image img {
  max-width: var(--max-content-width-large);
  width: 100%;
  height: 100%;
  display: block;

  @media (max-width: 834px) {
    max-width: var(--max-content-width-medium);
  }

  @media (max-width: 425px) {
    max-width: var(--max-content-width-small);
  }
}
