.contact {
  min-width: 20rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 1rem;
}

.contact p {
  margin: 0;
}

.contact_left p {
  font-family: 'Recoleta', serif;
  font-weight: 500;
}

@media (min-width: 1000px) {
  .contact {
    width: 17rem;
  }
}
