.header {
  position: relative;
}

.header__text {
  position: absolute;
  bottom: 7rem;
  z-index: 1;

  padding-inline: 5rem;
}

.header__text > * {
  margin: 0;
}

.header__text a {
  color: white;
}

.headerBackground {
  width: 100%;
  height: auto;
}
