.header__text {
  background-position-y: bottom;
  background-size: cover;
  padding-top: 5rem;
  padding: 5rem;
  height: 20rem;
}

.header__text > * {
  margin: 0;
}

.header__text a {
  color: white;
}

@media (max-width: 750px) {
  .header__text {
    padding-top: 5rem;
    padding-inline: 3rem;
  }

  .header__text h2 {
    font-size: 1.875rem;
  }
}
