.wrapper {
  display: flex;
  flex-direction: row;
  padding: 0.375rem;
  margin: 7.5rem auto;
  border-radius: var(--radius-medium);
  gap: 1.5rem;
  background-color: var(--Blue-500);
  color: var(--text-primary-light);
  max-width: var(--max-content-width-large);

  @media (width <= 1024px) {
    flex-direction: column;
  }
}

.titleSection {
  padding: 2rem;
  flex: 1;
}

.introText {
  margin-bottom: 1.2rem;
}

.eventsSection {
  flex: 2;
}

.eventPostingsContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.eventPostings {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
  text-wrap: wrap;
}

.allEventsButton {
  margin-top: 3.3rem;

  @media (width <= 800px) {
    margin-top: 1.5rem;
  }
}
