.bottomText {
  display: flex;
  flex-direction: column;
}

.bottomText__content {
  padding-inline: 12rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.bottomText__content :global(.bigText) p {
  font-size: 1.875rem;
}

@media (max-width: 500px) {
  .bottomText__content :global(.bigText) p {
    font-size: 1.25rem;
  }
}

.bottomText__content ul {
  padding: 0 1rem;
  margin: 0;
}

.bottomText__content :global(.wrapper) {
  width: 48rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.bottomText__content h4 {
  font-family: 'Graphik';
  font-weight: 500;
  font-size: 1.875em;
  margin: 0;
}

.bottomText__content_list {
  padding: 1rem;
}

@media (max-width: 1250px) {
  .bottomText__content :global(.wrapper) {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .bottomText__content {
    padding-inline: 6rem;
  }
}

@media (max-width: 481px) {
  .bottomText__content {
    padding-inline: 2rem;
  }
}

@media (min-width: 2000px) {
  .bottomText {
    align-items: center;
  }

  .bottomText__content_divider {
    align-self: baseline;
    width: 100%;
  }

  .bottomText__content :global(.bigText) {
    width: 70rem;
  }
}
