.wrapper {
  display: flex;
  flex-direction: column;
  margin: 8rem 0;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  gap: 5rem;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.caseWrapper {
  display: flex;
  gap: 3rem;
}

.caseImageWrapper {
  min-width: 20rem;
  max-width: 20rem;
  width: 20rem;
  height: 14rem;
}

.caseImageWrapper img {
  border-radius: 0.75rem;
}
