.container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  align-self: stretch;
  width: 100%;
  color: var(--background-bg-dark);

  /* to keep checkbox 20x20 we'll make sure portable text takes 2/3 width */
  & > p {
    flex: 2;
  }
}

.input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 2px solid var(--background-bg-dark);
  border-radius: 0.25rem;
  display: inline-block;
  position: relative;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    display: none;
    left: 6.5px;
    top: 2px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
}

.input:checked + .checkbox {
  background-color: var(--background-bg-dark);
  border-color: var(--background-bg-dark);
}

.input:checked + .checkbox::after {
  display: block;
}

/* Focus Styles */
.input:focus-visible + .checkbox {
  outline: 2px solid var(--stroke-primary);
  outline-offset: 2px;
}

.error {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--surface-red);
  &::before {
    content: "";
    width: 1.25rem;
    height: 1.25rem;
    display: inline-block;
    -webkit-mask-size: cover;
    background-color: var(--surface-red);
    -webkit-mask: url("/_assets/alert-circle.svg") no-repeat 50% 50%;
  }

  @media (min-height: 1024px) {
    width: 1.5rem;
    height: 1.5rem;
  }
}
