.infoContainer {
  padding-top: 2rem;
}

.info {
  background-color: var(--color-primary__shade2);
  position: relative;
  height: 55rem;
}

.navbarContainer {
  margin: 0 auto 2rem;
  width: 100%;
  padding: 0 2rem;
}

.hotelBlobContainer {
  position: absolute;
  content: url('./hotelBlobMobile.svg');
  top: 5rem;
}

.hotelTextContainer {
  position: absolute;
  z-index: 10;
  top: 10rem;
  width: 100%;
}

.foodBlobContainer {
  position: absolute;
  content: url('./foodBlobMobile.svg');
  bottom: 0;
  right: 0;
}

.foodTextContainer {
  position: absolute;
  z-index: 10;
  bottom: 7rem;
  margin: 0 2rem;
}

.hotelImageContainer {
  display: none;
}

.restaurantImageContainer {
  display: none;
}

h3 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 1rem;
  text-align: center;
}

.addressContainer {
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
}

.addressLine {
  margin-top: 0;
  margin-left: 0.5rem;
}

.contactPerson {
  display: flex;
  justify-content: space-between;
  margin: 0 5rem;
}

@media (min-width: 768px) {
  .contactPerson {
    margin: 0 10rem;
  }
}

@media (min-width: 900px) {
  .infoContainer {
    padding: 4rem 0 12rem;
  }

  .info {
    height: 80rem;
  }

  .navbarContainer {
    width: 50%;
  }

  .hotelBlobContainer {
    content: url('./hotelBlob.svg');
    width: 50%;
    left: 2rem;
  }

  .hotelTextContainer {
    width: 30%;
    left: 8rem;
  }

  h3 {
    text-align: left;
  }

  .addressContainer {
    justify-content: flex-start;
  }

  .contactPerson {
    margin: 0;
  }

  .foodBlobContainer {
    content: url('./foodBlob.svg');
    width: 50%;
    right: 1rem;
    bottom: 0;
  }

  .foodTextContainer {
    right: 3rem;
    bottom: 15rem;
    width: 30%;
  }

  .hotelImageContainer {
    display: block;
    position: absolute;
    top: 8rem;
    right: 3rem;
  }

  .restaurantImageContainer {
    display: block;
    position: absolute;
    top: 20rem;
    right: 19rem;
  }

  .image {
    width: 100%;
  }
}
