.infoContainer {
  background-color: var(--color-primary__shade2);
  display: flex;
  width: 100%;
  padding: 4rem 8rem 12rem;
  position: relative;
  height: 80rem;
}

.navbarContainer {
  position: absolute;
  top: 5rem;
  width: 50%;
  left: 50%;
  transform: translate(-50%);
}

.hotelBlobContainer {
  position: absolute;
  top: 10rem;
  left: 0;
}

.hotelTextContainer {
  position: absolute;
  z-index: 10;
  top: 15rem;
}

.foodBlobContainer {
  position: absolute;
  bottom: -5rem;
  right: 0;
}

.foodTextContainer {
  position: absolute;
  z-index: 10;
  right: 3rem;
  bottom: 10rem;
  width: 30%;
}

.hotelImageContainer {
  position: absolute;
  top: 8rem;
  right: 3rem;
}

.restaurantImageContainer {
  position: absolute;
  top: 20rem;
  right: 15rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.addressContainer {
  margin-bottom: 5rem;
  display: flex;
}

.addressLine {
  margin-top: 0;
  margin-left: 0.5rem;
}

.contactPerson {
  display: flex;
  justify-content: space-between;
}
