.menyButton {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: rgba(115, 110, 190, 0.5);
  padding-inline: 0.5rem;
  padding-bottom: 1rem;
  border-radius: 20px;
  align-items: center;
  transition: 0.4s all;
}

.menyButton:hover {
  background: var(--color-secondary1__tint2);
}

.menyButton__emoji {
  font-size: 3rem;
  align-self: center;
}

.linkButton_background {
  background-color: var(--color-secondary1__shade4);
  color: var(--color-standard__white);
  width: fit-content;
  padding: 0.5rem 1rem;
  border-radius: 3rem;
  transition: 0.4s all;
}

.linkButton_background:hover {
  cursor: pointer;
  background-color: var(--color-secondary1__tint1);
}

.linkButton_background:active {
  scale: 0.9;
}

@media (min-width: 1000px) {
  .menyButton {
    width: 10rem;
  }

  .accordianButton {
    width: 30rem;
  }
}
