.menyButton {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: rgba(115, 110, 190, 0.5);
  padding-inline: 0.5rem;
  padding-bottom: 1rem;
  border-radius: 20px;
  align-items: center;
}

.menyButton__emoji {
  font-size: 3rem;
  align-self: center;
}

.accordianButton {
  background: rgba(115, 110, 190, 0.5);
  border-radius: 20px;
}

.accordianButton p:nth-child(1) {
  text-align: center;
}
