.button {
  width: -webkit-fill-available;
  max-width: 360px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.6rem;
  border-radius: 1.5625rem;
  border: none;
  font-family: var(--font-figtree);
  text-decoration: none;
  text-wrap: nowrap;

  padding: 0.5rem 1.25rem;
  font-size: 1.25rem;
  font-weight: 400;


  @media (min-width: 1024px) {
    font-size: 1.5rem;
    padding: 0.5rem 1.5rem;
    justify-content: center;
  }

  &::after {
    width: 1.5rem;
    height: 1.5rem;
    content: "";
    -webkit-mask: url("/arrow.svg") no-repeat center;
    -webkit-mask-size: cover;
    mask: url("/arrow.svg") no-repeat center;
    mask-size: cover;
  }
}

.small {

  @media (min-width: 1024px) {
    font-size: 1.25rem;
    padding: 0.375rem 1.25rem;
    font-weight: 400;

    &::after {
      width: 1.25rem;
      height: 1.25rem;
    }
  }
}

.primary {
  background: var(--primary-green-dark);
  color: var(--primary-white);
  border: 1px solid var(--primary-green-dark);

  &:hover {
    background: #085156;
  }

  &:active {
    background: #053235;
  }

  &::after {
    background-color: var(--primary-white);
  }
}

.secondary {
  color: var(--primary-black);
  background: rgba(255, 255, 255, 0);
  border: 1px solid var(--primary-black);

  &:hover {
    background: rgba(31, 31, 31, 0.05);
  }

  &:active {
    background: rgba(31, 31, 31, 0.16);
  }

  &::after {
    background-color: var(--primary-black);
  }
}