.day {
  padding: 4rem 8rem 12rem;
  position: relative;
  height: 60rem;
}

.oddDay {
  composes: day;
  background-color: var(--color-primary__shade2);
}

.evenDay {
  composes: day;
  background-color: var(--color-primary__shade1);
}

.backgroundBlobContainer {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);
}

.textContainer {
  position: absolute;
  z-index: 10;
}

.dayHeading {
  font-size: 2.813rem;
  margin-bottom: 5rem;
}

.list {
  list-style-type: none;
  padding-left: 0;
  margin-left: 30rem;
}

li {
  display: flex;
}

time {
  display: inline-block;
  width: 8rem;
  margin-left: -8rem;
  margin-top: -1rem;
}

.borderedListItem {
  border-left: solid var(--color-standard__white);
  padding-bottom: 2rem;
}

.listItemTitle {
  font-size: 1.25rem;
  line-height: 160%;
  margin-top: -1rem;
}

.list .listItemTitle::before {
  content: url('./itinirary-blob.svg');
  margin-left: -0.875rem;
}

.listItemInfo {
  font-size: 0.813rem;
  line-height: 0.938rem;
  margin-left: 1rem;
  margin-top: 0;
  width: 21rem;
  display: flex;
}

.externalLink {
  font-size: 0.813rem;
  margin-left: 0.2rem;
  text-decoration: underline;
}
