.dayContainer {
  padding: 4rem 0 0;
}

.navbarContainer {
  margin: 0 auto 2rem;
  width: 100%;
  padding: 0 2rem;
}

.evenDayContainer {
  composes: dayContainer;
  background-color: var(--color-primary__shade1);
}

.oddDayContainer {
  composes: dayContainer;
  background-color: var(--color-primary__shade2);
}

.fridayContainer {
  position: relative;
  height: 70rem;
}

.saturdayContainer,
.sundayContainer {
  position: relative;
  height: 40rem;
}

.fridayBlobTopContainer {
  position: absolute;
  content: url('./fridayBlobTopMobile.svg');
  left: 0;
  top: 0;
}

.fridayBlobBottomContainer {
  position: absolute;
  content: url('./fridayBlobBottomMobile.svg');
  right: 0;
  bottom: 0;
}

.saturdayBlobContainer {
  position: absolute;
  content: url('./saturdayBlobMobile.svg');
  width: 100%;
}

.sundayBlobContainer {
  position: absolute;
  content: url('./sundayBlobMobile.svg');
  width: 100%;
}

.textContainer {
  position: absolute;
  z-index: 10;
  top: 2rem;
}

.list {
  list-style-type: none;
  padding-left: 0;
  margin-left: 9rem;
}

li {
  display: flex;
}

time {
  display: inline-block;
  width: 7rem;
  margin-left: -8rem;
}

.borderedListItem {
  border-left: solid var(--color-standard__white);
  padding-bottom: 3rem;
}

.unborderedListItem {
  margin-left: 0.2rem;
}

.listItemTitle {
  font-size: 1.25rem;
  line-height: 160%;
  margin-top: -0.8rem;
  margin-bottom: 0.5rem;
}

.list .listItemTitle::before {
  content: url('./itinerary-blob.svg');
  margin-left: -1rem;
  margin-right: 1rem;
}

.listItemInfo {
  font-size: 0.813rem;
  line-height: 0.938rem;
  margin-left: 2rem;
  margin-top: 0;
  width: 15rem;
  display: flex;
}

.link {
  font-size: 0.813rem;
  text-decoration: underline;
}

@media (min-width: 768px) {
  .list {
    margin-left: 18rem;
  }

  .fridayContainer,
  .saturdayContainer,
  .sundayContainer {
    height: 70rem;
  }
}

@media (min-width: 900px) {
  .navbarContainer {
    width: 70%;
    margin-bottom: 7rem;
  }

  .fridayBlobTopContainer {
    content: url('./fridayBlob.svg');
  }

  .fridayBlobBottomContainer {
    display: none;
  }

  .saturdayBlobContainer {
    content: url('./saturdayBlob.svg');
  }

  .sundayBlobContainer {
    content: url('./sundayBlob.svg');
  }

  .fridayBlobTopContainer,
  .saturdayBlobContainer,
  .sundayBlobContainer {
    left: 50%;
    transform: translate(-50%);
    width: 80%;
  }

  .list {
    margin-left: 30rem;
  }

  time {
    margin-top: -0.5rem;
    width: 8rem;
  }

  .listItemInfo {
    width: 21rem;
  }

  .list .listItemTitle::before {
    margin-left: -0.875rem;
  }
}
