.jobPosting {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border-radius: 1.5rem;
  padding: 1rem 1.5rem;
  gap: var(--padding-s);
  width: 100%;
  background-color: var(--text-primary-light);
  color: var(--text-primary);
  transition: all 0.3s ease;

  &:hover {
    background-color: var(--Background-secondary, #eaeaea);
    border-radius: 0.375rem;
  }

  &:focus {
    outline: 2px solid var(--surface-yellow, #ffd02f);
    transition: none;
  }

  &::after {
    width: 1.5rem;
    height: 1.5rem;
    content: "";
    mask: url("/_assets/arrow-right.svg") no-repeat center;
    mask-size: cover;
    background-color: var(--background-bg-dark);
  }
}

.role {
  flex: 1;
}

.locations {
  margin-left: var(--padding-xs);
}

@media (width <= 640px) {
  .locations {
    display: none;
  }
}
