.bottomText__content {
  padding-inline: 6rem;
}

.bottomText__content_wrapper {
  width: 48rem;
}

.bottomText__content h4 {
  font-family: 'Graphik web';
  font-weight: 500;
  font-size: 1.875rem;
}

.bottomText__content_bigText {
  font-size: 1.875rem;
}

@media (max-width: 900px) {
  .bottomText__content_wrapper {
    width: 100%;
  }
}

@media (max-width: 481px) {
  .bottomText__content {
    padding-inline: 3rem;
  }
}
