.bottomText__content {
  padding-inline: 6rem;
}

.bottomText__content_wrapper {
  width: 48rem;
}

.bottomText__content h4 {
  font-family: 'Graphik web';
  font-weight: 500;
  font-size: 1.875rem;
}

.bottomText__content_divider {
  position: relative;
  bottom: 5rem;
}

.bottomText__content_divider img {
  width: 100%;
  height: auto;
}

.bottomText__content_bigText {
  font-size: 1.875rem;
}
