.button {
  max-width: 320px;
  height: fit-content;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-wrap: nowrap;
  border-radius: 0.5rem;
}

.dark {
  background-color: var(--outline-dark);
  color: var(--primary-white);
}

.light {
  background-color: var(--Gray-100);
  color: var(--Gray-900);
}

.large {
  gap: 0.375rem;
  padding: 10px 12px;
}

.medium {
  gap: 0.25rem;
  padding: 6px 8px;
}

.small {
  gap: 0.25rem;
  padding: 2px 4px;
}

.primary {
  border: none;
}

.secondary.large.dark {
  border: 1px solid var(--light-500);
}

.secondary.large.light {
  border: 1px solid var(--outline-dark);
}

.secondary.medium.dark {
  border: 1px solid var(--light-500);
}

.secondary.medium.light {
  border: 1px solid var(--outline-dark);
}

.secondary.small.dark {
  border: 0.5px solid var(--light-500);
}

.secondary.small.light {
  border: 0.5px solid var(--outline-dark);
}

.iconLeft {
  display: inline-block;
  -webkit-mask: url("/_assets/arrowLeft.svg") no-repeat 50% 50%;
}

.iconRight {
  display: inline-block;
  width: 0.42188rem;
  -webkit-mask: url("/_assets/arrowRight.svg") no-repeat 50% 50%;
}

.iconColorDark {
  color: var(--primary-white);
}

.iconColorLight {
  background-color: var(--Gray-900);
}

.iconLarge {
  width: 1.5rem;
  height: 1.5rem;
}

.iconMedium {
  width: 1.125rem;
  height: 1.125rem;
}

.iconSmall {
  width: 0.875rem;
  height: 0.875rem;
}

.loading {
  &::before {
    content: "";
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    -webkit-mask: url("/_assets/spinner.svg") no-repeat 50% 50%;
    mask: url("/_assets/spinner.svg") no-repeat 50% 50%;
    background-color: var(--primary-black);
    animation: rotateSpinner 750ms linear infinite;
  }
}

@keyframes rotateSpinner {
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotateSpinner {
  to {
    transform: rotate(360deg);
  }
}
