.fieldset {
  border: 0 none;
  padding: 0;

  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  row-gap: 0.5rem;
  flex-wrap: wrap;
  align-items: center;
}
.srOnly {
  /* hide from everything but screen readers */
  position: absolute;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.fieldset:focus-within {
  outline: 2px solid var(--surface-yellow);
  border-radius: var(--radius-small);
  outline-offset: 0.5rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.disabledLabel {
  color: gray;
  cursor: not-allowed;
}

.inputLabel {
  madgin: 0;
  padding: 0;
}
.input {
  appearance: none;
  width: 0px;
  height: 0px;
  border: none;
  position: absolute;
  /* hide from everything but screen readers */
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
