.main-container {
  position: relative;
  height: fit-content;
  max-height: 100%;
  max-width: 100%;
}

.decorative-box {
  position: absolute;
  top: 0;
  left: 0;
  aspect-ratio: 1;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0.25rem 0.5rem;
  overflow-wrap: break-word;
  font-size: 0.75rem;
}

.child-container {
  padding: 8%;
  display: grid;
  place-items: center;
}

.main-container > * :not(.decorative-box) {
  position: relative;
  max-width: 100%;
  max-height: 100%;
}
