.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
  align-self: stretch;
}

.label {
  color: var(--primary-black);
}

.textarea {
  display: flex;
  padding: 0.5rem 0.75rem;
  align-items: center;
  gap: 0.5rem;
  align-self: stretch;

  border-radius: 0.5rem;
  border: 1px solid var(--secondary-off-white-2, #ece1d3);
  background: var(--primary-white-bright, #fff);

  min-height: 10rem;
}

.error {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--primary-red-error);
  &::before {
    content: "";
    width: 1.25rem;
    height: 1.25rem;
    display: inline-block;
    -webkit-mask-size: cover;
    background-color: var(--primary-red-error);
    -webkit-mask: url("/_assets/alert-circle.svg") no-repeat 50% 50%;
  }

  @media (min-height: 1024px) {
    width: 1.5rem;
    height: 1.5rem;
  }
}
