.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: var(--container-padding);
  max-width: var(--max-content-width-medium);
  justify-self: center;
  width: 100%;
  margin: 8rem auto;

  @media (max-width: 1091px) {
    margin: 6rem auto;
  }

  @media (max-width: 425px) {
    margin: 4rem auto;
  }
}

.paragraphWrapper {
  max-width: 40.5rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-self: center;
}

.authorText {
  color: var(--text-placeholder);
}
