.flexbox {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 4.25rem;
  margin-bottom: 2rem;
}

@media (min-width: 1000px) {
  .flexbox {
    margin-top: 0;
  }
}
