html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  /* primary colors */
  --primary-white-bright: #ffffff;
  --primary-white: #faf8f5;
  --primary-black: #1f1f1f;
  --primary-pink-light: #e3a2d9;
  --primary-pink-dark: #baa7e2;
  --primary-green-dark: #206a6f;
  --primary-green-light: #a9db91;
  --primary-red-error: #b30b0b;

  /* secondary colors */
  --secondary-yellow1: #f5f3e5;
  --secondary-green2: #ddece6;
  --secondary-green3: #9bcbc0;
  --secondary-gradient-pink: linear-gradient(180deg, #e3a2d9 0%, #baa7e2 100%);
  --secondary-gradient-green: linear-gradient(180deg, #a9db91 0%, #9bcbc0 100%);
  --secondary-off-white1: #f4efe8;
  --secondary-off-white2: #ece1d3;
  --secondary-green-dark2: #085156;

  --focus-color: #2f68a0;

  /* breakpoints */
  --breakpoint-mobile: 767px;
  --breakpoint-tablet: 640px;
  --breakpoint-large: 1024px;

  /* max widths */
  --max-content-width: 1200px;
}

:focus {
  outline: 2px solid var(--focus-color);
  border-radius: 4px;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  background-color: var(--primary-white-bright);
}

main {
  margin-top: -72px;
}

h1,
h2,
h3,
p,
small {
  margin: 0;
  padding: 0;
}

a {
  color: var(--focus-color);
}
