html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --primary-dark: #e61a6b;
  --primary-darker: #8b0f40;
  --primary-light: #f5a4c4;
  --primary-bg: #f2f2f2;
  --primary-bg-dark: #d9d9d9;

  --primary-white-bright: #ffffff;
  --primary-white: #faf8f5;
  --primary-black: #2d2d2d;

  --secondary-off-white1: #f4efe8;
  --secondary-off-white2: #ece1d3;

  --primary-red-error: #b30b0b;
  --primary-yellow-warning: #ffd02f;

  --focus-color: #8b0f40;

  /* TODO: upgrade color-scheme with correct colors */
  --secondary-red: #f0503f;

  /* breakpoints */
  --breakpoint-mobile: 767px;
  --breakpoint-tablet: 640px;
  --breakpoint-large: 1024px;

  /* max widths */
  --max-content-width-large: 1400px;
  --max-content-width-medium: 1200px;
  --max-content-width-small: 1000px;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  background-color: var(--primary-bg);
  font-family: var(--font-britti-sans);
}

h1,
h2,
h3,
p,
small {
  margin: 0;
  padding: 0;
}

a {
  color: var(--focus-color);
}
