:global(html) {
  background-color: var(--color-secondary1);
}
:global(#root) {
  overflow-x: hidden;
}

.container {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  color: var(--color-standard__white);
  max-height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.container[data-showing-tips='true'] {
  overflow-y: hidden;
}

@supports (scroll-snap-align: start) {
  .container {
    scroll-snap-type: y mandatory;
  }
  .fullheightSection {
    scroll-snap-align: start;
  }
}

.container a {
  color: white;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
}
.header h1 {
  font-size: 5rem;
  font-weight: 500;
}
.header h2 {
  font-size: 2.5rem;
  margin-top: 0;
  font-weight: 500;
}

.fullheightSection {
  left: 0;
  min-height: 100vh;
  width: 100vw;
  padding: 2rem;
  scroll-snap-align: start;
}
.fullheightSection:nth-child(odd) {
  background-color: var(--color-secondary1);
}
.fullheightSection:nth-child(even) {
  background-color: var(--color-secondary1__tint1);
}

.firstPage {
  composes: fullheightSection;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.toProgram {
  position: absolute;
  top: calc(100% + 10rem);
  left: 50%;
  transform: translateX(-50%);
}

.imageMaxWidth {
  max-width: 100%;
  width: 100%;
}

.toTop {
  composes: fullheightSection;
  /* height: auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  padding: 5rem 0;
}

.info {
  composes: firstPage;
}
.info h3 {
  font-weight: 500;
  font-size: 2.5rem;
}

.info p {
  margin-top: 0;
  font-size: 1.5rem;
}
.infoGroup {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 4rem;
}
.infoGroup h3 {
  font-weight: 500;
  font-size: 1.5rem;
}
.infoGroupContact {
  display: grid;
  grid-template-columns: max-content max-content;
  gap: 0 2rem;
}

.introPage,
.agenda {
  composes: fullheightSection;
  padding: 10rem;
  position: relative;
}

.introPage h1 {
  font-size: 2.5rem;
  margin-bottom: 3rem;
}
.introPage p {
  font-size: 1.5rem;
}

.agenda h3 {
  font-size: 2.5rem;
  font-weight: 500;
}
.agenda ul {
  list-style: none;
  display: grid;
  grid-template-columns: minmax(6ch, max-content) auto;
  gap: 1rem 3rem;
  margin-top: 3rem;
  padding-left: 3rem;
}
.agenda li {
  display: contents;
}
.agenda li p:first-child {
  justify-self: end;
  white-space: nowrap;
}
.agenda p {
  font-size: 1.25rem;
  margin-top: 0;
}

.firstPageLeft {
  position: relative;
}

.jippiBlob {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-25%, -25%);
  pointer-events: none;
}

.jippiBlobArrow {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-80%, -140%);
  pointer-events: none;
}
.jippiBlobArrow p {
  font-weight: 500;
}

.bouncingArrow {
  --size: 1rem;
  --thickness: 0.25rem;
  --color: white;

  width: var(--size);
  height: var(--size);
  background: transparent;
  border-right: var(--thickness) solid var(--color);
  border-bottom: var(--thickness) solid var(--color);
  transform: rotate(45deg);
  animation: bounce 3.5s infinite, fadeIn 1s 1 forwards;
  animation-delay: 3s;
  opacity: 0;
  display: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes bounce {
  0%,
  10%,
  25%,
  40%,
  50%,
  100% {
    transform: translateY(0) rotate(45deg);
  }
  20% {
    transform: translateY(-75%) rotate(45deg);
  }
  30% {
    transform: translateY(-50%) rotate(45deg);
  }
}

.tipsArrow {
  background: none;
  border: none;
  color: var(--color-standard__white);
  cursor: pointer;
  position: absolute;
  right: 10%;
  bottom: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tipsArrow p {
  margin-bottom: -1rem;
  transform: translateX(-40%);
}
.tipsArrow svg {
  transform-origin: left center;
  transition: transform 250ms;
}
.tipsArrow:hover svg {
  transform: rotate(-10deg);
}

.tipsSwipe {
  border: none;
  background: none;
  display: none;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: var(--color-standard__white);
  position: absolute;
  right: 0.7rem;
  top: 0;
  width: 100vh;
  transform: rotate(-90deg);
  transform-origin: right;
}
.tipsSwipe p {
  font-size: 1rem;
}
.tipsSwipe .bouncingArrow {
  --size: 0.8rem;
  margin-bottom: calc(var(--size) / 2);
}

@media (max-width: 600px) {
  .agenda ul {
    padding: 0;
    gap: 0.5rem 1.5rem;
    margin-top: 2rem;
  }

  .firstPage {
    grid-template-columns: 1fr;
  }
  .toProgram {
    display: none;
  }
  .jippiBlobArrow {
    display: none;
  }

  .header h1 {
    font-size: 3rem;
  }
  .header h2 {
    font-size: 2rem;
  }
  .imageMaxWidth {
    z-index: 0;
  }
  .introPage,
  .agenda {
    padding: 2rem;
    margin-top: 0;
  }
  .introPage p {
    font-size: 1rem;
  }
  .info {
    justify-items: start;
  }
  .infoGroup {
    margin-top: 2rem;
    padding-left: 2rem;
  }
  .infoGroup h3 {
    font-size: 1.25rem;
  }
  .info p {
    font-size: 1rem;
  }
  .bouncingArrow {
    display: block;
  }
  .tipsArrow {
    display: none;
  }
  .tipsSwipe {
    display: flex;
  }
}
