:global(html) {
  scroll-behavior: smooth;
  background-color: var(--color-secondary3);
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-x: hidden;
  z-index: 0;
}
.wrapper {
  max-width: 50rem;
  margin: 0 auto;
  min-height: 100%;
  padding: 4rem 1rem;
}

.header {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
}
.header h1 {
  font-size: 3.75rem;
  font-weight: 500;
}
.header span {
  white-space: nowrap;
}

.nav {
  max-width: 75%;
  margin: 3rem auto 0;
}
.nav ul {
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, max-content);
  gap: 1rem;
}
.nav a {
  font-size: 1.25rem;
}

.description {
  margin: 3rem auto 0;
  max-width: 75%;
}
.description p {
  font-size: 1.25rem;
}

.travelBlob {
  position: absolute;
  right: 10%;
  top: 15%;
  z-index: -1;
}

@media (max-width: 1400px) {
  .travelBlob {
    display: none;
  }
}

.information {
  position: relative;
  display: flex;
  padding: 2rem;
  justify-content: center;
}
.information img {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.informationContent {
  padding: 6rem 0 5rem 0;
}
.informationContent p {
  font-size: 1.25rem;
  margin: 0;
}
.informationContentGroup:not(:first-child) {
  margin-top: 2rem;
}
.informationContentGroupContact {
  display: grid;
  grid-template-columns: max-content max-content;
  gap: 0 2rem;
}

.agenda {
  margin-top: 4rem;
}
.agenda h3 {
  font-size: 2.75rem;
  font-weight: 500;
}
.agenda ul {
  list-style: none;
  display: grid;
  grid-template-columns: minmax(12ch, max-content) auto;
  gap: 0.5rem 2.375rem;
  padding-left: 1rem;
}
.agenda li {
  display: contents;
}
.agenda li p:first-child {
  justify-self: end;
}
.agenda p {
  font-size: 1.25rem;
  margin-top: 0;
}

@media (max-width: 600px) {
  .agenda ul {
    padding: 0;
  }
}

.background {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;

  z-index: -1;
  overflow: hidden;
}
.backgroundItem {
  position: absolute;
}

.backgroundFirst {
  composes: backgroundItem;
  top: 0;
  right: 0;
}
.backgroundSecond {
  composes: backgroundItem;
  top: 40%;
  left: 0;
}

.toTop {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
  font-size: 1.25rem;
}
