.container {
  margin: 0.8rem 0;
}

.input {
  opacity: 0;
  position: absolute;
}
.input:checked + label:before {
  border-color: var(--color-secondary1);
}
.input:checked + label:after {
  transform: scale(1);
}
.input:focus + label:before {
  box-shadow: 0 0 0.5rem var(--color-secondary1);
}

.label {
  display: inline-block;
  height: 2rem;
  position: relative;
  padding: 0 calc(2rem + 10px);
  margin-bottom: 0;
  cursor: pointer;
  vertical-align: bottom;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.label:before,
.label:after {
  position: absolute;
  content: '';
  border-radius: 50%;
  transition: all 0.3s ease;
  transition-property: transform, border-color;
}
.label:before {
  left: 0;
  top: 0;
  width: 2rem;
  height: 2rem;
  border: 2px solid var(--color-secondary1);
}
.label:after {
  top: calc(2rem / 2 - 1.5rem / 2);
  left: calc(2rem / 2 - 1.5rem / 2);
  width: 1.5rem;
  height: 1.5rem;
  transform: scale(0);
  background: var(--color-secondary1);
}
