.wrapper {
  display: flex;
  flex-direction: column;
  margin: 8rem 0;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
}

.mainTitle {
  font-weight: 600;
}

.mainImageWrapper {
  width: 100%;
  height: 32rem;
  overflow: hidden;
}

.mainImageWrapper img {
  border-radius: 0.75rem;
  width: 100%;
  height: 100%;
  max-height: 100%;
  min-width: 100%;
}

.ingress {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;

  @media (max-width: 1024px) {
    flex-direction: column;
    gap: 1.5rem;
  }
}

.projectDescription {
  flex: 4;
  max-width: 40%;

  @media (max-width: 1024px) {
    max-width: 100%;
  }
}

.projectInfo {
  display: flex;
  justify-content: space-between;
  flex: 6;
  max-width: 50%;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 0rem;
  column-gap: 0rem;
  gap: 1rem;
  height: fit-content;

  @media (max-width: 1024px) {
    flex-direction: column;
    gap: 1.5rem;
    max-width: 100%;
  }
}

.projectInfoItem {
  display: flex;
  height: fit-content;
  flex-direction: row;
  gap: 1rem;
}

.projectInfoItemValue {
  font-weight: 300 !important;
  white-space: nowrap;
}

.sectionsWrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.imageBlockWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.imageBlockImageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageBlockImageContent {
  max-width: 800px;
}

.imageBlockImageContent img {
  border-radius: 12px;
}
