.timeSchedule {
  width: 40vw;
  display: grid;
  grid-template-columns: 1fr 6fr;
  margin-bottom: 1rem;
}

.timeSchedule p {
  margin: 0;
  word-wrap: break-word;
}

.timeSchedule_left p {
  font-family: 'Recoleta', serif;
  font-weight: 500;
}

@media (orientation: portrait) {
  .timeSchedule {
    width: auto;
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin-bottom: 1rem;
  }
}
