.overflowHidden {
  overflow: hidden;
}

.textOverflow {
  overflow-wrap: break-word;
  hyphens: auto;
}

.actionLink {
  color: var(--text-link);
}

.actionLink:hover {
  text-decoration: underline;
}

.actionLink:focus-visible {
  text-decoration: underline;
}

.actionLink:active {
  text-decoration: underline;
}

.punchLineBox {
  margin: 1rem auto;
  padding: var(--padding-m) var(--padding-l) var(--padding-l);
  width: 100%;
  max-width: var(--max-content-width-large);
  background-color: var(--surface-green-subtle);
  border-radius: var(--radius-small) calc(var(--radius-large) * 4)
    var(--radius-small) var(--radius-small);
  display: flex;
  flex-direction: column;
}

.content {
  margin-top: auto;
  min-height: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
