.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  max-width: var(--max-content-width-medium);
  display: flex;
  gap: 1rem;
  justify-content: center;

  @media (max-width: 1024px) {
    flex-direction: column;
  }
}

.content.fullWidth {
  max-width: unset;
}

.imageContent {
  height: 100%;
}

.imageContent img {
  border-radius: 12px;
  object-fit: cover;
  height: 100% !important;
}
