.wrapper {
  align-items: center;
  display: block;
  list-style: none;
  text-decoration: none;
  white-space: nowrap;
  border-radius: 3px ;
  padding: 0.2rem 0.5rem;
}

.wrapper:hover {
  background: #F5F5F7; 
}

.text {
  display: flex;
  align-items: center;
  text-decoration: block; 
  font-weight: 500;
  color: #323545; 
  letter-spacing: 0;
  font-size: 13px;
  gap: 0.2rem;
  line-height: 19px;
}