.wrapper {
  background: #f6f6f8;
  gap: 0.5rem;
  align-items: center;
  display: flex;
  list-style: none;
  text-decoration: none;
  width: fit-content;
  padding: 0.5rem 1rem;
  border-radius: 0.1875rem;
  border: 1px #e6e6ea;
}

.wrapper:hover {
  background: #dedee3;
}

.text {
  display: flex;
  align-items: center;
  color: #4e556d;
  font-size: 1rem;
  gap: 0.5rem;
}
