.focusOn {
  position: sticky;
  top: 0;
  overflow: hidden;
  z-index: 9999;
  background-color: var(--primary-black); 
  /* & > header {
    padding: 1rem 2.5rem;
    transition: background-color 0.4s ease;
    position: sticky;
    top: 0;
  } */
}

.scrolled {
  background-color: var(--primary-black);
}

.isOpen {
  height: 100vh;
  display: flex;
  flex-direction: column;

  @media (max-width: 1024px) {
    background: var(--primary-black);

    & > header {
      flex: 1;
      display: flex;
      flex-direction: column;
      padding: 1rem 2.5rem;

      & > nav {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
      }
    }
  }
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  overflow: hidden;
  width: auto;
  display: flex;
  max-width: 100%;
  height: 1.25rem;

  @media (min-width: 1200px) {
    flex: 1;
  }
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.listMobile {
  composes: list;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  @media (min-width: 1024px) {
    display: none;
  }
}

.listDesktop {
  composes: list;
  display: none;

  @media (min-width: 1024px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-wrap: nowrap;
  }
}

.desktopLinks {
  composes: listDesktop;
  flex: 2;
  gap: 2rem;
  justify-content: center;
  
  @media (min-width: 1200px) {
    gap: 3rem;
  }
}

.desktopCtas {
  composes: listDesktop;
  flex: 1;
  gap: 1rem;
  justify-content: flex-end;
}

.languageSwitcher {
  display: none;

  @media (min-width: 1024px) {
    display: flex;
  }
}

.mobileMenu {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 5rem;
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;

  @media (min-width: 1024px) {
    display: none;
  }
}

/* MOBILE BUTTON */
.button {
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  flex-shrink: 0;
  background-color: transparent;
  border: none;

  @media (min-width: 1024px) {
    display: none;
  }
}

.closed {
  composes: button;
  background: url("/_assets/menu.svg") no-repeat 50% 50%;
}

.open {
  composes: button;
  background: url("/_assets/menu-close.svg") no-repeat 50% 50%;
}
