.focusOn {
  top: 0;
  overflow: hidden;
  z-index: 9999;
}

.isOpen {
  height: 100%;
  display: flex;
  flex-direction: column;

  @media (max-width: 1024px) {
    background: var(--background-bg-light-primary);

    & > header {
      display: flex;
      flex-direction: column;

      & > nav {
        flex: 1;
        display: flex;
        flex-direction: column;
      }
    }
  }
}

.spacer {
  height: 8rem;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0rem;
  margin: 1.5rem 0;
  justify-content: center;
  align-items: center;
  min-height: 5rem;
  padding: 0rem 3rem 0rem 3rem;
  border-radius: 0.75rem;
  background: var(--background-header-light-transparent);
  box-shadow: 0px 0.5px 2px 0px #eaeaea;
  backdrop-filter: blur(40px);
  max-width: 960px;
  width: calc(100vw - 2rem);
  justify-self: center;
  transition-property: top;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 9998;

  @media (max-width: 375px) {
    width: 100vw;
  }
}

.wrapper.hidden {
  top: -6.5rem;
}

.desktopWrapper {
  display: flex;
  justify-content: space-between;
  align-self: stretch;
  align-items: center;
}

.wrapper:has(.mobileMenu) .desktopWrapper {
  padding-top: 1.25rem;
}

.list {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.listMobile {
  composes: list;
  display: flex;
  align-items: space-between;
  flex-direction: column;
  gap: 1.5rem;

  @media (min-width: 1024px) {
    display: none;
  }
}

.listDesktop {
  composes: list;
  display: none;

  @media (min-width: 1024px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-wrap: nowrap;
  }
}

.desktopLinks {
  list-style-type: none;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  justify-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;

  @media (max-width: 834px) {
    display: none;
  }
}

.desktopCtas {
  composes: listDesktop;
  flex: 1;
  gap: 1rem;
  justify-content: flex-end;
}

.languageSwitcher {
  display: none;

  @media (min-width: 1024px) {
    align-items: center;
    gap: 0.75rem;
    display: flex;
  }
}

.divider {
  border: 0;
  height: 1px;
  background: var(--background-bg-light-secondary);
  margin: 1rem 0;
  width: 100%;
}

.mobileMenu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  min-height: 5rem;
  padding: 1.5rem 0;

  @media (min-width: 1024px) {
    display: none;
  }
}

.mobileButtons {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-self: stretch;
}

/* MOBILE BUTTON */
.button {
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  flex-shrink: 0;
  background-color: transparent;
  border: none;

  @media (min-width: 1024px) {
    display: none;
  }
}

.closed {
  composes: button;
  background: url("/_assets/menu.svg") no-repeat 50% 50%;
}

.open {
  composes: button;
  background: url("/_assets/menu-close.svg") no-repeat 50% 50%;
}

.announcementWrapper {
  display: flex;
  flex-direction: column;
  padding: 0.75rem;
  background-color: var(--background-bg-blue);
  align-items: center;
}

.announcementContent {
  display: flex;
  gap: 2rem;

  @media (max-width: 1024px) {
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
  }
}

.announcementContent p {
  font-weight: 600;
  color: var(--background-bg-light-primary);
}

.logo {
  width: 9rem;
  height: 37px;
  background-color: var(--text-primary);
  -webkit-mask: url("/_assets/variant-logo.svg") no-repeat 50% 50%;
}
