.breadCrumbMenu {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  list-style: none;
  text-decoration: none;
}

.breadCrumb {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  list-style: none;
}

.breadCrumbLink {
  text-decoration: underline;
}

.dotSeparator,
.lastDotSeparator {
  font-size: 2.5em;
}

.lastDotSeparator {
  color: var(--background-bg-red);
}
