.wrapper {
  display: flex;
  flex-direction: column;
  margin: 4rem 0;

  @media (min-width: 1024px) {
    align-items: center;
  }
}

.content {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  max-width: 960px;

  @media (max-width: 1024px) {
    flex-direction: column;
    gap: 2rem;
  }
}

.titleSection {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.contactSection {
  display: flex;
  gap: 1.5rem;
}
