.container {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  padding: 0 12.5rem;
}

.titleSection {
  display: flex;
  flex-direction: column;
}

.locationSection {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
