.employee {
  display: flex;
  width: 100%;
  gap: 1rem;
  min-width: 400px;
  width: fit-content;
}

.employeeImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-black);
  border-radius: 12px;
  position: relative;
  width: 96px;
  height: 94px;
}

.employeeInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.employeeName {
  width: fit-content;
  display: flex;
  flex-direction: column;
}

.employeeRole {
  display: flex;
  width: fit-content;
  flex-direction: row;
}

.employeeRoleDot::after {
  content: "·";
  margin: 0 0.5rem;
}

.employeeRoleDot:last-child:after {
  content: "";
  margin: 0;
}

.employeeRole {
  color: var(--text-tertiary);
}
.employeeEmail,
.employeeTelephone {
  color: var(--text-tertiary);
}
