.employee {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 1rem;
}

.employeeImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-bg-dark);
  position: relative;
  width: 112px;
  height: 112px;
  border-radius: var(--radius-medium);
  overflow: hidden;
  aspect-ratio: 1/1;
}

.employeeInfo {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.employeeName {
  width: fit-content;
  display: flex;
  flex-direction: column;
}

.employeeRole {
}

.employeeRoleDot:not(:last-child)::after {
  content: "·";
  margin: 0 0.25rem;
}

.employeeRole {
  color: var(--text-tertiary);
}
.employeeEmail,
.employeeTelephone {
  color: var(--text-tertiary);
}
