.container {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-size: 1.5rem;
}

.input {
  appearance: none;
  width: 2.25rem;
  height: 2.25rem;
  border: 4px solid var(--Blue-500);
  border-radius: 0.375rem;
  cursor: pointer;
  background: white;
  position: relative;
}

.input:checked {
  background: var(--Blue-500);
}

.input:checked::after {
  content: "";
  position: absolute;
  width: 1.75rem;
  height: 1.75rem;
  background-image: url("/_assets/check.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.error {
  color: var(--Red-500);
}
