.footerContainer {
  background-color: var(--color-primary__shade1);
  padding-top: 5rem;
  padding-bottom: 5rem;
}

a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrowContainer {
  margin-left: 1rem;
}
