.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 30rem;
  min-width: var(19.75rem);
  padding: 2.25rem;
  border-radius: 6rem 6rem 0.375rem 0.375rem;
  background-color: #dafbdc;
}

.smiley {
  &::before {
    content: "";
    display: block;
    width: 4.86119rem;
    height: 4.86119rem;
    -webkit-mask: url("/_assets/happy-smiley-face.svg") no-repeat center;
    -webkit-mask-size: cover;
    mask: url("/_assets/happy-smiley-face.svg") no-repeat center;
    mask-size: cover;
    background-color: var(--text-primary);
  }
}
