.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: var(--max-content-width-large);
  margin: 0 auto;
  padding: 5rem 0;
  gap: 2rem;
}

.title {
  max-width: 40rem;

  @media (width <= 834px) {
    max-width: 25.875rem;
  }

  @media (width <= 425px) {
    max-width: 19.4375rem;
  }
}

.content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1rem;

  @media (width <= 768px) {
    display: flex;
    flex-direction: column;
  }
}

.image {
  height: 30rem;

  & img {
    border-radius: 6rem 0.375rem 0.375rem;
  }

  @media (width <= 834px) {
    height: 26.25rem;
    align-self: stretch;
  }

  @media (width <= 425px) {
    align-self: stretch;
    height: 22.375rem;
  }
}

.textContainer {
  display: flex;
  height: 30rem;
  min-width: 19rem;
  max-width: 33.5625rem;
  padding: 1.5rem 0.375rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
  background-color: var(--surface-blue);
  color: var(--text-primary-light);
  border-radius: 6px;

  &:hover {
    background-color: var(--Blue-700);
    border-radius: 24px;
  }
}

.textContent {
  max-width: 33.5625rem;
  padding: 0 1.125rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
  align-self: stretch;
}
