.jobArticle {
  margin: 2rem 1rem 6rem;
}

.jobArticle h1 {
  font-weight: bold;
  margin: 1.8rem 0;
  font-size: 3.3rem;

  background: linear-gradient(
    to right,
    var(--color-primary),
    var(--color-secondary1),
    var(--color-secondary2)
  );
  background-size: 200% 200%;
  animation: backgroundPos 10s ease-in-out infinite;
  background-clip: text;
  transition: color 0.2s ease-in-out;
  color: rgba(0, 0, 0, 0);
}

.button__bottom {
  margin: 4rem 0;
}

.button__top {
  float: right;
  margin: 1rem 0;
}

.rendered__markdown__wrapper {
  display: contents;
}

@media (max-width: 500px) {
  .button__top {
    float: none;
  }
}
