.flex {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-gap: 0 4rem;
}

.textAboveImg {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  display: flex;
  flex-direction: column;
}

.textBelowImg {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  margin-top: 1rem;
}

.imgWrapper {
  grid-column: 2 / span 1;
  grid-row: 1 / span 3;
  margin: auto 0;
  display: flex;
  align-items: center;
}

.img {
  width: 100%;
  max-width: 800px;
  max-height: 70vh;
}

@media (max-width: 1500px) {
  .img {
    width: 90%;
  }
}

@media (max-width: 1120px) {
  .flex {
    display: flex;
    flex-direction: column;
  }

  .textBelowImg {
    order: 3;
  }

  .imgWrapper {
    order: 2;
    margin: 3rem auto;
    max-width: 500px;
    height: min-content;
  }

  .img {
    width: 100%;
    margin: 0;
  }
}
