.flex {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 0 4rem;
}

.topicsDiv {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

.selectedTopic {
  grid-column: 2 / span 1;
  grid-row: 1 / span 2;
}

.mostImportantForYouDiv {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}

.buttons {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
}

.buttons button {
  border: none;
  margin: 1rem 0;
  text-align: left;
  cursor: pointer;
  white-space: nowrap;
  max-width: fit-content;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: var(--color-standard__black);
}

.buttons button:nth-of-type(1) {
  background-color: var(--color-secondary3);
}

.buttons button:nth-of-type(2) {
  background-color: var(--color-secondary2__tint3);
}

.buttons button:nth-of-type(3) {
  background-color: var(--color-primary__tint3);
}

.buttons button:nth-of-type(4) {
  background-color: var(--color-secondary1__tint3);
}

.buttons button:hover,
.buttons button:focus,
.buttons button.active {
  font-weight: bold;
  text-decoration: none;
}

.mostImportantForYou {
  margin: 1.8rem 0;
  font-size: 1.5rem;
  font-family: var(--recoleta-font-family);
  font-weight: 500;
}

.handbookPage p {
  margin-bottom: 2rem;
}

@media (max-width: 1110px) {
  .flex {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .topicsDiv {
    order: 1;
  }

  .selectedTopic {
    order: 2;
  }

  .mostImportantForYouDiv {
    order: 3;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 0 1rem;
    margin-bottom: 0;
  }
}

@media (max-width: 500px) {
  .buttons {
    margin-bottom: 0;
    gap: 1rem;
  }

  .buttons button {
    margin: 0;
  }

  .mostImportantForYou {
    margin-bottom: 0;
    font-weight: 400;
  }
}
