.flex {
  display: flex;
  flex-direction: row;
  gap: 4rem;
}

.text,
.timelineDiv {
  width: calc(50% - 2rem);
}

.imgDiv {
  width: 100%;
  height: 100%;
  display: flex;
}

.imgWrap {
  position: relative;
  margin: auto 0;
}

.blobWrapper {
  position: absolute;
  left: -15rem;
  bottom: -9rem;
  transform: rotate(-145deg);
  width: 130%;
}

.blobWrapper svg {
  width: 100%;
  height: 100%;
}

.img {
  margin: auto 0;
  display: flex;
  z-index: 10;
  width: 90%;
  margin-left: -2rem;
  max-width: 800px;
  position: inherit;
}

.timelineDiv {
  display: flex;
  justify-content: center;
}

.timelineDiv svg {
  height: max-content;
}

@media (min-width: 3500px) {
  .imgDiv {
    display: block;
  }
}

@media (max-width: 1700px) {
  .timelineDiv {
    margin: auto 0;
  }
}

@media (max-width: 1310px) {
  .flex {
    flex-direction: column;
  }

  .text,
  .timelineDiv {
    width: 100%;
  }

  .img {
    display: none;
  }
}
