.flex {
  display: flex;
  flex-direction: row;
  gap: 4rem;
}

.text,
.calculator {
  width: calc(50% - 2rem);
}

.calculator {
  position: relative;
  max-width: 28rem;
}

.calculatorWrapper {
  width: 80%;
  max-width: 23rem;
  margin: 0 4rem;
  position: relative;
  z-index: 1;
}

.pinkBlobWrapper svg {
  width: 100%;
  height: 100%;
}

.calculatorWrapper div {
  border: none;
}

.pinkBlobWrapper {
  position: absolute;
  top: -4rem;
  width: 90%;
}

@media (max-width: 1110px) {
  .flex {
    flex-direction: column;
    gap: 4rem;
  }
  .text,
  .calculator {
    width: 100%;
  }

  .calculator {
    margin: auto;
  }
}

@media (max-width: 900px) {
  .pinkBlobWrapper {
    top: -2rem;
  }
}
