.section {
  background-color: var(--variant-peach);
  color: var(--variant-black);
  display: flex;
  flex-direction: column;
}

.flex {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 2rem;
  flex-grow: 1;
}

.text {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  display: flex;
  flex-direction: column;
  max-width: 800px;
}

.contactInfo {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1rem;
}

.contactInfo > p {
  width: min-content;
  margin-top: 0;
}

.picture {
  grid-column: 2 / span 1;
  grid-row: 1 / span 3;
}

.applyDiv {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.applyDiv {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.text > p {
  max-width: 38rem;
}

.applyDiv p {
  font-family: var(--recoleta-font-family);
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.imgWithBlob {
  height: min-content;
  width: 100%;
  max-width: 30rem;
}

a.buttonPink,
a.buttonBlue {
  font-family: var(--recoleta-font-family);
  font-size: 1.6rem;
  line-height: 32px;
  padding: 0.5rem 1rem;
  text-decoration: none;
  width: max-content;
  color: var(--variant-black);
  display: block;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}

a.buttonBlue {
  background-color: var(--variant-teal-light-2);
}

a.buttonPink {
  background-color: var(--variant-pink-light-2);
}

@media (max-width: 1300px) {
  .flex {
    grid-template-columns: repeat(3, auto);
    grid-template-rows: min-content 1fr;
  }

  .text {
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
  }

  .picture {
    grid-column: 2 / span 2;
    grid-row: 2 / span 1;
  }

  .applyDiv {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
  }
}

@media (max-width: 800px) {
  .flex {
    display: flex;
    flex-direction: column;
  }

  .text {
    order: 1;
  }

  .picture {
    order: 2;
    margin: 1rem 0;
    display: flex;
    justify-content: center;
  }

  .applyDiv {
    order: 3;
  }

  .imgWithBlob {
    width: 80%;
  }
}
