* {
  padding: 0;
  margin: 0;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --baseSize: 16px;
  --grid: 3rem;

  --gutter: 3rem;
  --gutter--small: 2rem;

  --gridGutter: calc(var(--grid) + var(--gutter));

  --fontSize: 1.5rem;

  --maxWidth: 77.5rem;
  --minWidth: 22.5rem;

  --smallPadding: 1rem;
  --buttonPadding: var(--smallPadding) calc(var(--smallPadding) * 2);

  --verticalSpace: 12rem;
  --verticalSpace--half: calc(var(--verticalSpace) / 2);

  --black: #33333d;
  --green: #03dac6;
  --pink: #ff0166;
  --lightPink: #ffc4bc;
  --beige: #ede8d7;
  --purple: #6200ee;
  --white: #fff;
  --grey: #494949;

  --zIndex__top: 100;
  --zIndex__mid: 70;
  --zIndex__bot: 30;
  --zIndex__norm: 1;
}

html {
  font-size: var(--baseSize);
  font-family: "IBM Plex Sans", sans-serif;
  color: var(--black);
  background: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "IBM Plex Serif", serif;
  font-weight: 500;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: var(--fontSize);
  margin: var(--fontSize) 0;
}

a {
  color: var(--black);
  text-decoration: none;
  border-bottom: 2px solid var(--green);
  transition: border-color 200ms ease-in;
}

a:hover {
  border-color: var(--pink);
}

.main {
  width: 90%;
  max-width: var(--maxWidth);
  min-width: var(--minWidth);
  margin: 0 auto;
  position: relative;
}

.hero {
  position: relative;
  overflow: hidden;
  max-height: 100vh;
}
.hero__illustration {
  width: 100%;
  display: block;
}
_:-ms-fullscreen,
:root .hero__illustration {
  display: none !important;
}
.hero__inner {
  position: absolute;
  bottom: -3rem;
  left: -2rem;
  right: -1rem;
  padding: 1rem 4rem;
  transform-origin: left bottom;
  width: calc(100vw + 4rem);

  transform: rotate(var(--rotation, -8deg));
  background: rgba(255, 255, 255, var(--opacity, 0.8));
  transition: transform 100ms linear, opacity 50ms linear;

  z-index: var(--zIndex__mid);
}

_:-ms-fullscreen,
:root .hero__inner {
  position: fixed !important;
  transform: rotate(0);
  left: 0;
  right: 0;
  top: 0;
  height: 6rem;
}

.hero__logo {
  background: url("../assets/header-pattern.svg") no-repeat center center;

  transition: color 200ms ease-in;
  background-clip: text;
  -webkit-background-clip: text;
}
.hero__logo a {
  transition: color 200ms ease-in;
}

.hero__menu {
  width: 100%;
}
_:-ms-fullscreen,
:root .hero__inner {
  position: fixed;
  top: 0;
  display: flex;
  align-items: baseline;
  bottom: 0;
  background: var(--white);
  height: 7rem;
}
.hero__inner--fixed {
  position: fixed;
  top: 0;
  display: flex;
  align-items: baseline;
  bottom: 0;
  background: var(--white);
  height: 7rem;
}
.hero__inner--fixed .hero__menu {
  width: 60%;
  margin-left: auto;
}
.hero__inner--fixed .hero__logo {
  color: transparent;
}
.hero__inner--fixed .hero__logo a {
  color: transparent;
}
.hero__inner--offTop {
  transform: translateY(-8rem);
}

.hero::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0;
  width: 3rem;
  border-right: 100vw solid var(--white);
  border-bottom: 0 solid transparent;
  border-top: 14vw solid transparent;
  overflow: hidden;
  z-index: var(--zIndex__bot);
}

.hero__logo {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  text-transform: lowercase;
  letter-spacing: -0.2rem;
  font-size: 5rem;
}

.hero__logo a {
  border: 0;
}
.hero__logo img {
  display: block;
}

.hero__menu {
  position: relative;
}

.hero__menuItems {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.hero__menuItem {
  color: var(--grey);
  text-decoration: none;
  font-size: 1.2rem;
  border: 0;
  padding: var(--smallPadding);

  transition: color 150ms ease-in;
}
.hero__menuItem:hover {
  color: var(--pink);
}

.textContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: var(--verticalSpace) var(--gridGutter);
  z-index: var(--zIndex__norm);
  position: relative;
}
.textContainer--navable {
  margin-top: 0;
  padding-top: var(--verticalSpace);
}
.textContainer--salesDesign {
  margin-left: 0;
}
.textContainer--salesTeaching {
  margin-right: 0;
}
@media (max-width: 1050px) {
  .textContainer {
    margin: var(--verticalSpace) var(--grid);
  }
  .textContainer--navable {
    margin-top: 0;
    padding-top: var(--verticalSpace);
  }
}
.textContainer--imgRight .textContainer__text {
  margin-right: var(--gutter);
}
.textContainer--imgLeft .textContainer__text {
  margin-left: var(--gutter);
}
.textContainer__text {
  flex: 3 1;
}
.textContainer__title {
  word-wrap: break-word;
}
.textContainer__img {
  flex: 2 1;
}
.textContainer__img img {
  max-width: 100%;
}

.career {
  margin-bottom: var(--verticalSpace);
}
.career__header {
  display: flex;
  align-items: flex-end;
  height: 58rem;
  position: relative;

  margin-top: -28rem;
}

.career__title {
  /* To compansate for padding when clicking menu items */
  bottom: 0rem;
  left: -1rem;
  padding-top: 14rem;

  position: relative;
  transform: rotateZ(-10deg);
  transform-origin: left bottom;
}

.career__header__illustration {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;

  width: 100vw;
  left: 50%;
  margin-left: -50vw;

  margin-bottom: -3rem;
  padding-bottom: 6rem;
}

.career__header__illustration::before {
  margin-top: 10rem;
  margin-bottom: 10rem;
  transform: rotateZ(-10deg);
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  /* Compansate for top and bottom to avoid whitespots. */
  margin-left: -15rem;
  margin-right: -15rem;

  background: linear-gradient(
    to bottom,
    var(--green) 0%,
    var(--green) 25%,
    var(--pink) 25%,
    var(--pink) 25%,
    var(--pink) 50%,
    var(--lightPink) 50%,
    var(--lightPink) 50%,
    var(--lightPink) 75%,
    var(--beige) 75%,
    var(--beige) 75%,
    var(--beige) 100%
  );
}
.career__joinUs {
  text-align: center;
}
.career__joinUsLink {
  display: inline-block;
  padding: var(--buttonPadding);
  background: var(--purple);
  border-radius: 0.2rem;
  box-shadow: 0.3rem 0.3rem 0 var(--pink);
  color: var(--white);
  font-size: 2rem;
  font-weight: 500;
  border: 0;
  font-family: "IBM Plex Sans", sans-serif;
  text-decoration: none;

  transition: box-shadow 200ms ease-in;
}
.career__joinUsLink:hover {
  box-shadow: 0.5rem 0.5rem 0 var(--pink);
}
.career__joinUsLink:active {
  box-shadow: 0.1rem 0.1rem 0 var(--pink);
}

.whatWeDo__header {
  position: relative;
  height: 30rem;
}
.whatWeDo__header::before {
  content: "";
  position: absolute;
  left: 50%;
  right: 0;
  margin-left: -50vw;

  background: url("../assets/elements/sales.svg") no-repeat right 1rem;
  height: 30rem;
}
.whatWeDo__headerTitle {
  transform: rotateZ(-10deg);
  margin-left: -1rem;
  padding-top: 4rem;
}

.blog {
  position: relative;
  padding-top: 18rem;
  margin-top: -4rem;
  margin-bottom: calc(var(--verticalSpace) * 3);
}
.blog__illustration {
  z-index: 0;
  content: "";
  display: block;
  position: absolute;
  left: 30%;
  top: 10rem;
  bottom: -15rem;
  right: 50%;
  margin-right: -50vw;
  overflow: hidden;
}
.blog__illustration__inner {
  z-index: 0;
  content: "";
  display: block;
  position: absolute;
  left: -15rem;
  top: 7rem;
  bottom: 7rem;
  right: -15rem;
  transform: rotateZ(-10deg);
  overflow: hidden;
}
.blog__illustration__inner::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: -15rem;
  bottom: -7rem;
  right: 0;
  transform: rotateZ(10deg);
  background: url(../assets/elements/blog-pattern.svg) top right;
}
.blog__header {
  text-align: right;
  position: relative;
  top: -5rem;
  margin-right: 1rem;
  transform: rotateZ(-10deg);
}

.blog__posts {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row-reverse;
}

.blogPost {
  position: relative;
  display: flex;
  align-items: stretch;
  background: var(--white);
  width: calc(50% - var(--gutter));
  float: left;
}
.blogPost:nth-child(2n) {
  margin-top: var(--verticalSpace);
}

@media (max-width: 1100px) {
  .blogPost {
    float: none;
    width: 100%;
    margin: 0 0 var(--verticalSpace--half);
  }
  .blogPost:nth-child(2n) {
    margin-top: 0;
  }
}

.blogPost__content {
  display: flex;
  flex-direction: column;
  padding: var(--gutter--small);
  font-size: 1.2rem;

  flex: 2 1;
}
.blogPost__readMore {
  margin-top: auto;
}
.blogPost__figure {
  background-color: var(--black);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  flex: 1 1;
}
.blogPost__figure img {
  visibility: hidden;
  width: 1px;
  height: 1px;
  position: absolute;
}
.blogPost p {
  font-size: 1.2rem;
}
.blog__noScript {
  width: 80%;
  margin: var(--verticalSpace--half) auto 0;
  background: var(--white);
  border: 0.3rem solid var(--green);
  position: relative;
  padding: var(--verticalSpace--half);
  display: block;
  text-align: center;
}
.blog__noScript:hover {
  border-color: var(--pink);
}

.blog__noScript img {
  display: block;
  max-width: 90%;
  margin: 0 auto;
}

.people {
  margin: var(--verticalSpace) var(--gridGutter);
}
.people__container {
  display: flex;
  flex-wrap: wrap;
  flex-flow: row wrap;
  justify-content: center;
  list-style: none;
}
.people__figure {
  position: relative;
  overflow: hidden;
}
.people__figure img {
  display: block;
}
.people__container .link-box {
  display: block;
  border: none;
}
.people__caption {
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  transform: translateY(100%);
  transition: all 150ms ease-in;
}
.people__caption::before {
  background: url("../assets/elements/cv-background.svg") center center no-repeat;
  background-size: cover;
  display: block;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.01;
  transition: opacity 200ms linear;
}
.people__figure:hover .people__caption {
  transform: translateY(0);
}
.people__figure:hover .people__caption::before {
  opacity: 0.8;
}
.people__title {
  margin: auto;
  position: relative;
  text-align: center;
  color: var(--white);
  padding: var(--smallPadding);
}
@media (max-width: 850px) {
  .people__title {
    font-size: 1.5rem;
  }
  .people {
    margin: var(--verticalSpace--half) 0;
  }
}

.thumbsUp {
  margin: var(--verticalSpace) auto;
  margin-bottom: calc(var(--verticalSpace) * 2);
  display: block;
  max-width: 70%;
}

.footer {
  position: relative;
  background: var(--black);
}
.footer::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 0;
  height: 0;
  width: 0;
  border-right: 100vw solid var(--black);
  border-bottom: 0 solid transparent;
  border-top: 14vw solid transparent;
  overflow: hidden;
}
.footer__inner {
  width: 90%;
  margin: 0 auto;
  max-width: var(--maxWidth);
  padding: var(--verticalSpace--half) 0;

  display: flex;
  align-items: baseline;
  color: var(--white);
  position: relative;
  flex-wrap: wrap;
}
.footer__header {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  text-transform: lowercase;
  letter-spacing: -0.1rem;
  font-size: 3.5rem;

  position: absolute;
  top: -2.5rem;
  left: 0;
  z-index: var(--zIndex__mid);

  transform: rotateZ(-8deg);

  background: linear-gradient(
    to bottom,
    var(--black) 0%,
    var(--black) 50%,
    var(--white) 0%,
    var(--white) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sendUpdateText {
  font-size: 1rem;
  text-align: center;
  font-style: italic;
}
.sendUpdateText a {
  color: var(--white);
}

.footer__section {
  flex: 1 1 33.333%;
}

.footer__section a {
  color: var(--white);
}

.footer__section h3 {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: var(--gutter--small);
}
.footer__section p,
.footer__section ul {
  margin: 0;
  font-size: 1.2rem;
  line-height: 2rem;
}
.footer__section ul {
  list-style: none;
}

.footer__section address {
  margin-top: var(--smallPadding);
}
.footer__section address pre {
  font-family: "IBM Plex Sans", sans-serif;
}

.footer__social {
  width: 100%;
  margin: var(--verticalSpace--half) 0 0;
}
.footer__social__list {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 60%;
  margin: 0 auto;
  list-style-type: none;
  padding: 0;
}
.footer__socialLink {
  display: block;
  padding: 0.5rem;
  margin: 0.5rem;
}
.footer__socialLink a {
  border: 0;
  transition: all 100ms ease-in;
}
.footer__socialLink a:hover {
  /* Some (maybe) temporary hack to make an interesting hover effect */
  /* filter: brightness(69%) sepia(1) hue-rotate(70deg) saturate(203.2%); */
  opacity: 0.8;
}

@media (max-width: 1100px) {
  .career__title {
    top: -2rem;
  }
}
@media (max-width: 900px) {
  html {
    font-size: 13px;
  }
  .career__title {
    top: -2rem;
  }
}
@media (max-width: 1200px) {
  .hero__inner--fixed .hero__menu {
    width: auto;
  }
}
@media (max-width: 800px) {
  .hero__inner .hero__logo {
    font-size: 3rem;
  }
  .hero__inner--fixed {
    height: 5rem;
  }
}
@media (max-width: 750px) {
  .textContainer {
    flex-direction: column;
    margin: 0;
  }
  .textContainer--imgRight {
    flex-direction: column-reverse;
  }
  .textContainer--imgLeft .textContainer__text,
  .textContainer--imgRight .textContainer__text {
    margin: 0;
  }
  .textContainer__img {
    margin: var(--verticalSpace--half) 0;
  }
  .whatWeDo .textContainer__img {
    margin: var(--verticalSpace) 0;
  }
  .textContainer__img--top {
    display: none;
  }
  .textContainer--top {
    margin-bottom: var(--verticalSpace--half);
  }
  .career__header {
    height: 38rem;
    margin-top: -5rem;
  }
  .career__title {
    top: -4rem;
  }
}
@media (max-width: 650px) {
  html {
    font-size: 12px;
  }
  h2 {
    font-size: 2rem;
  }
  :root {
    --verticalSpace: 9rem;
  }
  .whatWeDo__header::before {
    background-position: left bottom;
  }
  .footer__inner {
    flex-direction: column;
  }
  .footer__section {
    margin-top: var(--verticalSpace--half);
  }
}
@media (max-width: 700px) {
  .hero__inner {
    height: 5rem;
    bottom: -1rem;
  }
  .hero__inner--fixed {
    left: 0;
    right: 0;
    padding: var(--smallPadding) 5%;
  }
  .hero__menu {
    position: absolute;
    height: 1px;
    width: 1px;
    visibility: hidden;
  }
}
