* {
  padding: 0;
  margin: 0;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --baseSize: 16px;
  --grid: 3rem;

  --gutter: 3rem;
  --gutter--small: 2rem;

  --gridGutter: calc(var(--grid) + var(--gutter));

  --fontSize: 1.25em;

  --maxWidth: 77.5rem;
  --minWidth: 22.5rem;

  --smallPadding: 1rem;
  --buttonPadding: var(--smallPadding) calc(var(--smallPadding) * 2);

  --indent: 3rem;

  --verticalSpace: 12rem;
  --verticalSpace--half: calc(var(--verticalSpace) / 2);

  --black: #33333d;
  --green: #03dac6;
  --pink: #ff0166;
  --lightPink: #ffc4bc;
  --beige: #ede8d7;
  --purple: #6200ee;
  --white: #fff;
  --grey: #494949;

  --zIndex__top: 100;
  --zIndex__mid: 70;
  --zIndex__bot: 30;
  --zIndex__norm: 1;

  --font-size-min: 14;
  --font-size-max: 22;
  --viewport-min: 400;
  --viewport-max: 1500;
}

html {
  font-size: var(--baseSize);
  font-size: calc( (var(--font-size-min) * 1px) + (var(--font-size-max) - var(--font-size-min)) * ((100vw - (var(--viewport-min) * 1px)) / (var(--viewport-max) - var(--viewport-min))) );
  line-height: 1.45;
  font-family: "Basier Circle", "IBM Plex Sans", sans-serif;
  color: var(--black);
  background: var(--beige);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: "IBM Plex Serif", serif; */
  font-weight: 500;
  line-height: 1;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

img{ max-width: 100%; }

li{
  font-size: var(--fontSize);
  margin: 0 var(--indent);
}

.checklist{
  list-style-type: none;

  grid-column: 1 / -1;

  display: grid;
  grid-template-columns: max-content 1fr;
  grid-gap: 1rem 3rem;
  font-size: 1.35rem;

}

.checklist li{

    display: contents;

}

.checklist li:before {
  opacity: 0.5;
    content: "done"; 
    text-decoration: none;
}

.checklist li.unchecked {
  text-decoration: none;
}

.checklist li.unchecked:before {
  opacity: 1;
  content: "doing!";
}

.checklist a{
  text-decoration: line-through;
}

p{
  font-size: var(--fontSize);
  margin: var(--fontSize) 0;
}

a {
  color: blue;
  text-decoration: none;
  /* border-bottom: 2px solid var(--green); */
  box-shadow: 0 px 1px 0 currentColor;
  transition: border-color 200ms ease-in;


  color: #00f;
  text-decoration: none;
  box-shadow: 0 px 1px 0 currentColor;
  transition: all .2s ease-in;
  background: linear-gradient(to right,var(--purple),var(--pink));
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(117, 107, 132, 0.25);
  background-size: 100vw;
  
  
  text-decoration: underline;
  
}

a:hover {
  border-color: var(--pink);
  -webkit-text-fill-color:rgba(255, 0, 0, 0.25);
}

.main {
  /* width: 90%;
  max-width: var(--maxWidth);
  min-width: var(--minWidth);
  margin: 0 auto; */
  position: relative;
}

.hero {
  position: relative;
  overflow: hidden;
  max-height: 100vh;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


.section-grid {
  align-items: center;
  position: relative;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr 2fr 2fr;
  padding: 2rem 4rem;
  grid-gap: 1rem;
}

.section__header{
  grid-column: 1 / -1;
  text-align: center;
  padding: 8rem 0 5rem;
}

.content{
  grid-column: 4 / span 3;
}

.content:only-child{
  grid-column: 2/6;
}

.figure{
  grid-column: 1 / span 2;
}


.footer{
  background-color: aliceblue;
  font-size: 0.8rem;
}

.footer__social__list{
  
}

.footer ul{
  list-style: none;
}

.footer li{
  margin: 0;
}

.footer__inner{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 2rem 4rem;
  grid-gap: 1rem;
}

.footer__heading{
  margin-bottom: 0.5rem;
}