.statusTemplate {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.image {
  width: 320px;
}

.statusTemplate a,
.statusTemplate button {
  color: #3840ff;
  text-decoration: underline;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: inherit;
}
