.wrapper {
  margin: auto;
  width: 1000px;
}

.content {
  margin: auto;
}

.number {
  text-align: right;
}

.forecast {
  margin: 6rem auto;
}

.forecast_heading {
  font-family: 'Recoleta';
  text-align: right;
  min-width: 8rem;
}

.title {
  font-weight: bold;
  margin: 1.8rem 0;
  font-size: 3.3rem;

  background: linear-gradient(
    to right,
    var(--color-primary),
    var(--color-secondary1),
    var(--color-secondary2)
  );
  background-size: 200% 200%;
  animation: backgroundPos 10s ease-in-out infinite;
  background-clip: text;
  transition: color 0.2s ease-in-out;
  color: rgba(0, 0, 0, 0);
}
.title[data-no-animation='true'] {
  animation: none;
}

@media (max-width: 760px) {
  .employee {
    margin: 0;
  }
  .employee:not(:first-of-type) {
    margin-top: 4.8rem;
  }
  .employees__layout {
    justify-content: center;
  }
}
@media (min-width: 760px) and (max-width: 1100px) {
  .employees__layout {
    --columns: 2;
  }
  .employee:nth-child(2n + 2) {
    margin-top: calc(8rem - var(--randomOffset) * 2rem);
  }
}
@media (min-width: 1100px) {
  .employees__layout {
    --columns: 3;
  }
  .employee:nth-child(3n + 2) {
    margin-top: calc(8rem - var(--randomOffset) * 2rem);
  }
}

@keyframes backgroundPos {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}
