.list {
  display: flex;
  gap: 0.25rem;
  list-style: none;
  padding: 0;
  margin: auto 0;
}

.divider {
  border-left: 1px solid var(--text-primary);
  flex-grow: 1;
}

.link {
  color: var(--text-primary) !important;
  letter-spacing: 0.1rem;
  line-height: 120%;
  font-weight: 300;

  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.selectedLink {
  color: var(--text-primary) !important;
  letter-spacing: 0.1rem;
  line-height: 120%;
  font-weight: 600;

  &:active {
    font-weight: 600;
    text-decoration: none;
  }
}
