.list {
  display: flex;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.divider {
  border-left: 1px solid var(--text-primary);
  flex-grow: 1;
}

.link {
  color: var(--text-primary) !important;
}
