.blobLink {
  display: grid;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  position: relative;
  transition: opacity 200ms ease-out;
  grid-template-rows: 1fr;
}
.blobContainer,
.linkContent {
  grid-area: 1 / 1;
}

.linkContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blobLink span {
  display: block;
  font-size: 1.3rem;
  line-height: 1.5rem;
  padding: 0 2rem;
  color: var(--color-secondary1__tint1--text);
  text-align: center;
}
.blobLink:hover {
  opacity: 0.8;
}

.blobLinkArrow {
  display: block;
  max-width: 50%;
}

@media (max-width: 600px) {
  .blobLink span {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}
