.clock {
  position: relative;
  background-color: var(--color-secondary1);
  padding-block: 1rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.clock > p {
  font-family: 'Recoleta';
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.75rem;
}

.clock__time {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.clock__time > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clock__time > div p {
  margin: 0;
}

.clock__time > div p:nth-child(1) {
  font-family: 'Recoleta';
  font-size: 3rem;
  line-height: 4rem;
}

.clock__time > div p:nth-child(2) {
  font-family: 'Graphik';
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 1.5rem;
}

@media (min-width: 1000px) {
  .clock,
  .clock__time > div {
    flex-direction: row;
  }

  .clock {
    gap: 1rem;
    justify-content: center;
  }

  .clock__time > div {
    gap: 0.5rem;
  }
}
