.wrapper {
  padding: 5rem 0;
  max-width: var(--max-content-width-large);
  margin: 0 auto;
  background-color: var(--background-bg-light-primary);
}

.title {
  padding-bottom: 2rem;
}

.logoWrapper {
  padding: 0;
  margin: 0;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.5rem 3rem;
  justify-content: center;

  &>li {
    list-style: none;

    & img {
      height: 4.5rem;
      width: auto;

      @media (max-width: 834px) {
        height: 3.625rem;
      }

      @media (max-width: 425px) {
        height: 3rem;
      }
    }
  }

  @media (max-width: 834px) {
    gap: 1rem 2.25rem;
  }

  @media (max-width: 425px) {
    gap: 0.5rem 1.5rem;
  }
}
