.shared {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  composes: shared;
  padding: 5rem 2rem;
  background-color: var(--background-bg-light-primary);
}

.logoWrapper {
  padding: 0;
  margin: 0;
  list-style: none;
  max-width: var(--max-content-width-large);

  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 2.25rem 5.625rem;

  & > li {
    max-width: 15rem;
    max-height: 4.5rem;
    overflow: hidden;
    padding: 0.5rem;
    object-fit: contain;
  }
}
