.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem 0;
  flex-wrap: wrap;
}

.header {
  color: var(--background-bg-light-primary);
  font-size: 48px;
  font-weight: 600;
  align-self: flex-start;
}

.employeeFiltersWrapper {
  padding: 1.5rem 0;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.employeeFilterWrapper {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.employeeFilterLabel {
  flex-shrink: 0;
  min-width: 4.5rem;
  width: 4.5rem;
}

.employeeCountWrapper {
  width: 100%;
}

.employeeCount {
  font-size: 16px;
}

.employeeCountValue {
  font-weight: 500;
}

.employees {
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  width: 100%;
  text-wrap: wrap;
  gap: 0.5rem;
}

.peopleContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.employeeImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  height: 150px;
  padding: 1rem;
  position: relative;
}

.employeeName {
  color: var(--text-primary);
  font-size: 16px;
  font-weight: 600;
}

.employeeRole {
  color: var(--text-primary);
  font-size: 16px;
  font-weight: 300;
}

.employeeEmail,
.employeeTelephone {
  color: var(--text-primary);
  font-size: 16px;
  font-weight: 300;
}
