.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem 0;
  flex-wrap: wrap;
}

.header {
  color: var(--primary-black);
  font-size: 48px;
  font-weight: 600;
  align-self: flex-start;
}

.employeeCountWrapper {
  width: 100%;
}

.employeeCount {
  color: var(--primary-black);
  font-size: 16px;
}

.employeeCountValue {
  font-weight: 500;
}

.employees {
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  width: 100%;
  text-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
}

.peopleContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}
