.blobText svg {
  position: relative;
  z-index: 0;
}

.blobText__textbox {
  min-height: 25rem;
  background-repeat: no-repeat;
}

.blobText:nth-child(odd) .blobText__textbox {
  background-position: right 0 bottom 4rem;
  text-align: end;
}

.blobText__text {
  padding-top: 2rem;
  position: relative;
  font-size: 1.875rem;
  z-index: 1;
}
