.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: var(--max-content-width-large);
  padding: 0 2rem;
  margin: 5rem auto;
  gap: 2rem;
  color: var(--text-primary);
}

.image {
  height: 30rem;

  & img {
    border-radius: 0.375rem 6rem 0.375rem 0.375rem;
  }
}

.title {
  width: 40rem;
  color: var(--text-primary);
}

.content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0.25rem;
  gap: 1rem;
}
