/* global var */
:root {
  /* Heading */
  --recoleta-font-family: 'Recoleta';
  --heading-font-style: normal;
  --heading-font-weight: 400;
  --heading-font-size: 36px;
  --headig-line-height: 53px;

  /* paragraph */
  --graphik-font-family: 'Graphik Web';
  --paragraph-font-style: normal;
  --paragraph-font-size: 20px;
  --paragraph-line-height: 32px;

  /* Heading Mobile*/
  --MobileHeading-font-family: 'Recoleta';
  --MobileHeadingfont-style: normal;
  --MobileHeadingfont-weight: 500;
  --MobileHeadingfont-size: 24px;
  --MobileHeadingline-height: 33px;

  /* paragraph mobile*/
  --MobileParagraph-font-size: 16px;
  --MobileParagraph--line-height: 23px;

  /* Colors */
  --variant-black: #333333;
  --variant-gray: #c4cad0;
  --variant-dark-gray: #332726;
  --variant-blue: #423d89;
  --variant-blue-2: #35316e;
  --variant-blue-3: #736ebe;
  --variant-blue-4: #b7b4de;
  --variant-blue-5: #68e9dd;
  --variant-blue-6: #282552;
  --variant-blue-7: #1a1837;
  --variant-pink: #e61a6b;
  --variant-pink-2: #f076a6;
  --variant-pink-3: #8b0f40;
  --variant-pink-4: #fad2ed;
  --variant-pink-5: #b91456;
  --variant-peach: #ffc4bc;
  --variant-peach-2: #ffdcd7;
  --variant-peach-3: #fff3f2;
  --variant-teal: #03dac6;
  --variant-teal-2: #9af0e8;
  --variant-teal-3: #01574f;
  --variant-beige: #ede8d7;
  --variant-beige-1: #f1eddf;
  --variant-beige-3: #f4f1e7;
}

/* Felles styling*/
section {
  scroll-snap-align: start;
  padding: 4rem 8rem;
  min-height: 100vh;
  overflow: hidden;
}

/* SnapScroll */
.scrollContainer {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-x: hidden;
  z-index: 0;
  max-height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y proximity;
  scroll-behavior: smooth;
}

:global(.body-hidden) .scrollContainer {
  overflow-y: hidden;
}

p {
  font-family: var(--graphik-font-family);
  font-style: var(--paragraph-font-style);
  font-size: var(--paragraph-font-size);
  line-height: var(--paragraph-line-height);
  width: 100%;
}

/* Headings */
h1 {
  font-family: var(--recoleta-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 7rem;
  width: 100%;
  max-width: 1800px;
  margin-top: 5%;
  margin-bottom: 5%;
  background: linear-gradient(to right, #e61a6b, #534dac, #02ae9e);
  background-size: 100% 100%;
  background-clip: text;
  /* or 135% */
}

h2 {
  margin-bottom: 20px;
  font-family: var(--recoleta-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
}

h3 {
  font-family: var(--recoleta-font-family);
  font-style: var(--heading-font-style);
  font-weight: var(--heading-font-weight);
  font-size: var(--heading-font-size);
  line-height: var(--headig-line-height);
  margin-bottom: 2%;
}

@media (max-width: 720px) {
  /* Heading Mobile */
  h3 {
    font-family: 'Recoleta';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
  }

  h1 {
    width: 100%;
    font-family: 'Recoleta';
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 52px;
  }
}

/* Mobile */
@media (max-width: 500px) {
  /* Mobile Heading */
  .heading {
    font-family: var(--MobileHeading-font-family);
    font-style: var(--MobileHeadingfont-style);
    font-weight: var(--MobileHeadingfont-weight);
    font-size: var(--MobileHeadingfont-size);
    line-height: var(--MobileHeadingline-height);
    margin-bottom: 10%;
  }

  p {
    font-size: var(--Mobileparagraph-font-size);
    line-height: var(--MobileParagraph--line-height);
  }
}

/* Text */
.textGradient {
  background-size: 100% 100%;
  background-clip: text;
  transition: color 0.2s ease-in-out;
  background-position-x: 60%;
  -webkit-text-fill-color: transparent;
}

/* Color schemas for sections */
.sectionDarkBlue,
.sectionDarkBlue button,
.sectionDarkBlue a {
  background-color: var(--variant-blue-7);
  color: white;
}

.sectionLightPeach,
.sectionLightPeach button,
.sectionLightPeach a {
  background-color: var(--variant-peach-3);
  color: var(--variant-black);
}

.sectionDarkTeal,
.sectionDarkTeal button,
.sectionDarkTeal a {
  background-color: var(--variant-teal-3);
  color: white;
}

.sectionLightBeige,
.sectionLightBeige button,
.sectionLightBeige a {
  background-color: var(--variant-beige-3);
  color: var(--variant-black);
}

.sectionDarkPink,
.sectionDarkPink button,
.sectionDarkPink a {
  background-color: var(--variant-pink-3);
  color: white;
}

/* Landing page styling  */
.landingpageSection {
  padding-top: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.landingpageSectionFlex {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  flex-grow: 1;
}

.landingpageSectionApplyDiv {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  min-width: 420px;
  width: max-content;
}

.landingpageSectionApplyDiv p + div {
  margin-top: 1rem;
}

.landingpageSectionImgDiv {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.landingpageSectionImgBlobWrapper {
  position: absolute;
  max-width: 800px;
  bottom: auto;
  right: 0;
  width: 100%;
}

.landingpageSectionImg {
  width: 90%;
  z-index: 10;
  position: relative;
}

.landingpageSectionImgBlobWrapper svg {
  position: absolute;
  right: 0%;
  height: 120%;
  width: 120%;
  z-index: 1;
  bottom: -10%;
}

.moreInfoDiv {
  position: absolute;
  right: 50%;
  bottom: 2rem;
}

@media (max-width: 1300px) {
  h1 {
    font-size: 4rem;
  }

  .landingpageSectionFlex {
    flex-direction: column;
  }

  .landingpageSectionApplyDiv,
  .landingpageSectionImgDiv {
    width: 100%;
  }

  .landingpageSectionImgDiv {
    display: flex;
    justify-content: end;
    width: 100%;
  }

  .landingpageSectionImg {
    max-width: 700px;
  }

  .landingpageSectionImgBlobWrapper {
    width: max-content;
  }
}

@media (max-width: 1000px) {
  .landingpageSectionImgDiv {
    justify-content: center;
  }
}

@media (max-width: 850px) {
  .landingpageSectionImgBlobWrapper {
    width: 130%;
    right: auto;
  }
}

/* About the job or employee styling */
.aboutTheJobOrEmployeeSection {
  padding-bottom: 20%;
  height: max-content;
  min-height: 100vh;
}

.aboutTheJobOrEmployeeSectionFlex {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-gap: 0 4rem;
  width: 100%;
}

.aboutTheJobOrEmployeeSectionTextAboveImg {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  display: flex;
  flex-direction: column;
  height: max-content;
}

.aboutTheJobOrEmployeeSectionTextBelowImg {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  height: max-content;
  margin-top: 1rem;
}

.aboutTheJobOrEmployeeSectionImgWrapper {
  grid-column: 2 / span 1;
  grid-row: 1 / span 3;
  height: -webkit-max-content;
  height: max-content;
  margin: auto 0;
}

.aboutTheJobOrEmployeeSectionImg {
  width: 100%;
  max-width: 500px;
}

@media (max-width: 1500px) {
  .aboutTheJobOrEmployeeSectionImg {
    width: 90%;
  }
}

@media (max-width: 1120px) {
  .aboutTheJobOrEmployeeSectionFlex {
    display: flex;
    flex-direction: column;
  }

  .aboutTheJobOrEmployeeSectionTextBelowImg {
    order: 3;
  }

  .aboutTheJobOrEmployeeSectionImgWrapper {
    order: 2;
    margin: 3rem auto;
    max-width: 500px;
  }

  .aboutTheJobOrEmployeeSectionImg {
    width: 100%;
    margin: 0;
  }
}

/* Section 3 styling */

.summerstudentQuotesSection {
  position: relative;
}

.summerstudent {
  display: flex;
  flex-direction: row;
  z-index: 10;
  width: 70%;
  margin: 6rem 0;
  margin-top: 0;
}

.summerstudent:nth-of-type(even) {
  flex-direction: row-reverse;
  margin-left: 12em;
}

.summerstudent:last-of-type {
  margin-bottom: 0;
}

.summerstudentPicture {
  width: 288.35px;
  height: 288.35px;
  margin-top: auto;
  margin-bottom: auto;
}

.summerstudent:nth-of-type(odd) .summerstudentPicture {
  margin-right: 4rem;
}

.summerstudent:nth-of-type(even) .summerstudentPicture {
  margin-left: 4rem;
}

.summerstudentQuote,
.summerstudentName {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  position: relative;
}

.summerstudentQuote {
  font-family: 'Graphik Web';
}

.summerstudentName {
  font-family: 'Recoleta';
}

.summerstudent div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.summerstudent,
.summerstudentPicture,
.summerstudentQuote,
.summerstudentName {
  z-index: 10;
}

.summerStudentQuotesSectionGreenBlobTop {
  right: -12%;
  width: 700px;
  position: absolute;
  top: 0rem;
}

.summerStudentQuotesSectionGreenBlobMiddle {
  left: -14rem;
  width: 740px;
  position: absolute;
  bottom: -16%;
  transform: rotate(205deg);
}

.summerStudentQuotesSectionGreenBlobBottom {
  right: 0;
  width: 700px;
  position: absolute;
  top: 70rem;
  display: none;
  transform: rotate(205deg);
}

@media (max-width: 1500px) {
  .summerStudentQuotesSectionGreenBlobTop {
    right: -19%;
  }

  .summerstudent {
    width: 100%;
  }

  .summerstudent:nth-of-type(even) {
    margin-left: 0;
  }
}

@media (max-width: 1300px) {
  .summerStudentQuotesSectionGreenBlobTop {
    width: 70%;
    right: -35%;
  }

  .summerStudentQuotesSectionGreenBlobMiddle {
    left: -25rem;
  }
}

@media (max-width: 800px) {
  .summerstudent,
  .summerstudent:nth-of-type(even) {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .summerstudent:nth-of-type(even) .summerstudentPicture,
  .summerstudent:nth-of-type(odd) .summerstudentPicture {
    margin: 0 auto;
  }

  .summerStudentQuotesSectionGreenBlobTop {
    top: 7%;
  }

  .summerStudentQuotesSectionGreenBlobMiddle,
  .summerStudentQuotesSectionGreenBlobBottom {
    width: 60%;
  }

  .summerStudentQuotesSectionGreenBlobMiddle {
    left: -22%;
    bottom: 28%;
  }

  .summerStudentQuotesSectionGreenBlobBottom {
    display: block;
    bottom: -10%;
    top: auto;
    right: -5rem;
  }
}

@media (max-width: 500px) {
  .summerstudentPicture {
    width: 90%;
  }

  .summerStudentQuotesSectionGreenBlobTop {
    right: -44%;
  }

  .summerStudentQuotesSectionGreenBlobMiddle {
    left: -12%;
  }

  .summerStudentQuotesSectionGreenBlobBottom {
    right: -32%;
  }
}

/* First year styling */
.firstYearSectionFlex {
  display: flex;
  flex-direction: row;
  gap: 4rem;
}

.firstYearSectionText,
.firstYearSectionTimelineDiv {
  width: calc(50% - 2rem);
}

.firstYearSectionImgDiv {
  width: 100%;
  height: 100%;
  display: flex;
}

.firstYearSectionImgWrap {
  position: relative;
  margin: auto 0;
}

.firstYearSectionBlobWrapper {
  position: absolute;
  left: -15rem;
  bottom: -9rem;
  transform: rotate(-145deg);
  width: 130%;
}

.firstYearSectionBlobWrapper svg {
  width: 100%;
  height: 100%;
}

.firstYearSectionImg {
  margin: auto 0;
  display: flex;
  z-index: 10;
  width: 90%;
  margin-left: -2rem;
  max-width: 800px;
  position: inherit;
}

.firstYearSectionTimelineDiv {
  display: flex;
  justify-content: center;
}

.timelineNarrow {
  height: 100%;
  width: 100%;
  max-height: 86vh;
}

.timelineNarrow,
.timelineWide {
  width: 100%;
}

@media (min-width: 3500px) {
  .firstYearSectionImg {
    left: 400px;
    bottom: 1300px;
    bottom: 2800px;
  }

  .firstYearSectionBlob {
    position: relative;
    left: 200px;
    bottom: 800px;
    width: 70%;
    height: auto;
  }

  .firstYearSectionImgDiv {
    display: block;
  }
}

@media (max-width: 1700px) {
  .firstYearSectionTimelineDiv {
    margin: auto 0;
  }
}

@media (max-width: 1310px) {
  .firstYearSectionFlex {
    flex-direction: column;
  }

  .firstYearSectionText,
  .firstYearSectionTimelineDiv {
    width: 100%;
  }

  .firstYearSectionImgDiv {
    display: none;
  }
}

@media (max-width: 800px) {
  .timelineNarrow {
    height: 100%;
  }
}

/* After application styling */
.afterApplyingSectionFlex {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-gap: 4rem;
}

.afterApplyingSectionAbout {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  display: flex;
  flex-direction: column;
}

.afterApplyingSectionImgDiv {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  position: relative;
}

.afterApplyingSectionImgBlob {
  position: absolute;
  top: -25%;
  transform: rotate(55deg);
  left: -32rem;
}

.afterApplyingSectionTimeline {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  margin: 0 auto;
}

.afterApplyingSectionApplicationTips {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  position: relative;
  max-width: 28rem;
  margin: 0 auto;
}

.afterApplyingSectionAbout,
.afterApplyingSectionApplicationTips h4,
.afterApplyingSectionApplicationTips p,
.EvenPicture {
  z-index: 10;
  position: relative;
}

.afterApplyingSectionTextBlob {
  position: absolute;
  transform: rotate(250deg);
  top: -3rem;
  left: 1rem;
}

.afterApplyingSectionTextBlob svg {
  width: 100%;
  height: 100%;
}

@media (max-width: 2050px) {
  .afterApplyingSectionTextBlob {
    width: 90%;
  }
}

@media (max-width: 1300px) {
  .EvenPicture {
    width: 80%;
  }

  .sectionLightBeige .afterApplyingSectionApplicationTips {
    margin-top: -6rem;
  }

  .afterApplyingSectionTextBlob {
    width: 120%;
    left: -3rem;
  }
}

@media (max-width: 1110px) {
  .afterApplyingSectionFlex {
    grid-gap: 4rem 0;
  }

  .afterApplyingSectionAbout {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
  }

  .afterApplyingSectionImgDiv {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
    margin-top: -1rem;
    margin-left: -3rem;
  }

  .EvenPicture {
    width: 70%;
    margin-top: 4rem;
  }

  .afterApplyingSectionImgBlob {
    display: none;
  }

  .afterApplyingSectionTimeline {
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
    display: flex;
    align-items: center;
  }

  .sectionLightBeige .afterApplyingSectionApplicationTips,
  .afterApplyingSectionApplicationTips {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
    margin-top: 6rem;
  }

  .afterApplyingSectionTextBlob {
    left: -5rem;
  }
}

@media (max-width: 800px) {
  .afterApplyingSectionFlex {
    display: flex;
    flex-direction: column;
  }

  .afterApplyingSectionAbout {
    order: 1;
  }

  .afterApplyingSectionImgDiv {
    order: 3;
    margin: auto;
  }

  .EvenPicture {
    display: flex;
    margin: auto;
  }

  .afterApplyingSectionTimeline {
    order: 2;
  }

  .afterApplyingSectionApplicationTips {
    order: 4;
    margin: auto;
  }

  .afterApplyingSectionTextBlob {
    display: none;
  }
}

/* Why Variant styling */
.whyVariantSectionFlex {
  display: flex;
  gap: 2rem 4rem;
  flex-wrap: wrap;
}

.whyVariantSectionSelectedTopic,
.whyVariantSectionTopicsDiv {
  width: calc(50% - 2rem);
}

.whyVariantSectionButtons {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 2rem 0;
}

.whyVariantSectionButtons button {
  margin-right: 2%;
  border: none;
  margin: 1rem 0;
  text-align: left;
  cursor: pointer;
  white-space: nowrap;
  max-width: fit-content;
  text-decoration: underline;
  padding: 0;
}

.whyVariantSectionButtons button:hover,
.whyVariantSectionButtons button:focus,
.whyVariantSectionButtons button.active {
  font-weight: bold;
  text-decoration: none;
}

.mostImportantForYou {
  margin: 2rem 0;
}

@media (max-width: 720px) {
}

@media (min-width: 2150px) {
  /* whyVariantFlex*/
  .mostImportantForYou,
  .handbookRef {
    font-size: 150%;
    line-height: 150%;
  }

  .whyVariantSectionButtons button {
    font-size: 150%;
  }
}
/* Tablet */
@media (max-width: 1110px) {
  .whyVariantFlex {
    flex-direction: column;
  }

  .whyVariantSectionTopicsDiv,
  .whyVariantSectionSelectedTopic {
    width: 100%;
  }

  .whyVariantSectionButtons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 0 1rem;
  }
}

@media (max-width: 500px) {
  .whyVariantSectionButtons button {
    min-width: calc(50% - 1rem);
  }
}

/* Apply section */
.applySection {
  background-color: var(--variant-peach-3);
  color: #333;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.applySection > h2 {
  width: 100%;
}

.applySectionFlex {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  grid-gap: 2rem;
}

.applySectionText {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  display: flex;
  flex-direction: column;
  height: max-content;
  max-width: 800px;
}

.contactInfo {
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1rem;
}

.contactInfo > p {
  width: min-content;
  margin-top: 0;
}

.applySectionPicture {
  grid-column: 2 / span 1;
  grid-row: 1 / span 3;
  display: flex;
  align-items: end;
}

.applySectionApplyDiv {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}

.applySectionText {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.applySectionApplyDiv {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.applySectionText > p {
  max-width: 38rem;
}

a.applyButtonPink,
a.applyButtonBlue {
  font-family: 'Recoleta';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 50px;
  padding: 1rem;
  text-decoration: none;
  width: max-content;
  color: var(--variant-black);
}

a.applyButtonBlue {
  background-color: var(--variant-blue-5);
}

a.applyButtonPink {
  background-color: var(--variant-pink-2);
}

.Marius {
  z-index: 1;
  width: 100%;
  max-width: 700px;
  margin-top: 40%;
}

@media (max-width: 900px) {
  .applyButtonPink,
  .applyButtonBlue {
    font-size: 24px;
  }
}

.applySectionPicture {
  display: flex;
  align-items: center;
}

@media (max-width: 1300px) {
  .applySectionFlex {
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
  }

  .applySectionText {
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
  }

  .applySectionPicture {
    align-items: flex-end;
    grid-column: 2 / span 2;
    grid-row: 2 / span 1;
  }

  .applySectionApplyDiv {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
  }

  .Marius {
    width: 80%;
    margin: 0 auto;
  }
}

@media (max-width: 800px) {
  .applySectionFlex {
    display: flex;
    flex-direction: column;
  }

  .applySectionText {
    order: 1;
  }

  .applySectionPicture {
    order: 2;
  }

  .applySectionApplyDiv {
    order: 3;
  }

  .applySectionPicture,
  .applySectionText {
    width: 100%;
  }
}

/* Salary styling */
.salarySectionFlex {
  display: flex;
  flex-direction: row;
  gap: 4rem;
}

.salarySectionText,
.salarySectionCalculator {
  width: calc(50% - 2rem);
}

.salarySectionCalculator {
  position: relative;
  max-width: 28rem;
}

.calculatorWrapper {
  width: 80%;
  max-width: 23rem;
  margin: 0 4rem;
  position: relative;
  z-index: 1;
}

.pinkBlobWrapper svg {
  width: 100%;
  height: 100%;
}

.wrapper
  [class*='calculator-controls']
  [class*='form-row']
  div
  [class*='radio-button-wrapper'] {
  border: none;
}

.pinkBlobWrapper {
  position: absolute;
  top: -2rem;
  left: 1rem;
  width: 90%;
}

.calculator_radio-button-wrapper {
  border: none;
}

@media (max-width: 1110px) {
  .salarySectionFlex {
    flex-direction: column;
    gap: 4rem;
  }
  .salarySectionText,
  .salarySectionCalculator {
    width: 100%;
  }

  .salarySectionCalculator {
    margin: auto;
  }
}
