/* Felles styling*/
.section1,
.section2,
.section3,
.section5,
.section6,
.whyWorkAtVariant {
  margin: 5%;
}

/* Section 1 styling*/
.maskStyling {
  mask-type: alpha;
}

.søkHer {
  font-family: 'Graphik';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 34px;
}

.scroll {
  font-family: 'Graphik';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 34px;
}

.eller {
  font-family: 'Graphik';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 34px;
}

.searchNewVariants {
  margin: 0%;
}

.underHeader {
  margin-left: 0%;
}

.h4Section1 {
  margin-bottom: 10%;
  font-family: 'Recoleta';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

.imageBlob1 {
  position: absolute;
  left: 45%;
  height: 8%;
  top: 400px;
  width: auto;
}

/* Section 2 styling*/
.section2 {
  margin-top: 20%;
  width: 80%;
}

.section2Heading {
  margin-bottom: 20px;
  font-family: 'Recoleta';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 59px;
}

.section2Paragraph {
  width: 40%;
  font-family: 'Graphik';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}

.officeMap {
  position: relative;
  right: 0%;
  top: 0%;
}

/* Section 3 styling */

.section3 {
  margin-top: 15%;
}

.section3Heading {
  font-family: 'Recoleta';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
}

.summerstudent1 {
  display: flex;
}

.summerstudent1picture {
  margin-top: 5%;
  margin-left: 7%;
  width: 30%;
}

.summerstudent1Paragraph {
  width: 34%;
  position: relative;
  top: 150px;
  font-family: 'Recoleta';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}

/* Section 5 styling */

.section5Heading {
  margin-bottom: 20px;
  font-family: 'Recoleta';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
}

.section5HeadingH4 {
  border: none;
}

.section5ParagraphLeft {
  position: relative;
}

.section5Paragraph {
  width: 40%;
  font-family: 'Graphik';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}

.section5ParagraphRight {
  position: relative;
  left: 600px;
  bottom: 350px;
  font-family: 'Graphik';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
}

.timeLine {
  position: relative;
  left: 800px;
  bottom: 200px;
}

.marginTopMore {
  margin-top: 20px;
}

/* Section 6 styling*/

.section6Underline {
  text-decoration: underline;
  font-family: 'Graphik';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}

.section6Paragraph2 {
  font-family: 'Graphik';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}

.section6Paragraph {
  width: 40%;
  margin-top: 20px;
  font-family: 'Graphik';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}

.section6Heading {
  font-family: 'Recoleta';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
}

.contactInfo {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
}

.applyAsDesigner:hover {
  display: none;
}

.applyAsDesigner:hover ~ .applyAsDesignerBig {
  display: block;
}

.applyAsDesignerBig {
  display: none;
}

.ApplyAsDeveloper:hover {
  display: none;
}

.ApplyAsDeveloper:hover ~ .ApplyAsDeveloperBig {
  display: block;
}

.ApplyAsDeveloperBig {
  display: none;
}

.ApplyAsDesignerDiv,
.ApplyAsDeveloperDiv {
  width: 20%;
  margin: 20px;
  height: 200px;
}

.ApplyAsDeveloperDiv {
  position: relative;
  left: 200px;
}
.Marius {
  width: 35%;
  position: absolute;
  right: 300px;
  bottom: 150px;
}

/* Gammelt */

.underDev {
  margin-top: 4000px;
}

.imageBlob2 {
  margin-top: -2%;
}

.arrow {
  align-self: center;
  margin-top: 50%;
}

.navigationSlider {
  padding-top: 0%;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 88%;
  bottom: 25%;
  max-width: fit-content;
}

/* Button font */
.navigationButton1,
.navigationButton2,
.navigationButton3,
.navigationButton4,
.navigationButton5 {
  font-family: 'Recoleta';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.navigationButton1 {
  background: none;
  border: none;
  margin: 0;
  padding: 5%;
  cursor: pointer;
  margin-top: 10%;
  text-align: right;
  max-width: fit-content;
}

.navigationButton1:hover,
.navigationButton1:focus {
  background: #e61a6b;
  border: none;
  margin: 0;
  padding: 5%;
  cursor: pointer;
  margin-top: 10%;
  text-align: right;
  max-width: fit-content;
}

.navigationButton2 {
  background: none;
  border: none;
  margin: 0;
  padding: 5%;
  cursor: pointer;
  margin-top: 10%;
  text-align: right;
  max-width: fit-content;
}

.navigationButton2:hover,
.navigationButton2:focus {
  background: #ffc4bc;
  border: none;
  margin: 0;
  padding: 5%;
  cursor: pointer;
  margin-top: 10%;
  text-align: right;
  max-width: fit-content;
}

.navigationButton3 {
  background: none;
  border: none;
  margin: 0;
  padding: 5%;
  cursor: pointer;
  margin-top: 10%;
  text-align: right;
  max-width: fit-content;
}

.navigationButton3:hover,
.navigationButton3:focus {
  background: #423d89;
  color: white;
  border: none;
  margin: 0;
  padding: 5%;
  cursor: pointer;
  margin-top: 10%;
  text-align: right;
  max-width: fit-content;
}

.navigationButton4 {
  background: none;
  border: none;
  margin: 0;
  padding: 5%;
  cursor: pointer;
  margin-top: 10%;
  text-align: right;
  max-width: fit-content;
}

.navigationButton4:hover,
.navigationButton4:focus {
  background: #03dac6;
  border: none;
  margin: 0;
  padding: 5%;
  cursor: pointer;
  margin-top: 10%;
  text-align: right;
  max-width: fit-content;
}

.navigationButton5 {
  background: none;
  border: none;
  margin: 0;
  padding: 5%;
  cursor: pointer;
  margin-top: 10%;
  text-align: right;
  max-width: fit-content;
}

.navigationButton5:hover,
.navigationButton5:focus {
  background: #9591ce;
  border: none;
  margin: 0;
  padding: 5%;
  cursor: pointer;
  margin-top: 10%;
  text-align: right;
  max-width: fit-content;
}

.aboutSummerjob {
  /* margin-right: 50%; */
}

.positionTextLeft {
  padding-top: 1%;
  width: 500px;
  font-family: 'Graphik';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

.positionTextSubLeft,
.section5Heading {
  padding-top: 1%;
  padding-bottom: 2%;
  width: 80%;
}

.section5Heading {
  font-family: 'Recoleta';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 59px;
}
.mostImportantForYou {
  font-family: 'Recoleta';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
}
.handbookRef {
  font-family: 'Graphik';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}
.officeMap {
  position: relative;
  margin-left: 40%;
  margin-top: -35%;
}

.jenga {
  /* margin-left: -35%; */
  /* margin-top: -5%; */
}

.handbook {
  display: flex;
  align-items: flex-start;
  gap: 10%;
  justify-content: left;
  margin-top: 10%;
}

.whyWorkAtVariant {
  margin-top: 20%;
}

.handbookChildButton {
  display: flex;
  text-align: left;
  flex-direction: column;
  justify-content: center;
  gap: 10%;
}

.handbookButton1 {
  background: none;
  border: none;
  margin-top: 2%;
  padding: 1% 1%;
  text-align: left;
  cursor: pointer;
  white-space: nowrap;
  max-width: fit-content;
  display: grid;
}

.handbookButton1:hover,
.handbookButton1:focus {
  background: #03dac6;
  border: none;
  margin-top: 2%;
  padding: 1% 1%;
  text-align: left;
  cursor: pointer;
  white-space: nowrap;
}

.handbookButton2 {
  background: none;
  border: none;
  margin-top: 6%;
  padding: 1% 1%;
  text-align: left;
  cursor: pointer;
  white-space: nowrap;
  max-width: fit-content;
  display: grid;
}

.handbookButton2:hover,
.handbookButton2:focus {
  background: #9591ce;
  border: none;
  margin-top: 6%;
  padding: 1% 1%;
  text-align: left;
  cursor: pointer;
  white-space: nowrap;
}

.handbookButton3 {
  background: none;
  border: none;
  margin-top: 6%;
  padding: 1% 1%;
  text-align: left;
  cursor: pointer;
  white-space: nowrap;
  max-width: fit-content;
  display: grid;
}

.handbookButton3:hover,
.handbookButton3:focus {
  background: #e61a6b;
  border: none;
  margin-top: 6%;
  padding: 1% 1%;
  text-align: left;
  cursor: pointer;
  white-space: nowrap;
}

.handbookButton4 {
  background: none;
  border: none;
  margin-top: 6%;
  padding: 1% 1%;
  text-align: left;
  cursor: pointer;
  white-space: nowrap;
  max-width: fit-content;
  display: grid;
}

.handbookButton4:hover,
.handbookButton4:focus {
  background: #ffc4bc;
  border: none;
  margin-top: 6%;
  padding: 1% 1%;
  text-align: left;
  cursor: pointer;
  white-space: nowrap;
}

.handbookButton5 {
  background: none;
  border: none;
  margin-top: 6%;
  padding: 1% 1%;
  text-align: left;
  cursor: pointer;
  white-space: nowrap;
  max-width: fit-content;
  display: grid;
}

.handbookButton5:hover,
.handbookButton5:focus {
  background: #423d89;
  color: white;
  border: none;
  margin-top: 6%;
  padding: 1% 1%;
  text-align: left;
  cursor: pointer;
  white-space: nowrap;
  max-width: fit-content;
}

.readMoreArrow {
  position: relative;
  right: 370px;
  top: 170px;
}

@media (max-width: 760px) {
  /* Position to static */
  .imageBlob1 {
    position: static;
  }

  .summerstudent1Paragraph {
    position: static;
  }

  .section5ParagraphLeft {
    position: static;
  }

  .timeLine {
    position: static;
  }

  .ApplyAsDeveloperDiv {
    position: static;
  }

  .officeMap {
    position: static;
  }
  .imageBlob1 {
    position: static;
    width: 10px;
  }

  .Marius {
    position: static;
  }

  .navigationSlider {
    position: static;
  }

  .handbook {
    display: block;
  }

  .handbookChildButton {
    display: block;
  }

  .readMoreArrow {
    display: none;
  }

  .handbookGrid {
    display: flex;
    flex-flow: row;
    flex-direction: column;
  }

  .handbookButton1,
  .handbookButton1:hover,
  .handbookButton1:active,
  .handbookButton1:focus {
    background: #e61a6b;
    border: none;
    margin-top: 6%;
    padding: 1% 1%;
    text-align: left;
    cursor: pointer;
    max-width: fit-content;
    font-family: 'Graphik';
    font-style: normal;
  }

  .handbookButton2,
  .handbookButton2:hover,
  .handbookButton2:active,
  .handbookButton2:focus {
    background: #ffc4bc;
    border: none;
    margin-top: 6%;
    padding: 1% 1%;
    text-align: left;
    cursor: pointer;
    max-width: fit-content;
    font-family: 'Graphik';
    font-style: normal;
  }

  .handbookButton3,
  .handbookButton3:hover,
  .handbookButton3:active,
  .handbookButton3:focus {
    background: #03dac6;
    border: none;
    margin-top: 6%;
    padding: 1% 1%;
    text-align: left;
    cursor: pointer;
    max-width: fit-content;
    font-family: 'Graphik';
    font-style: normal;
  }

  .handbookButton4,
  .handbookButton4:hover,
  .handbookButton4:active,
  .handbookButton4:focus {
    background: #423d89;
    color: white;
    border: none;
    margin-top: 6%;
    padding: 1% 1%;
    text-align: left;
    cursor: pointer;
    max-width: fit-content;
    font-family: 'Graphik';
    font-style: normal;
  }

  .handbookButton5,
  .handbookButton5:hover,
  .handbookButton5:active,
  .handbookButton5:focus {
    background: #9591ce;
    color: white;
    border: none;
    margin-top: 6%;
    padding: 1% 1%;
    text-align: left;
    cursor: pointer;
    max-width: fit-content;
    font-family: 'Graphik';
    font-style: normal;
  }

  .section5ParagraphRight {
    position: static;
  }

  .map {
    width: 100%;
    height: auto;
  }

  .newVariantsSVG {
    width: 100%;
    height: auto;
  }

  .summerstudent1 {
    display: block;
  }

  .positionTextSubLeft,
  .section5Heading {
    padding-top: 1%;
    padding-bottom: 2%;
    width: 100%;
    font-family: 'Graphik';
    font-style: normal;
  }

  .positionTextLeft {
    padding-top: 1%;
    width: 100%;
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
  }

  .section6Paragraph {
    width: 100%;
    margin-top: 20px;
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
  }

  .section5Paragraph {
    width: 100%;
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
  }

  .section5HeadingH4 {
    padding-top: 5%;
  }

  .timeLine {
    position: relative;
    margin-top: 10%;
    left: 0%;
    bottom: 0%;
  }

  /* Section 1 mobile*/

  .section1 {
    overflow: hidden;
    margin: 0%;
  }

  .navigationSlider {
    max-width: 100%;
  }
  .h4Section1 {
    margin-top: 0px;
    font-family: 'Recoleta';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
  }

  .h4Section1 {
    margin: 0%;
  }

  .søkHer,
  .eller,
  .scroll {
    display: none;
  }

  .navigationButton1,
  .navigationButton2,
  .navigationButton3,
  .navigationButton4,
  .navigationButton5,
  .navigationButton1:focus,
  .navigationButton2:focus,
  .navigationButton3:focus,
  .navigationButton4:focus,
  .navigationButton5:focus,
  .navigationButton1:hover,
  .navigationButton2:hover,
  .navigationButton3:hover,
  .navigationButton4:hover,
  .navigationButton5:hover {
    padding: 5%;
    margin-top: 1%;
  }

  .navigationButton1 {
    color: white;
    background-color: #e61a6b;
  }

  .navigationButton2 {
    color: black;
    background-color: #ffc4bc;
  }

  .navigationButton3 {
    color: white;
    background-color: #423d89;
  }

  .navigationButton4 {
    color: black;
    background-color: #03dac6;
  }

  .navigationButton5 {
    color: white;
    background-color: #9591ce;
  }

  .imageBlob1 {
    position: static;
    margin-left: 30%;
    height: 300px;
    top: 5%;
    width: auto;
  }

  .newVariantsSVG {
    width: 90%;
  }

  .navigationSlider,
  .h4Section1,
  .searchNewVariants {
    margin-left: 5%;
    margin-right: 5%;
  }

  /* Section 2 mobile*/

  .section2Heading {
    font-family: 'Recoleta';
    font-style: normal;
    font-weight: 400;
    font-size: 21.0688px;
    line-height: 27px;
  }

  .section2Paragraph {
    width: 100%;
  }

  .officeMap {
    margin: 2%;
  }

  /* Section 3 mobile*/

  .section3Heading {
    font-family: 'Recoleta';
    font-style: normal;
    font-weight: 400;
    font-size: 21.0688px;
    line-height: 27px;
  }

  .summerstudent1 {
    display: flex;
  }

  .summerstudent1Paragraph {
    width: 100%;
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
  }

  .summerstudent1picture {
    width: 50%;
    margin-left: 0px;
  }
}
