/* Felles styling*/
.section1,
.section2,
.section3,
.section5,
.section6 {
  margin: 5%;
}

/* Section 1 styling*/
.maskStyling {
  mask-type: alpha;
}

.searchNewVariants {
  margin: 5%;
}

.underHeader {
  margin-left: 5%;
}

.h4Section1 {
  margin-bottom: 10%;
}

.imageBlob1 {
  position: absolute;
  left: 45%;
  height: 8%;
  top: 400px;
  width: auto;
}

/* Section 2 styling*/
.section2 {
  margin-top: 20%;
  width: 80%;
}

.section2Heading {
  margin-bottom: 20px;
}

.section2Paragraph {
  width: 40%;
}

.officeMap {
  position: relative;
  right: 0%;
  top: 0%;
}

/* Section 3 styling */

.section3 {
  margin-top: 15%;
}

.summerstudent1 {
  display: flex;
}

.summerstudent1picture {
  margin-top: 5%;
  margin-left: 7%;
  width: 30%;
}

.summerstudent1Paragraph {
  width: 400px;
  position: relative;
  top: 150px;
}

/* Section 5 styling */

.section5Heading {
  margin-bottom: 20px;
}

.section5ParagraphLeft {
  position: relative;
}

.section5Paragraph {
  width: 500px;
}

.section5ParagraphRight {
  position: relative;
  left: 600px;
  bottom: 350px;
}

.timeLine {
  position: relative;
  left: 800px;
  bottom: 200px;
}

/* Section 6 styling*/
.section6Paragraph {
  width: 550px;
  margin-top: 20px;
}

.section6Underline {
  text-decoration: underline;
}

.contactInfo {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
}

.applyAsDesigner:hover {
  display: none;
}

.applyAsDesigner:hover ~ .applyAsDesignerBig {
  display: block;
}

.applyAsDesignerBig {
  display: none;
}

.ApplyAsDeveloper:hover {
  display: none;
}

.ApplyAsDeveloper:hover ~ .ApplyAsDeveloperBig {
  display: block;
}

.ApplyAsDeveloperBig {
  display: none;
}

.ApplyAsDesignerDiv,
.ApplyAsDeveloperDiv {
  width: 300px;
  margin: 20px;
  height: 200px;
}

.ApplyAsDeveloperDiv {
  position: relative;
  left: 200px;
}
.Marius {
  width: 35%;
  position: absolute;
  right: 300px;
  bottom: 150px;
}

/* Gammelt */

.underDev {
  margin-top: 4000px;
}

.imageBlob2 {
  margin-top: -2%;
  /* margin-left: -43%; */
}

.arrow {
  align-self: center;
  margin-top: 30%;
}

.navigationSlider {
  padding-top: 15%;
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0px;
  max-width: fit-content;
}

.navigationButton1 {
  /* border-top-left-radius: 15px;
	border-bottom-left-radius: 15px; */
  background: none;
  border: none;
  margin: 0;
  padding: 5%;
  cursor: pointer;
  margin-top: 10%;
  text-align: right;
  max-width: fit-content;
}

.navigationButton1:hover,
.navigationButton1:focus {
  background: #e61a6b;
  border: none;
  margin: 0;
  padding: 5%;
  cursor: pointer;
  margin-top: 10%;
  text-align: right;
  max-width: fit-content;
}

.navigationButton2 {
  background: none;
  border: none;
  margin: 0;
  padding: 5%;
  cursor: pointer;
  margin-top: 10%;
  text-align: right;
  max-width: fit-content;
}

.navigationButton2:hover,
.navigationButton2:focus {
  background: #ffc4bc;
  border: none;
  margin: 0;
  padding: 5%;
  cursor: pointer;
  margin-top: 10%;
  text-align: right;
  max-width: fit-content;
}

.navigationButton3 {
  background: none;
  border: none;
  margin: 0;
  padding: 5%;
  cursor: pointer;
  margin-top: 10%;
  text-align: right;
  max-width: fit-content;
}

.navigationButton3:hover,
.navigationButton3:focus {
  background: #423d89;
  color: white;
  border: none;
  margin: 0;
  padding: 5%;
  cursor: pointer;
  margin-top: 10%;
  text-align: right;
  max-width: fit-content;
}

.navigationButton4 {
  background: none;
  border: none;
  margin: 0;
  padding: 5%;
  cursor: pointer;
  margin-top: 10%;
  text-align: right;
  max-width: fit-content;
}

.navigationButton4:hover,
.navigationButton4:focus {
  background: #03dac6;
  border: none;
  margin: 0;
  padding: 5%;
  cursor: pointer;
  margin-top: 10%;
  text-align: right;
  max-width: fit-content;
}

.navigationButton5 {
  background: none;
  border: none;
  margin: 0;
  padding: 5%;
  cursor: pointer;
  margin-top: 10%;
  text-align: right;
  max-width: fit-content;
}

.navigationButton5:hover,
.navigationButton5:focus {
  background: #9591ce;
  border: none;
  margin: 0;
  padding: 5%;
  cursor: pointer;
  margin-top: 10%;
  text-align: right;
  max-width: fit-content;
}

.aboutSummerjob {
  /* margin-right: 50%; */
}

.positionTextLeft {
  padding-top: 1%;
  width: 540px;
  /* margin-left: -20%; */
  /* margin-top: -5%; */
}

.positionTextSubLeft {
  padding-top: 1%;
  padding-bottom: 2%;
  padding-left: 20%;
  width: 540px;
  /* margin-left: -20%; */
  /* margin-top: -5%; */
}

.officeMap {
  position: relative;
  margin-left: 40%;
  margin-top: -35%;
}

.jenga {
  /* margin-left: -35%; */
  /* margin-top: -5%; */
}

.whyWorkAtVariant {
  /* margin-left: -20%; */
  margin-top: 20%;
}

.handbook {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
}

.handbookText {
  background: #03dac6;
  border: none;
  margin: 0;
  padding: 0;
  text-align: left;
  cursor: pointer;
  margin: 3%;
}

.handbookButton1 {
  background: none;
  border: none;
  margin: 2%;
  padding: 1% 1%;
  text-align: left;
  cursor: pointer;
  white-space: nowrap;
  max-width: fit-content;
}

.handbookButton1:hover,
.handbookButton1:focus {
  background: #03dac6;
  border: none;
  margin: 2%;
  padding: 1% 1%;
  text-align: left;
  cursor: pointer;
  white-space: nowrap;
}

.handbookButton2 {
  background: none;
  border: none;
  margin: 2%;
  padding: 1% 1%;
  text-align: left;
  cursor: pointer;
  white-space: nowrap;
  max-width: fit-content;
}

.handbookButton2:hover,
.handbookButton2:focus {
  background: #9591ce;
  border: none;
  margin: 2%;
  padding: 1% 1%;
  text-align: left;
  cursor: pointer;
  white-space: nowrap;
}

.handbookButton2 {
  background: none;
  border: none;
  margin: 2%;
  padding: 1% 1%;
  text-align: left;
  cursor: pointer;
  white-space: nowrap;
  max-width: fit-content;
}

.handbookButton2:hover,
.handbookButton2:focus {
  background: #9591ce;
  border: none;
  margin: 2%;
  padding: 1% 1%;
  text-align: left;
  cursor: pointer;
  white-space: nowrap;
}

.handbookButton3 {
  background: none;
  border: none;
  margin: 2%;
  padding: 1% 1%;
  text-align: left;
  cursor: pointer;
  white-space: nowrap;
  max-width: fit-content;
}

.handbookButton3:hover,
.handbookButton3:focus {
  background: #e61a6b;
  border: none;
  margin: 2%;
  padding: 1% 1%;
  text-align: left;
  cursor: pointer;
  white-space: nowrap;
}

.handbookButton4 {
  background: none;
  border: none;
  margin: 2%;
  padding: 1% 1%;
  text-align: left;
  cursor: pointer;
  white-space: nowrap;
  max-width: fit-content;
}

.handbookButton4:hover,
.handbookButton4:focus {
  background: #ffc4bc;
  border: none;
  margin: 2%;
  padding: 1% 1%;
  text-align: left;
  cursor: pointer;
  white-space: nowrap;
}

.handbookButton5 {
  background: none;
  border: none;
  margin: 2%;
  padding: 1% 1%;
  text-align: left;
  cursor: pointer;
  white-space: nowrap;
  max-width: fit-content;
}

.handbookButton5:hover,
.handbookButton5:focus {
  background: #423d89;
  color: white;
  border: none;
  margin: 2%;
  padding: 1% 1%;
  text-align: left;
  cursor: pointer;
  white-space: nowrap;
}

@media (max-width: 760px) {
  .searchNewVariants {
    width: 70%;
    margin-bottom: 0%;
    margin-left: 0%;
  }
  .navigationSlider {
    display: block;
    margin-left: 0%;
    position: absolute;
    margin-left: 0;
    padding-left: 0;
  }
  .arrow {
    visibility: hidden;
  }
  .navigationButton1,
  .navigationButton2,
  .navigationButton3,
  .navigationButton4,
  .navigationButton5 {
    position: static;
    margin-top: 0;
    display: flex;
    margin-top: 5%;
    height: 50px;
    text-align: center;
    color: black;
  }

  .navigationButton1 {
    background: #e61a6b;
    color: white;
  }
  .navigationButton2 {
    background: #ffc4bc;
  }
  .navigationButton3 {
    background: #423d89;
    color: white;
  }
  .navigationButton4 {
    background: #03dac6;
  }
  .navigationButton5 {
    background: '#9591CE';
  }
}
