/* Felles styling*/
.section2,
.section3,
.section5,
.section6,
.whyWorkAtVariant {
  padding: 10%;
  padding-top: 5%;

  margin-bottom: 0%;
}

/* Scroll */

/* 900px*/

.scrollContainer {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-x: hidden;
  z-index: 0;
  max-height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y proximity;
  scroll-behavior: smooth;
}

.section1,
.section2,
.section3,
.whyWorkAtVariant,
.section5,
.section6 {
  scroll-snap-align: start;
}

/* SVG Style*/
.maskStyling {
  mask-type: alpha;
}

/* Fonts */
.søkHer,
.scroll {
  font-family: 'Graphik Web';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 34px;
  margin-top: 1%;
}

.eller {
  font-family: 'Graphik Web';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 34px;
  margin-top: 1%;
}

.heading {
  margin-bottom: 20px;
  font-family: 'Recoleta';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
}

.section2Heading,
.section3Heading,
.section4Heading,
.section5Heading,
.section6Heading,
.handbookHeaderDeskotop {
  margin-bottom: 20px;
  font-family: 'Recoleta';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
}

.mostImportantForYou {
  font-family: 'Recoleta';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
}

.section6Paragraph,
.section6Paragraph2,
.handbookRef,
.section2Paragraph,
.section5Paragraph {
  font-family: 'Graphik Web';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}

/* Header */

/* Section 1 styling*/

.section1 {
  height: 1200px;
  background-color: #f4f1e7;
  padding: 10%;
  padding-top: 0%;
}

.header {
  height: 80px;
}

.section1H3 {
  font-family: 'Recoleta';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 53px;
  margin-top: 5%;
}

.in2023 {
  font-family: 'Recoleta';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 53px;
  margin-top: 0px;
}

.underHeader {
  margin-top: 5%;
}

.imageBlob1 {
  position: relative;
  top: 350px;
  left: 1%;
  height: auto;
  width: 40%;
  z-index: 1;
}

.pinkBlob {
  position: relative;
  z-index: 0;
  width: 50%;
  bottom: 170px;
  right: 60px;
}

.section1Blobs {
  position: relative;
  left: 50%;
  bottom: 50%;
}

/* Section 2 styling*/
.section2 {
  width: 100%;
  color: white;
  padding-bottom: 20%;
}

.blogpostLink {
  color: white;
  text-decoration: underline;
}

.section2Color {
  background-color: #1a1837;
}

.section2Div2 {
  margin-top: 20%;
}

.section2Paragraph {
  width: 74%;
  font-family: 'Graphik Web';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
}

.section2Text {
  width: 60%;
}

.section2Flex {
  display: flex;
  flex-direction: row;
}

.officeMapMobile {
  display: none;
}

/* Section 3 styling */

.section3 {
  background-color: #01574f;
  color: white;
  height: 1400px;
}

.summerstudent1 {
  display: flex;
  position: static;
}

.summerstudent2 {
  display: flex;
  position: static;
}

.summerstudent3 {
  display: flex;
  position: static;
  bottom: 200%;
}

.summerstudent1picture {
  position: relative;
  margin-top: 5%;
  margin-left: 7%;
  width: 30%;
  height: 30%;
}

.summerstudent2picture {
  position: relative;
  width: 32%;
  margin-right: 10%;
  float: right;
  z-index: 1;
}

.summerstudent3picture {
  position: relative;
  width: 37%;
  height: 37%;
  bottom: 150px;
}

.summerstudent1Paragraph,
.summerstudent2Paragraph,
.summerstudent3Paragraph,
.summerstudentName,
.summerstudentName1,
.summerstudentName2 {
  font-family: 'Graphik Web';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  position: relative;
}

.summerstudentName,
.summerstudentName1,
.summerstudentName2 {
  font-family: 'Recoleta';
}

.summerstudent1Paragraph {
  width: 50%;
  padding-top: 15%;
}

.summerstudent2Paragraph {
  padding-top: 8%;
  margin-left: 10%;
  width: 40%;
  text-align: right;
}

.summerstudentName2 {
  width: 50%;
  text-align: right;
}

.summerstudent3Paragraph {
  width: 50%;
  padding-top: 2%;
}

.greenBlob {
  position: relative;
  bottom: 950px;
  left: 67%;
  width: 50%;
}

/* Section 5 styling */
.section5 {
  background-color: #8b0f40;
  color: white;
}

.section5HeadingH4 {
  font-family: 'Graphik Web';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  border: none;
}

.section5Paragraph {
  width: 100%;
}

.section5ParagraphLeft {
  width: 56%;
  font-family: 'Graphik Web';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
}

.Even {
  margin-top: 12%;
  position: relative;
  z-index: 1;
}

.flexTimeline {
  display: flex;
  align-items: flex-start;
  justify-content: left;
}

.søknadstips {
  margin-top: 20%;
  margin-top: 120px;
  margin-bottom: 30%;
  position: relative;
  right: 150px;
}

.section5Div1 {
  width: 50%;
}

.section5Div2 {
  width: 100%;
}

/* Section 6 styling*/

.section6 {
  background-color: #f4f1e7;
  height: auto;
}

.section6Paragraph {
  width: 40%;
  margin-top: 20px;
}

.contactInfo {
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
}

.ApplyDiv {
  margin-top: 10%;
  margin-top: 5%;
}

.ApplyAsDesignerDiv,
.ApplyAsDeveloperDiv {
  width: 20%;
  margin: 20px;
  height: 200px;
}

.applyAsDesignerSVG:hover path:nth-child(2) {
  fill: rgb(3, 205, 186);
}

.applyAsDeveloperSVG:hover path:nth-child(2) {
  fill: rgb(255, 82, 150);
}

.ApplyAsDeveloperDiv {
  position: relative;
  left: 300px;
  bottom: 600px;
}

.ApplyAsDesignerDiv {
  position: relative;
  bottom: 500px;
}
.Marius {
  z-index: 1;
  width: 35%;
  position: relative;
  left: 45%;
  bottom: 200px;
}

.positionTextLeft,
.handbookParagraphs {
  padding-top: 1%;
  width: 500px;
  font-family: 'Graphik Web';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

.handbookParagraphs {
  width: 68%;
}

.section5Heading {
  padding-top: 1%;
  padding-bottom: 2%;
  width: 68%;
}

.section5Heading {
  font-family: 'Recoleta';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 59px;
}

.officeMap {
  position: relative;
  margin-left: 40%;
  margin-bottom: 30%;
}
.officeMap {
  position: relative;
  right: 10%;
}
.officeMapSVG {
  width: auto;
}

.mostImportantForYou {
  padding-top: 10%;
}

.handbook {
  display: flex;
  align-items: flex-start;
  gap: 5%;
  justify-content: left;
}

.handbookPages {
  width: 50%;
}

.whyWorkAtVariant {
  background-color: #fff3f2;
}

.handbookGrid {
  padding-top: 10%;
  padding-bottom: 10%;
}

.handbookChildButton {
  display: flex;
  text-align: left;
  flex-direction: column;
  justify-content: center;
  gap: 10%;
}

.handbookButton1 {
  color: #333333;
  background: none;
  border: none;
  margin-top: 4%;
  padding: 3% 3%;
  text-align: left;
  cursor: pointer;
  white-space: nowrap;
  max-width: fit-content;
  display: grid;
}

.handbookButton1:hover,
.handbookButton1:focus {
  color: #333333;
  background: #03dac6;
  border: none;
  margin-top: 4%;
  padding: 3% 3%;
  text-align: left;
  cursor: pointer;
  white-space: nowrap;
}

.handbookButton2 {
  color: #333333;
  background: none;
  border: none;
  margin-top: 4%;
  padding: 3% 3%;
  text-align: left;
  cursor: pointer;
  white-space: nowrap;
  max-width: fit-content;
  display: grid;
}

.handbookButton2:hover,
.handbookButton2:focus {
  color: #333333;
  background: #9591ce;
  border: none;
  margin-top: 4%;
  padding: 3% 3%;
  text-align: left;
  cursor: pointer;
  white-space: nowrap;
}

.handbookButton3 {
  color: #333333;
  background: none;
  border: none;
  margin-top: 4%;
  padding: 3% 3%;
  text-align: left;
  cursor: pointer;
  white-space: nowrap;
  max-width: fit-content;
  display: grid;
}

.handbookButton3:hover,
.handbookButton3:focus {
  color: #333333;
  background: #b91456;
  border: none;
  margin-top: 4%;
  padding: 3% 3%;
  text-align: left;
  cursor: pointer;
  white-space: nowrap;
}

.handbookButton4 {
  color: #333333;
  background: none;
  border: none;
  margin-top: 4%;
  padding: 3% 3%;
  text-align: left;
  cursor: pointer;
  white-space: nowrap;
  max-width: fit-content;
  display: grid;
}

.handbookButton4:hover,
.handbookButton4:focus {
  color: #333333;
  background: #ffc4bc;
  border: none;
  margin-top: 4%;
  padding: 3% 3%;
  text-align: left;
  cursor: pointer;
  white-space: nowrap;
}

.section5HandbookLinkMobile {
  display: none;
}

.readMoreArrow {
  position: relative;
  right: 370px;
  top: 130px;
}

@media (max-width: 900px) {
  /* Heading Mobile */
  .heading {
    font-family: 'Recoleta';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
  }

  /* Scroll mobile*/

  .section3 {
    overflow: hidden;
  }

  .section5 {
    height: 2400px;
    overflow: hidden;
  }

  .section6 {
    height: 1100px;
  }

  /* Position to static */
  .imageBlob1 {
    position: static;
  }

  .section5ParagraphLeft {
    position: static;
  }

  .timeLine {
    position: static;
  }

  .officeMapMobile {
    display: block;
    position: static;
    margin: 0;
    width: 100%;
    /* bottom: 50px; */
  }

  .officeMapSVG {
    display: none;
  }

  .søknadstips {
    position: static;
  }
  .imageBlob1 {
    position: static;
    width: 10px;
  }

  .Marius {
    position: static;
  }

  .handbook {
    display: block;
  }

  .handbookPages {
    width: 100%;
  }

  .handbookChildButton {
    display: block;
  }

  .readMoreArrow {
    display: none;
  }

  .handbookGrid {
    display: flex;
    flex-direction: wrap;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 5%;
  }

  .handbookHeaderDeskotop {
    display: none;
  }

  .mostImportantForYou {
    font-family: 'Recoleta';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    padding-bottom: 5%;
  }

  .section5HandbookLink {
    display: none;
  }

  .section5HandbookLinkMobile {
    display: block;
  }

  .section5ParagraphRight {
    position: static;
  }

  .map {
    width: 100%;
    height: auto;
  }

  .newVariantsSVG {
    width: 100%;
    height: auto;
  }

  .summerstudent1 {
    display: block;
  }

  .flexTimeline {
    display: block;
  }

  .section5ParagraphLeft {
    width: 100%;
  }

  .positionTextSubLeft,
  .section5Heading {
    padding-top: 1%;
    padding-bottom: 2%;
    width: 100%;
    font-family: 'Graphik Web';
    font-style: normal;
  }

  .positionTextLeft {
    padding-top: 1%;
    width: 100%;
    font-family: 'Graphik Web';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
  }

  .section6Paragraph {
    width: 100%;
    margin-top: 20px;
    font-family: 'Graphik Web';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
  }

  .section5Paragraph {
    width: 100%;
    font-family: 'Graphik Web';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
  }

  .section5HeadingH4 {
    padding-top: 5%;
  }

  .timeLine {
    position: relative;
    margin-top: 10%;
  }

  /* Section 1 mobile*/
  .section1 {
    overflow: hidden;
    height: 1200px;
  }

  .summerjobSelected {
    width: 100%;
    max-width: fit-content;
  }

  .job {
    width: 100%;
    max-width: fit-content;
  }

  .section1Blobs {
    position: static;
  }

  .h4Section1 {
    margin-top: 0px;
    font-family: 'Recoleta';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
  }

  .søkHer,
  .eller,
  .scroll {
    display: none;
  }

  .imageBlob1 {
    position: relative;
    /* margin-top: 70%; */
    height: 350px;
    width: auto;
    z-index: 1;
    top: 300px;
    left: 0px;
  }

  .pinkBlob {
    height: 450px;
    width: auto;
    position: relative;
    bottom: 100px;
    left: 10px;
    z-index: 0;
  }

  .newVariantsSVG {
    width: 90%;
  }

  .h4Section1,
  .searchNewVariants {
    margin-right: 5%;
    /* margin-left: 5%; */
  }

  /* Section 2 mobile*/
  .section2 {
    height: 1700px;
    width: 100%;
  }

  .section2Text {
    width: auto;
  }

  .section2Heading {
    font-family: 'Recoleta';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
    padding: 5%;
  }

  .section2Paragraph {
    width: 100%;
  }

  /* Section 3 mobile*/
  .section3Heading {
    font-family: 'Graphik Web';
    font-style: normal;
    font-weight: 400;
    font-size: 130%;
    line-height: 27px;
    padding: 5%;
  }

  .section3 {
    height: 1100px;
  }

  .summerstudent1 {
    display: static;
    padding-bottom: 15%;
    position: relative;
    overflow-wrap: break-word;
  }
  .summerstudent2 {
    padding-bottom: 15%;
    display: static;
    position: relative;
  }

  .summerstudent3 {
    display: flex;
    position: relative;
    bottom: 0px;
    right: 15%;
  }
  .summerstudentName1 {
    position: relative;
    right: 10%;
    padding-left: 10%;
  }

  .summerstudentName2 {
    text-align: left;
  }

  .summerstudent1Paragraph,
  .summerstudent2Paragraph,
  .summerstudent3Paragraph {
    position: static;
    width: 80%;
    height: fit-content;
    font-family: 'Graphik Web';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
  }

  .summerstudent1Paragraph {
    position: relative;
    padding-top: 12%;
    width: 100%;
    right: 18%;
    padding-left: 15%;
  }

  .summerstudent2Paragraph {
    text-align: left;
    padding-top: 5%;
    margin: 0;
    width: 100%;
  }

  .summerstudent3Paragraph {
    padding-top: 16%;
    width: 100%;
  }

  .summerstudent1picture {
    width: 60%;
    height: auto;
    shape-outside: circle() padding-box;
    float: left;
    right: 15%;
    position: relative;
  }

  .summerstudent2picture {
    width: 60%;
    float: right;
    shape-outside: circle() padding-box;
    height: auto;
    margin: 0px;
    margin-right: -20%;
  }

  .summerstudent3picture {
    width: 60%;
    /* height: 40%; */
    float: left;
    position: relative;
    bottom: 20%;
  }

  .greenBlob {
    position: relative;
    bottom: 75%;
    left: 67%;
    width: 50%;
  }

  /* Section 4 mobile*/
  .whyWorkAtVariant {
    height: 1600px;
  }

  .section4Heading {
    font-family: 'Graphik Web';
    font-style: normal;
    font-weight: 400;
    font-size: 130%;
    line-height: 25px;
    background-color: #423d89;
    color: white;
    padding: 5%;
  }

  .handbookParagraphs {
    width: 100%;
  }

  /* Section 5 mobile*/

  .section5Heading {
    font-family: 'Graphik Web';
    font-style: normal;
    font-weight: 400;
    font-size: 130%;
    line-height: 27px;
    padding: 5%;
    background-color: #03dac6;
    color: black;
  }

  .section5Color {
    background: black;
  }

  .EvenPicture {
    position: relative;
    width: 70%;
    display: flex;
    margin: auto;
  }

  /* Section 6 mobile */

  .section6Flex {
    display: flex;
    align-items: flex-start;
    order: 1;
    flex-direction: row-reverse;
  }
  .section6Heading {
    font-family: 'Graphik Web';
    font-style: normal;
    font-weight: 400;
    font-size: 130%;
    line-height: 27px;
    background-color: #b7b4de;
    padding: 5%;
    margin-bottom: 10%;
  }

  .section6Text {
    width: 80%;
  }

  .Marius {
    width: 40%;
  }

  .contactInfo {
    gap: 3px;
  }
}

@media (min-width: 1919px) {
  .pinkBlob {
    width: 700px;
    height: auto;
  }

  .section1 {
    height: 1600px;
  }
}

@media (min-width: 2000px) {
  /* 900px*/
  .scrollContainer,
  .section1,
  .section2,
  .section3,
  .section5,
  .whyWorkAtVariant,
  .section6 {
    height: auto;
    scroll-behavior: smooth;
  }

  .scrollContainer {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
  }

  /* Headings */
  .section3Heading,
  .section5Heading,
  .section6Heading,
  .section4Heading,
  .mostImportantForYou {
    font-family: 'Recoleta';
    font-style: normal;
    font-weight: 400;
    font-size: 200%;
    line-height: 39px;
  }

  /* Section 1 */
  .imageBlob1 {
    position: relative;
    left: 30%;
    height: auto;
    bottom: 220px;
    width: 50%;
  }

  .newVariantsSVG {
    width: 70%;
    height: auto;
  }

  .søkHer,
  .scroll {
    font-family: 'Graphik Web';
    font-style: normal;
    font-weight: 500;
    font-size: 150%;
    line-height: 34px;
  }

  .eller {
    font-family: 'Graphik Web';
    font-style: normal;
    font-weight: 400;
    font-size: 150%;
    line-height: 34px;
  }

  /* Section 2 styling*/
  .section2 {
    width: 80%;
    color: white;
  }

  .section2Heading {
    margin-bottom: 20px;
    font-family: 'Recoleta';
    font-style: normal;
    font-weight: 400;
    font-size: 200%;
    line-height: 59px;
  }

  .blogpostLink {
    color: white;
    text-decoration: underline;
  }

  .section2Color {
    background-color: #1a1837;
  }

  .section2Paragraph {
    font-family: 'Graphik Web';
    font-style: normal;
    width: 50%;
    font-size: 110%;
    line-height: 140%;
  }

  .officeMap {
    position: relative;
    width: 70%;
    height: fit-content;
    display: flex;
    right: 13%;
    padding-top: 13%;
  }

  .officeMapMobile {
    display: none;
  }

  /* Section 3 */
  .summerstudent1Paragraph,
  .summerstudent2Paragraph,
  .summerstudent3Paragraph,
  .summerstudentName,
  .summerstudentName1,
  .summerstudentName2 {
    font-family: 'Graphik Web';
    font-style: normal;
    font-weight: 400;
    font-size: 110%;
    line-height: 140%;
    position: relative;
    height: fit-content;
  }

  .summerstudentName,
  .summerstudentName1,
  .summerstudentName2 {
    font-family: 'Recoleta';
  }

  /* Section 4 */
  .positionTextLeft {
    padding-top: 1%;
    width: 500px;
    font-family: 'Graphik Web';
    font-style: normal;
    font-weight: 400;
    font-size: 110%;
    line-height: 140%;
  }

  .handbookHeaderDeskotop {
    font-family: 'Recoleta';
    font-style: normal;
    font-weight: 400;
    font-size: 200%;
    line-height: 39px;
  }

  .handbookParagraphs {
    width: 500px;
    font-family: 'Graphik Web';
    font-style: normal;
    font-weight: 400;
    font-size: 110%;
    line-height: 140%;
  }

  .readMoreArrow {
    position: relative;
    right: 20%;
    top: 250px;
  }

  /* Section 5 & Section 6*/
  .section6Paragraph,
  .section6Paragraph2,
  .section5Paragraph,
  .section5HeadingH4 {
    font-family: 'Graphik Web';
    font-style: normal;
    font-weight: 400;
    font-size: 110%;
    line-height: 140%;
  }

  .section5HeadingH4 {
    font-weight: bold;
  }

  .søknadstips {
    width: 100%;
  }

  .section5ParagraphLeft {
    font-size: 110%;
    line-height: 140%;
  }

  .section5Paragraph {
    width: 60%;
  }

  .flexTimeline {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    gap: 20%;
  }
}

@media (max-width: 1450px) {
  .ApplyAsDeveloperDiv,
  .ApplyAsDesignerDiv {
    position: static;
  }
}
