.container {
  background-color: var(--color-primary__shade1);
  color: var(--color-standard__white);
  padding-top: 1rem;
}

a {
  color: white !important;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.backLink {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 2rem;
  margin-left: 1rem;
}

.headerContainer {
  margin-bottom: 2rem;
  padding: 1rem;
}

.introText {
  margin: 0;
}

.questions {
  padding: 2rem 0;
}

.question {
  margin: 0;
}

h3,
h4 {
  font-family: 'Recoleta', serif;
  margin-bottom: 1rem;
}

.variantContainer {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.reverseVariantContainer {
  composes: variantContainer;
  background-color: var(--color-primary__shade2);
}

.personContainer,
.reversePersonContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2rem;
}

.imageContainer {
  display: flex;
  align-items: center;
  width: 30%;
}

.image {
  width: 100%;
}

.personInfoContainer {
  width: 65%;
}

.personInfo {
  margin-top: 0;
  width: 95%;
  word-wrap: break-word;
  word-break: break-word;
}

@media (min-width: 900px) {
  .backLink {
    margin-left: 0;
    margin-bottom: 4rem;
  }

  .headerContainer {
    margin-bottom: 5rem;
    padding: 0;
  }

  .contentContainer {
    padding: 5rem 13rem;
  }

  .variantContainer {
    margin-bottom: 8rem;
  }

  .reverseVariantContainer {
    background-color: var(--color-primary__shade1);
  }

  .personContainer,
  .reversePersonContainer {
    margin-bottom: 3rem;
  }

  .reversePersonContainer {
    flex-direction: row-reverse;
  }
}
