.wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 4rem 0;
}

.content {
  width: 100%;
  column-gap: 12px;
  row-gap: 52px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 420px);
  /* justify-content: space-between;  */
}
