.title {
  font-weight: 500;
  margin: 4rem 0 2rem;
  font-size: 4rem;

  background: linear-gradient(
    120deg,
    var(--color-primary),
    var(--color-secondary1),
    var(--color-secondary2)
  );
  background-size: 130% 130%;
  background-clip: text;
  color: rgba(0, 0, 0, 0);
  background-position-x: 60%;
}

@media (max-width: 500px) {
  .title {
    font-size: 3.5rem;
  }
}

.title--jumbo {
  font-weight: bold;
  margin: 4.8rem 0;
  font-size: 4.8rem;
}
