.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  width: 100%;
  max-width: 960px;
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;

  @media (max-width: 1024px) {
    flex-direction: column;
  }
}

.content > * {
  flex-basis: 0;
  flex-grow: 1;
}
