.omVariant {
  padding: 0 1rem 4rem;
  position: relative;
  margin-bottom: 3rem;
}

@media (max-width: 500px) {
  .omVariant {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
  }
}

.omVariant__title {
  font-weight: bold;
  margin: 1.8rem 0;
  font-size: 3.3rem;

  background: linear-gradient(
    to right,
    var(--color-primary),
    var(--color-secondary1),
    var(--color-secondary2)
  );
  background-size: 200% 200%;
  background-clip: text;
  transition: color 0.2s ease-in-out;
  color: rgba(0, 0, 0, 0);
}
.omVariant__title[data-no-animation='true'] {
  animation: none;
}

.time {
  display: inline-block;
  width: 12rem;
}

@media (max-width: 500px) {
  .time {
    width: 8rem;
  }
}

.agenda {
  list-style: none;
}

.prep {
  padding: 0 3rem;
  font-style: italic;
}

.right_image {
  float: right;
  width: 10rem;
}

h2,
h3 {
  margin: 5rem 0 2rem 0;
}

h4 {
  margin: 3rem 0 -0.4rem 0;
  font-family: 'Graphik';
  font-size: 1.3rem;
}

header {
  text-align: center;
  margin: 3rem 0;
}

.subtitle {
  font-size: 1.5rem;
  margin-top: -2.5rem;
  font-style: italic;
}

.supertitle {
  font-size: 1.5rem;
  font-style: italic;
  margin-bottom: -2rem;
}

p {
  margin-top: 1rem;
}

.image {
  width: 20rem;
}

@media (max-width: 500px) {
  .image {
    width: 100%;
  }
}

.footerLogo {
  display: block;
  margin: 8rem auto 0 auto;
}

.topic {
  margin: 0;
}

.initiator {
  font-style: italic;
  margin: 0;
}
