.wrapper {
  display: flex;
  margin: 2.4rem;
}

.wrapper fieldset {
  border: none;
}

fieldset {
  margin: 0;
  border: 2px solid black;
  border-radius: 30px;
  padding: 2rem;
}

.container {
  margin: auto;
}

.calculatorArrowContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: -3.5rem;
  padding-bottom: 1rem;
  margin-left: 2.5rem;
}

.calculatorArrowContainer h4 {
  text-align: left;
  font-size: 1rem;
  padding-bottom: 0.5rem;
}

.calculatorArrow {
  transform: rotate(300deg);
  height: 3rem;
}

.gradeContainer {
  margin-top: 1.2rem;
}

.radioContainer {
  display: flex;
  flex-direction: row;
}

.barSliderContainer {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  grid-template-areas: 'old slider young';
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin: 3rem 0;
}

dl {
  margin: 0;
}

.iconButton {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  font-size: 1.5rem;
}

.calculatorContainer {
  position: relative;
  overflow: hidden;
  outline: none;
}

@media (max-width: 400px) {
  .wrapper {
    margin: 0;
  }
  .wrapper fieldset {
    padding: 0;
  }
}

.topSvgContainer {
  position: absolute;
  top: 0;
  transform: translate(-50%, -48%);
  height: 80%;
  width: 80%;
  mix-blend-mode: multiply;
}

.svgContainer {
  position: absolute;

  width: 100%;
  height: 100%;
  transform: translate(35%, 55%);
  z-index: 0;
}

.contentContainer {
  position: relative;
  z-index: 2;
}

.graduation {
  display: grid;
  grid-auto-rows: 1fr 2fr;
  grid-template-columns: 1fr 1fr;
}

.question {
  font-size: 1rem;
  color: #333333;
  font-weight: 500;
  grid-column: 1 / -1;
}

.calculation {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(max-content, 5);
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
}

.result {
  font-size: 1.7rem;
  font-weight: 500;
}

.flexRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.number {
  font-variant-numeric: tabular-nums;
}
