.block {
  display: flex;
  max-width: 100%;
  align-items: center;
  margin: auto;
  justify-content: space-between;
  margin-bottom: 7%;
}

.textportion {
  flex-direction: column;
  display: flex;
  width: 57%;
}
.textportion h2 {
  font-weight: 500;
  padding-bottom: 2%;
}
.picture {
  display: flex;
  min-width: 40%;
  margin-right: -5%;
}

p {
  font-size: 100%;
  font-family: 'Graphik Web';
}

.textportion a {
  all: unset;
  text-underline-offset: 2px !important;
  text-decoration: underline !important;
  text-decoration-thickness: 2px !important;
  text-decoration-color: #e61a6b !important;
  cursor: pointer;
  color: #e61a6b;
}

@media (max-width: 500px) {
  .block {
    flex-direction: column;
  }
  .textportion {
    width: 100%;
  }

  .textportion h2 {
    font-size: 1.8rem;
  }
  p {
    margin: 0;
    color: var(--Secondary-4-D4, #2f2e2b);
    font-family: 'Graphik Web';
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem; /* 200% */
  }
  .picture {
    min-width: 100%;
    margin: -2% 0 10% 0;
  }
}
