.day {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 6rem 13rem 5rem 9rem;
}

.with_background {
  background-color: rgb(241 237 223);
}

.day > h2 {
  color: var(--Primary-Default, #e61a6b);

  /* Heading 4 / Regular */
  font-family: Recoleta;
  font-size: 1.675rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.4375rem; /* 130% */
}

.day time {
  display: inline-block;
  width: 12rem;
  margin-right: 1rem;
}

.timetable {
  width: 100%;
}

.day ul {
  list-style: none;
  font-size: 110%;
  font-weight: 400;
  font-family: 'Graphik Web';
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
}

.day ul > li {
  display: flex; /* Use flexbox to align time and text */
  align-items: flex-start; /* Align items at the top */
  margin-bottom: 1.5rem;
}

.day ul > li time {
  flex-shrink: 0; /* Prevent the time element from shrinking */
  margin-right: 15px; /* Adds space between time and text */ /* Set consistent height for the time element */
}

.day ul > li span {
  /* Set a comfortable line height for the text */
  display: inline-block; /* Ensure proper block-level behavior */
}

.day ul > li p {
  margin-top: 1rem;
}

@media (max-width: 767px) {
  .day > h2 {
    padding-left: 1rem;
  }

  .day ul {
    list-style: none;
    padding-left: 1rem;
    margin: 0 0;
  }
}
a {
  text-decoration-line: none;
}

@media (max-width: 500px) {
  .day {
    padding: 1rem;
    margin-top: 2.5rem;
    align-items: flex-start;
  }

  .day li {
    display: flex;
    flex-direction: row;
  }

  .day > h2 {
    font-family: Graphik;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    color: var(--Primary-Default);
    line-height: 2rem;
    padding-bottom: 2rem;
  }

  .with_background {
    padding-top: 3rem;
    padding-bottom: 2rem;
    padding: 3rem 1rem 2rem 1rem;
  }
  .day ul {
    list-style: none;
    padding-left: 1rem;
    width: 95%;
  }

  .day time {
    width: 8rem;
  }
}
