section {
}
.container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100vw;
  height: 30rem;
}

.text {
  display: flex;
  flex-direction: column;
  z-index: 10;
  font-size: 2.25rem;
  line-height: 2.5rem;
  justify-content: center;
  margin-left: -20%;
}

.text > h1 {
  font-size: 5vw;
  font-weight: 450;
}

.text > h2 {
  display: flex;
  font-size: 1rem;
  line-height: 2.25rem;
  font-weight: 500;
  margin-top: 0;
  justify-content: center;
}

.blob {
  display: flex;
  margin-left: -45%;
  margin-top: 50%;
  z-index: auto;
  min-width: 65%;
  position: relative;
}

.blobimg {
  position: absolute;
  max-width: 100%;
}

.img1 {
  display: flex;
  min-width: 45%;
  position: relative;
  justify-content: flex-start;
}
.hemsedalhero1 {
  position: absolute;
  max-width: 100%;
  left: 0;
  margin: -5.5rem 0 0 -12rem;
}

.img2 {
  display: flex;
  min-width: 40%;
  position: relative;
  justify-content: flex-end;
}

.hemsedalhero2 {
  position: absolute;
  max-width: 60%;
  margin: -1rem 3rem 0 0;
}

.blobandtext {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media (max-width: 500px) {
  .container {
    height: 50rem;
  }
  .hemsedalhero2 {
    max-width: 0%;
  }
  .img1 {
    height: 30rem;
  }
  .hemsedalhero1 {
    max-width: 160%;
    margin: -7rem -20% -30% -70%;
  }

  .blobandtext {
  }

  .blob {
    width: 15rem;
    height: 15.4rem;
    flex-shrink: 0;
    margin: 0 -15% 0 -48%;
  }

  .text > h1 {
    font-size: 4.25rem;
    font-weight: 400;
    line-height: 5.1rem;
  }
  .text > h2 {
    display: block;
    text-align: right;
    font-family: Recoleta;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem; /* 195% */
  }

  .text {
    display: flex;
    align-content: center;
    padding-left: 12rem;
  }
  .container {
    flex-direction: column;
  }
}
