.container {
  display: flex;
  position: relative;
  margin-top: 8rem;
  flex-direction: column;
}

.left {
  display: flex;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  flex-direction: column;
  margin-left: 4rem;
}

.text {
  width: 100%;
  z-index: 10;
  font-size: 2.25rem;
  line-height: 2.5rem;
  text-align: center;
}

.text > h1 {
  font-size: 4rem;
  font-weight: 500;
}

.text > h2 {
  font-size: 1rem;
  line-height: 2.25rem;
  margin-top: 0;
  font-weight: 500;
}

.arrow {
  position: absolute;
  left: 1rem;
  top: -3rem;
  width: 100px;
  font-family: 'Recoleta';
  z-index: 5;
}

.arrow > span {
  position: absolute;
  top: -2.5rem;
}

.arrow > img {
  width: 60px;
  transform: rotate(45deg);
}

.blob {
  position: absolute;
  right: 11rem;
  z-index: auto;
  width: 33.333333%;
}

@media (min-width: 1024px) {
  .container {
    align-items: center;
    flex-direction: row;
  }

  .left {
    width: 50%;
  }

  .arrow {
    top: 3.5rem;
    left: -3rem;
    width: 20%;
  }

  .arrow > span {
    top: -2rem;
  }

  .arrow > img {
    transform: rotate(0);
  }
}

.hemsedalhero1 {
  position: absolute;
  top: -8rem;
  right: 62.7vw;
  width: 35%;
  height: auto;
}

.hemsedalhero1text {
  position: absolute;
  top: -7.4rem;
  right: 65.6vw;
  width: 43%;
  height: auto;
}

.hemsedalhero2 {
  position: absolute;
  top: -7rem;
  left: 71.1vw;
  width: 25%;
  height: auto;
}

text {
  font-weight: 400;
  font-family: 'Graphik Web';
  font-size: larger;
}
