.wrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  background-color: var(--background-bg-dark);
  height: fit-content;
  justify-content: space-between;
  padding: 6px;
  border-radius: 0.375rem;

  @media (max-width: 834px) {
    flex-direction: column-reverse;
  }
}

.heading {
  @media (max-width: 1130px) {
    font-size: 2.125rem;
  }
}

.font {
  color: var(--text-primary-light);
}

.TagRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.info {
  padding: 32px 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.cardInfo {
  color: var(--text-primary-light);
  display: flex;
  gap: 48px;
  flex-direction: column;
  height: fit-content;
}

.imageWrapper {
  max-width: 791px !important;
  max-height: 27rem !important;
  min-height: 27rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden !important;
  padding: 0;
  margin: 6px;
  border-radius: 24px;

  @media (max-width: 834px) {
    align-items: start;
    max-width: 54.3125rem !important;
    min-height: 18rem !important;
    max-height: 18rem !important;
    margin: 0px;
  }
}

.imageWrapper img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
  border-radius: 24px;
}
