.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 7.5rem;
  padding-bottom: 1rem;

  @media (width <= 425px) {
    padding-top: 2rem;
  }
}

.wrapper {
  max-width: var(--max-content-width-large);
  width: 100%;
}

.footerContent {
  background-color: var(--background-bg-light-secondary);
  border-radius: 0.75rem;
  padding: 1.5rem;
  padding-bottom: 2.25rem;
  position: relative;
  z-index: 1;

  @media (width >= 802px) {
    padding: 2.25rem;
  }

  @media (width >= 1408px) {
    padding: 3rem;
  }
}

.nav {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  gap: 3rem;

  @media (width >= 1408px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.flex_container_left {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.flex_container_right {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;

  @media (width >= 802px) {
    flex-flow: row wrap;
    justify-content: space-between;
  }
}

.contactInfo {
  color: var(--stroke-primary);
  line-height: 120%;

  &:hover {
    text-decoration: underline;
  }
}

.logo {
  padding: 1.5rem 0;
  width: 100%;
  height: auto;

  @media (width >= 802px) {
    padding-top: 2rem;
  }

  @media (width >= 1408px) {
    padding-top: 7.5rem;
    padding-bottom: 3rem;
  }
}

.grey_links {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  @media (width >= 1408px) {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}

.organisationNumber {
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  color: var(--text-tertiary);
}

.offices {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  align-self: stretch;
  list-style: none;
  line-height: 120%;
  padding: 0;
}
