.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
  align-self: stretch;
  width: -webkit-fill-available;
}

.label {
  color: currentColor;
}

.input {
  display: flex;
  padding: 0.5rem 0.75rem;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;

  border-radius: var(--radius-small);
  border: 1px solid var(--stroke-primary, #ece1d3);
  background: var(--text-primary-light, #fff);

  &:focus {
    outline: 2px solid var(--surface-yellow);
  }
}

.error {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--surface-red);
  &::before {
    content: "";
    width: 1.25rem;
    height: 1.25rem;
    display: inline-block;
    -webkit-mask-size: cover;
    background-color: var(--surface-red);
    -webkit-mask: url("/_assets/alert-circle.svg") no-repeat 50% 50%;
  }

  @media (min-height: 1024px) {
    width: 1.5rem;
    height: 1.5rem;
  }
}
