@value media-small: 420px;

.jobArticle {
  margin: 2rem 1rem 6rem;
  display: grid;
  grid-template: 'a a' 'c c' 'd d' / 1fr auto;
}

.titleWrapper {
  grid-area: a;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.button__bottom {
  grid-area: d;
  margin: 4rem 0 0;
}

.button__top {
  margin: 4rem 0;
}
@media (max-width: media-small) {
  .button__top a,
  .button__bottom a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .jobArticle__title {
    font-size: 2.7rem;
  }
}

.rendered__markdown__wrapper {
  grid-area: c;
  max-width: 60ch;
}
.rendered__markdown__wrapper * + * {
  margin-top: 1rem;
}

.rendered__markdown__wrapper * + h2 {
  margin-top: 3.4rem;
}

.rendered__markdown__wrapper h1 {
  font-size: 3.3rem;
  font-weight: bold;
  margin: 2rem 0;
}

.rendered__markdown__wrapper h2 {
  font-weight: 600;
  font-size: 1.7rem;
}

.rendered__markdown__wrapper h3 {
  font-weight: bold;
  font-size: 1.1rem;
  margin: 2rem 0 -0.8rem 0;
}

.rendered__markdown__wrapper ul {
  margin: auto 1rem 1rem;
}
.rendered__markdown__wrapper li {
  margin: 0.3rem 0;
}
.rendered__markdown__wrapper img {
  shape-outside: circle() padding-box;
  width: 24rem;
  padding: 1rem;
  margin-right: -12rem;
  float: right;
}

.rendered__markdown__wrapper :global(.small) img {
  width: 12rem;
}

.rendered__markdown__wrapper :global(.left) img {
  float: left;
  margin-left: -16rem;
  margin-right: 0;
}

.rendered__markdown__wrapper :global(.sm) img {
  width: 20rem;
}

.rendered__markdown__wrapper :global(.blob1) img {
  shape-margin: 2rem;
  clip-path: url('#blobClip1');
}
.rendered__markdown__wrapper :global(.blob2) img {
  shape-margin: 2rem;
  clip-path: url('#blobClip2');
}

.rendered__markdown__wrapper :global(.polaroid) {
  float: right;
  transform: rotateZ(10deg);
  margin: 2rem;
  margin-right: -0.45rem;
  padding: 0.7em;
  background: white;
  width: 15rem;
  box-shadow: 0 0 4vmin rgba(0, 0, 0, 0.3), 0 0 0.5vmin rgba(0, 0, 0, 0.5);
  font-size: 0.7rem;
  font-family: 'Recoleta-Medium';
  transition: box-shadow 0.2s ease, filter 0.2s ease;
}
.rendered__markdown__wrapper :global(.polaroid) img {
  float: none;
  max-width: 100%;
  pointer-events: none;
  margin: 0;
  padding: 0;
}

.rendered__markdown__wrapper :global(.polaroid) figcaption:nth-child(2) {
  margin: 0;
}

.contacts__layout {
  display: grid;
  flex-wrap: wrap;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}
.contact {
  margin: 1rem 0;
  display: flex;
  align-items: center;
}
.contact__img {
  margin-right: 0.5rem;
}
.contact__name {
  margin: 0;
}
.contact__type {
  text-decoration: none;
  font-size: 1rem;
  color: var(--color-standard__white--text);
  display: block;

  background: linear-gradient(
    to right,
    var(--color-secondary1),
    var(--color-primary__shade1),
    var(--color-secondary2)
  );
  background-size: 200% 200%;
  background-clip: text;
  transition: color 0.2s ease-in-out;
}
.contact__type:not(:last-child) {
  margin-right: 1rem;
}
.contact__type:hover {
  color: rgba(0, 0, 0, 0);
}
