.tjenesteomrade {
  background-color: #5d0a2b;
  padding-bottom: 20rem;
}

.tjenesteomrade > * {
  color: white;
}

.tjenesteomrade__columns {
  display: flex;
  flex-direction: column;
  padding-inline: 6rem;
  gap: 4rem;
}
