.descriptionContainer {
  background-color: var(--color-primary__shade2);
  padding-top: 1rem;
  padding-bottom: 5rem;
}

.description {
  position: relative;
  height: 35rem;
}

.textContainer {
  position: absolute;
  z-index: 10;
  padding: 1rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.descriptionText {
  width: 100%;
}

.importantText {
  text-transform: uppercase;
  font-weight: bold;
}

.getToKnowLink {
  justify-content: flex-start;
  margin-top: 3rem;
}

.getToKnowText {
  margin-right: 1rem;
  font-family: 'Recoleta';
  font-size: 1.5rem;
}

.descriptionFooter {
  margin-top: 2rem;
}

.descriptionFooterText {
  font-style: italic;
}

.backgroundBlobContainer {
  position: absolute;
  content: url('./backgroundBlobMobile.svg');
  width: 100%;
}

.imageBlobContainer {
  display: none;
}

.imageContainer {
  display: none;
}

.image {
  width: 100%;
}

@media (min-width: 768px) {
  .description {
    height: 60rem;
  }

  .textContainer {
    padding: 10rem;
  }

  h2 {
    font-size: 2.183rem;
  }
}

@media (min-width: 900px) {
  .descriptionContainer {
    padding: 7rem 8rem 12rem;
  }

  .descriptionText {
    width: 100%;
  }

  .descriptionFooter {
    margin-top: 5rem;
  }

  .backgroundBlobContainer {
    content: url('./backgroundBlob.svg');
  }

  .imageBlobContainer {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 28.188rem;
  }

  .imageContainer {
    display: block;
    position: absolute;
    bottom: 3rem;
    right: 2rem;
  }
}
