.descriptionContainer {
  background-color: var(--color-primary__shade2);
  padding: 7rem 15rem 12rem;
  position: relative;
  height: 60rem;
}

.textContainer {
  position: absolute;
  z-index: 10;
}

.descriptionText {
  width: 45%;
}

.importantText {
  text-transform: uppercase;
  font-weight: bold;
}

.descriptionFooter {
  margin-top: 7rem;
}

.descriptionFooterText {
  font-style: italic;
}

.backgroundBlobContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.imageBlobContainer {
  position: absolute;
  bottom: 0;
  right: 3rem;
}

.imageContainer {
  position: absolute;
  bottom: 3rem;
  right: 5rem;
}
