.sayhi {
  position: absolute;
  top: 0;
  right: -1px;
  max-width: 20%;
}
.sayhi a div {
  top: 28%;
}

.project {
  margin-top: 12rem;
}
.project__introduction > h2 {
  margin: 1rem 0 2.2rem 0;
}
.subproject {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 5rem;
}

.subproject > * {
  max-width: 22rem;
  margin: auto auto;
}
.subproject > * > img {
  width: 100%;
  display: block;
  margin: 0 auto;
}

.project__introduction__location {
  margin: 3.1rem 0 9rem 0;
}
.project__introduction__location > * {
  margin: 0.5rem 0;
}

.location {
  display: flex;
  align-items: center;
}

.location > span {
  border: 1px solid #423d89;
  border-radius: 40px;
  padding: 3px 24px 5px;
  margin: 0 0.5rem 0 0;
}

.location > span:nth-child(1) {
  border: 1px solid var(--color-secondary1);
}
.location > span:nth-child(2) {
  border: 1px solid var(--color-secondary2);
}
.location > span:nth-child(3) {
  border: 1px solid var(--color-primary);
}

.project__interviews {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.project__interview {
  max-width: 18rem;
  margin: 0 auto;
}
.textCenter {
  text-align: center;
}
.project__interview:nth-child(1) {
  margin-top: 3.5rem;
}
.project__interview:nth-child(2n) {
  margin-top: 21rem;
}
.project__interview:nth-child(3n) {
  margin-top: -6rem;
}

.project__interview img {
  display: block;
  width: 75%;
  margin: 0 auto;
}

.project__interview > p + p,
.contributionElements > div > p + p {
  margin-top: 0;
}
.contribution {
  margin-top: 5rem;
}
.contribution > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.contribution > * {
  margin-bottom: 3rem;
}
.contributionElements {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 18rem;
  margin: 0 auto;
}
.contributionElements > div {
  margin-bottom: 3rem;
}
blockquote {
  max-width: 600px;
  margin: 4rem auto;
  position: relative;
  font-family: Graphik Web, Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 2.5rem;
  padding: 3rem;
}
blockquote:before {
  display: block;
  content: '\201C';
  font-size: 5rem;
  position: absolute;
  left: 1rem;
  top: 1.5rem;
  color: var(--color-secondary1__shade2);
}
blockquote:after {
  display: block;
  content: '\201D';
  font-size: 5rem;
  position: absolute;
  right: 1rem;
  bottom: 1.5rem;
  color: var(--color-secondary1__shade2);
}
.buttonLink {
  text-decoration: none;
  border-bottom: 1px solid var(--color-primary);
  font-weight: 500;
}
.imageContainer {
  position: relative;
  height: min-content;
}
.imageContainer > img {
  z-index: 1;
  position: relative;
}
.img__decorationBox {
  width: 75%;
  border-radius: 0.5rem;
  position: absolute;
  z-index: 0;
}
.img__decorationBox:nth-of-type(1) {
  top: -5%;
  right: 30%;
  background-color: var(--color-secondary1__tint4);
}
.img__decorationBox:nth-of-type(2) {
  top: 10%;
  left: 30%;
  background-color: var(--color-secondary2__tint3);
}
/* Creates a 1:1 aspect ratio */
.img__decorationBox::before {
  content: '';
  display: block;
  padding-top: 100%;
}

@media (max-width: 500px) {
  .project {
    padding: 0 1rem;
    margin-top: 4rem;
  }
  .subproject {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin-bottom: 5rem;
    gap: 3rem;
  }

  .subproject:nth-of-type(2n) > div {
    order: 1;
  }

  .subproject > * {
    max-width: 18rem;
    margin: auto auto;
  }
  .subproject > * > img {
    width: 90%;
    display: block;
    margin: 0 auto;
  }
  .imageContainer {
    padding: 0 4rem;
    max-width: unset;
  }

  .img__decorationBox {
    width: 60%;
  }

  .project__interviews {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .project__interview:nth-child(1),
  .project__interview:nth-child(2n),
  .project__interview:nth-child(3n) {
    margin-top: 3.5rem;
  }

  .contribution > div {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}
