html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
}

@import '~@variant/profile/lib/colors/index.module.css';
@import '~@variant/profile/lib/typography/index.module.css';

#root {
  position: relative;
}

html {
  background: var(--color-secondary4__tint2);
}

a,
a:visited {
  color: var(--color-standard__black);
  transition: color 250ms ease-in;
}

a:hover {
  color: var(--color-secondary2__shade2);
}
