.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 1rem;
}

.calculator,
.handbook {
  --_calcBg: var(--background-bg-light-secondary);
  --_calcColor: var(--text-primary-dark);
  padding: 3rem;
  border-radius: var(--radius-small);

  background-color: var(--_calcBg);
  color: var(--_calcColor);
}
.calculator {
  --_calcBg: var(--background-bg-dark);
  --_calcColor: var(--text-primary-light);
}
.calculator--violet {
  --_calcBg: var(--surface-violet-light);
  --_calcColor: var(--text-primary-dark);
}
.handbook--violet {
  --_calcBg: var(--surface-violet);
  --_calcColor: var(--text-primary-light);
}
