.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  max-width: 960px;
}

.content.highlighted {
  border: 2px solid var(--primary-yellow-warning);
  border-radius: 0.25rem;
  background-color: var(--primary-yellow-warning);
}

.highlighted .innerContent {
  background-color: var(--primary-bg);
  border-radius: 1.25rem;
  padding: 1rem;
}
