.paragraph {
  max-width: var(--max-content-width-small);
}

.paragraph > * + * {
  margin-top: 1.5rem;
}

.list {
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 300;
  line-height: 160%;
  letter-spacing: 0.0125rem;

  @media (max-width: 425px) {
    font-size: 0.875rem;
    line-height: 171.429%;
  }
}

.image {
  overflow: hidden;
  margin: auto;
  border-radius: var(--radius-medium);

  & img {
    display: block;
    max-width: 100%;
  }
}

.imageLeft {
  float: left;
  margin-right: 1.5rem;
}

.imageRight {
  float: right;
  margin-left: 1.5rem;
}

.imageRight img,
.imageLeft img {
  height: auto;
}

.blockquote {
  font-style: italic;
}

.link {
  color: var(--text-primary);
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    color: var(--text-tertiary);
    cursor: pointer;
  }
}
