.paragraph {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.list {
  font-size: 1.25rem;
  font-weight: 400;

  @media (min-width: 1024px) {
    font-size: 1.5rem;
  }
  margin: 0;
}

.image {
  border-radius: 0.3125rem;
  overflow: hidden;
  margin: auto;
  width: 100%;
  min-width: 150px;
  max-width: 15rem;

  @media (min-width: 640px) {
    min-width: 240px;
    max-width: 21.25rem;
  }

  @media (min-width: 1024px) {
    max-width: 100%;
    height: 25rem;
  }
}

.blockquote {
  font-style: italic;
}
