.paragraph {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.list {
  font-size: 1.25rem;
  font-weight: 400;

  @media (min-width: 1024px) {
    font-size: 1.5rem;
  }
  margin: 0;
}

.image {
  overflow: hidden;
  margin: auto;

  border-radius: var(--radius-medium);

  & img {
    display: block;
    max-width: 100%;
  }
}

.blockquote {
  font-style: italic;
}
