.paragraph {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: var(--max-content-width-small);
}

.list {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 300;
  line-height: 160%;
  letter-spacing: 0.0125rem;

  @media (max-width: 425px) {
    font-size: 0.875rem;
    line-height: 171.429%;
  }
}

.image {
  overflow: hidden;
  margin: auto;
  border-radius: var(--radius-medium);

  & img {
    display: block;
    max-width: 100%;
  }
}

.blockquote {
  font-style: italic;
}

.link {
  color: var(--text-primary);

  &:hover {
    color: var(--text-tertiary);
  }
}