.uploadInput {
  /* visually hidden input to still receive focus and support screen readers */
  /* https://developer.mozilla.org/en-US/docs/Web/API/File_API/Using_files_from_web_applications#using_a_label_element_to_trigger_a_hidden_file_input_element */
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.uploadInput:is(:focus, :focus-within) + * label {
  outline: 2px solid var(--focus-color);
}

.uploadButtonWrapper {
  display: flex;
}

.uploadButtonContent {
  display: inline-flex !important;
  align-items: center;
  gap: 0.35rem;
  padding: 0.45rem 0.6rem 0.45rem 0.5rem !important;
  background-color: #252837; /* TODO: find Sanity Studio color variable */
  border-radius: 0.1875rem;

  &:hover {
    background-color: #1b1d27; /* TODO: find Sanity Studio color variable */
  }
}

.darkTheme .uploadButtonContent {
  background-color: lightgray;
}

.uploadButton {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
}

.uploadButtonIcon {
  font-size: 1.35rem;
  color: white;
}

.darkTheme .uploadButtonIcon {
  color: black;
}

.uploadButtonText {
  font-size: 0.8125rem;
  color: white;
}

.darkTheme .uploadButtonText {
  color: black;
}

.csvTableCell {
  display: flex;
  align-items: center;
  font-size: 0.95rem;
  padding: 0.25rem;
}

.csvTableCell:nth-child(4n + 1),
.csvTableCell:nth-child(4n + 2) {
  background-color: #f5f5f5;
}

.darkTheme .csvTableCell:nth-child(4n + 1),
.darkTheme .csvTableCell:nth-child(4n + 2) {
  background-color: #212121;
}

.csvTableSalaryInput {
  border-radius: 4px;
  border: 1px dotted #444;
  padding: 0.5rem;
  font-size: 0.95rem;
  text-align: end;
  width: 100%;
  background-color: transparent;
}

.csvTableYearLabel {
  padding: 0.5rem;
}
