.newyearParty {
  background-color: black;
  overflow: hidden;
  height: auto;
}

.newyearParty__invitation {
  position: relative;
  display: block;
  margin: auto;
  width: fit-content;
  padding-top: 5rem;
  margin-bottom: 0rem;
  z-index: 2;
}

.newyearParty__invitation > h1,
p {
  color: white;
}

.newyearParty__invitation__overHeader {
  font-family: 'Recoleta';
}

.newyearParty__invitation__underHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5.313rem;
}

.newyearParty__invitation__underHeader p {
  margin-top: 0;
  font-family: 'Recoleta';
}

.newyearParty__invitation_ingress {
  margin-bottom: 2rem;
}

.newyearParty__invitation_ingress_paragraph {
  max-width: fit-content;
  margin: 0;
  margin-bottom: 0.5rem;
}

.newyearParty__invitation__table {
  width: 100%;
}

.newyearParty__invitation__table p {
  margin-block: 0.8rem;
}

.newyearParty__invitation__table_row {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid white;
}

.newyearParty__invitation__table_row:nth-last-child(2) {
  border-bottom: none;
}

.newyearParty__invitation__button {
  width: 100%;
  border: none;
  background-color: #9af0e8;
  height: 2.75rem;
}

.newyearParty__invitation__button:hover {
  background-color: #68e9dd;
}

@media (min-width: 2000px) {
  .newyearParty {
    height: 2160px;
  }
}

@media (max-width: 1100px) {
  .newyearParty {
    height: auto;
  }
}
