.tur {
  background: #423d89;
  color: #fff;
  margin: 0;
  padding: 0;
  font-family: 'Graphik Web', Arial, sans-serif;
  min-height: 100vh;
  overflow: auto;
  font-weight: 400;
}

.tur h1,
.tur h2,
.tur h3 {
  font-family: 'Recoleta', serif;
}

.tur h2 {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
}

.tur p {
  max-width: 50rem;
  font-size: 16px;
  margin-top: 1.5rem;
  font-weight: 400;
}

.tur li {
  margin-bottom: 2rem;
}

.tur time {
  display: inline-block;
  width: 4rem;
  margin-right: 3rem;
}

.tur a {
  all: unset;
  color: #fff;
  cursor: pointer;
  font-weight: 500;
}

.navigation {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;

  flex-direction: column-reverse;
  gap: 20px;
}

.navigation > a > span {
  margin-right: 0.4rem;
}

.navigation > a {
  font-size: 16px;
  line-height: 24px;
  font-family: 'Graphik Web', Arial, sans-serif;
  justify-content: center;
  display: flex;
}

.description {
  margin-top: 8rem;
}

.practical {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 7rem 2rem 5rem 2rem;
  font-weight: 500;
  gap: 4rem;
}

.practical img {
  width: 70%;
}

@media (min-width: 640px) {
  .practical {
    flex-direction: row;
  }

  .practical img {
    width: 40%;
  }

  .practical p {
    font-size: 0.9rem;
  }

  .navigation {
    flex-direction: row;
    gap: 90px;
  }
}
