.wrapper {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.125rem;
  border-radius: 1.5625rem;
}

.underline {
  width: 100%;
  height: 0.0625rem;
  background-color: var(--primary-black);
}

.link {
  color: var(--primary-black);

  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  gap: 0.5rem;
  font-family: var(--font-figtree);
  font-size: 1.125rem;
  font-weight: 500;

  transition: gap 100ms ease-in-out;

  @media (min-width: 1024px) {
    font-size: 1.25rem;
  }

  &:hover {
    gap: 1rem;
    font-weight: 600;
  }

  &::after {
    content: "";
    width: 24px;
    height: 24px;
    display: inline-block;
    -webkit-mask-size: cover;
    background-color: var(--primary-black);
    -webkit-mask: url("/arrow.svg") no-repeat 50% 50%;
  }
}

.span {
  padding-bottom: 0.125rem;
}

.headerLink {
  color: var(--primary-black);
  cursor: pointer;
  text-decoration: none;
  font-family: var(--font-figtree);
  font-size: 1.25rem;
  font-weight: 500;

  &:hover {
    color: var(--primary-green-dark);
  }

  &:active {
    color: var(--secondary-green-dark2);
  }
}

.footerLink {
  color: var(--primary-white);
  cursor: pointer;
  text-decoration: none;
  font-family: var(--font-darkerGrotesque);
  font-size: 2rem;
  font-weight: 400;

  &:hover {
    font-weight: 500;
  }

  &:active {
    color: var(--secondary-off-white2);
  }
}

.selected {
  color: var(--primary-green-dark);
}
