.wrapper {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.125rem;
  border-radius: 1.5625rem;
}

.sizeSmall.wrapper {
  gap: 0;
}

.underline {
  width: 100%;
  height: 0.0625rem;
}

.colorLight .underline {
  background-color: var(--background-bg-dark);
}

.sizeSmall .underline {
  margin-top: -0.125rem;
}

.link {
  color: var(--text-primary);
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  gap: 0.5rem;
  font-size: 1.125rem;
  font-weight: 500;

  transition: gap 100ms ease-in-out;

  @media (min-width: 1024px) {
    font-size: 1.25rem;
  }

  &:hover {
    gap: 1rem;
    font-weight: 600;
  }

  &::after {
    content: "";
    width: 24px;
    height: 24px;
    display: inline-block;
    -webkit-mask-size: cover;
    background-color: var(--text-primary);
    -webkit-mask: url("/_assets/arrow.svg") no-repeat 50% 50%;
  }
}

.colorLight .link {
  color: var(--background-bg-light-primary);

  &::after {
    background-color: var(--background-bg-light-primary);
  }
}

.sizeSmall .link {
  font-size: 0.95rem;
  gap: 0.25rem;

  @media (min-width: 1024px) {
    font-size: 1rem;
  }

  &:hover {
    gap: 0.5rem;
  }

  &::after {
    transform: scale(0.75);
  }
}

.span {
  padding-bottom: 0.125rem;
}

.sizeSmall .span {
  padding-bottom: 0;
}

.headerLink {
  color: var(--background-bg-light-primary);
  cursor: pointer;
  text-decoration: none;
  font-family: var(--font-britti-sans);
  font-size: 1.125rem;
  font-weight: 500;

  &:hover {
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  &:active {
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}

.footerLink {
  color: var(--text-primary-light);
  cursor: pointer;
  text-decoration: none;
  font-family: var(--font-britti-sans);
  font-size: 2rem;
  font-weight: 400;

  &:hover {
    font-weight: 500;
  }

  &:active {
    color: var(--background-bg-light-secondary);
  }
}

.selected {
  color: var(--text-primary-light);
  font-weight: 700;
  line-height: normal;
}
