.startskudd {
  height: 100%;
  width: 100%;
  background: linear-gradient(
    171.33deg,
    var(--color-primary) 3.77%,
    var(--color-secondary1__tint1) 53.39%,
    var(--color-secondary2__shade1) 100%
  );
}

.startskudd_right {
  display: flex;
  justify-content: flex-end;
}

.startskudd__h1 {
  font-size: 2.8125rem;
}

.startskudd__content {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.startskudd__content_ingress,
.startskudd__h2 {
  font-size: 1.25rem;
}

@media (min-width: 1000px) {
  .startskudd {
    width: 100%;
    height: 100vh;
    overflow: scroll;
    background: linear-gradient(
      112.87deg,
      var(--color-primary) 0%,
      var(--color-secondary1__tint1) 51.56%,
      var(--color-secondary2__shade1) 100%
    );
  }

  .startskudd__content {
    flex-direction: row;
    gap: 7rem;
  }

  .startskudd__content > section {
    min-width: 18.5rem;
  }
}
