.heroContainer {
  background-color: var(--color-primary__shade1);
  width: 100%;
  height: 50rem;
  display: flex;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.navbarContainer {
  margin-left: 8rem;
}

.imageContainer {
  position: relative;
  width: 50%;
}

.blobContainer {
  position: absolute;
}

.iconContainer {
  position: absolute;
  top: 8rem;
  left: 3rem;
}
