.heroContainer {
  background-color: var(--color-primary__shade1);
  width: 100%;
  height: 40rem;
  display: flex;
  flex-direction: column;
}

.heroContent {
  width: 100%;
  display: flex;
}

.imageContainer {
  position: relative;
  width: 50%;
}

.blobContainer {
  position: absolute;
  top: 10rem;
  right: 0;
}

.blob {
  content: url('./heroBlobMobile.svg');
}

.iconContainer {
  position: absolute;
  top: 18rem;
  right: 0;
}

.image {
  width: 7.125rem;
}

.navbarContainer {
  margin-left: 0;
  width: 100%;
  padding: 2rem;
}

@media (min-width: 768px) {
  .iconContainer {
    top: 15rem;
  }
}

@media (min-width: 900px) {
  .heroContainer {
    height: 50rem;
  }

  .imageContainer {
    width: 50%;
  }

  .iconContainer {
    top: 8rem;
    left: 5rem;
  }

  .blobContainer {
    width: 100%;
    top: 0;
  }

  .blob {
    content: url('./heroBlob.svg');
  }

  .image {
    width: 75%;
  }

  .navbarContainer {
    margin-left: 8rem;
    width: 50%;
  }
}
