.tips {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--color-secondary1);
  z-index: 100;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 4rem 10rem;

  display: grid;
  gap: 2rem;
  transform: translateX(100%);
  animation: slideIn 0.35s forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.tips h1 {
  font-size: 2.5rem;
}
.tips > p {
  font-size: 1.25rem;
}

.back {
  background: none;
  border: none;
  color: var(--color-standard__white);
  justify-self: start;
  cursor: pointer;
  position: relative;
}
.back::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: var(--color-standard__white);
  transform: scaleX(0);
  visibility: hidden;
  transition: 0.25s ease-in-out;
}
.back:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.categories {
  display: grid;
  gap: 10rem;
  margin-top: 4rem;
  justify-content: stretch;
}
.category {
  --height: 25rem;
  --padding: 2rem;

  position: relative;
  padding: var(--padding);
  height: var(--height);
  display: grid;
  gap: 1rem;
  grid-template-columns: 50% 50%;
  max-width: 45rem;
  min-width: 35rem;
  width: 100%;
  margin: 0 auto;
}

.category::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  background-color: var(--color-secondary1__shade1);
  border-radius: 1.5rem;
  z-index: -1;
}

.category h2 {
  font-size: 2rem;
  font-weight: 500;
}
.category p,
.category li {
  font-size: 1.25rem;
}

.category > *:first-child {
  display: flex;
  flex-direction: column;
}

.categoryImage {
  position: relative;
  height: calc(var(--height) - var(--padding) * 2);
}
.categoryImage img {
  position: absolute;
  top: -15%;
  height: 130%;
}

.metro {
  border-radius: 1.5rem;
  background-color: var(--color-secondary1__shade1);
  padding: 3rem;
  width: 75%;
  margin: 8rem auto 0rem;
  display: grid;
  gap: 2rem;
}
.metro h2 {
  font-size: 2rem;
  font-weight: 500;
}
.metro p {
  font-size: 1.25rem;
}

.where {
  margin-top: auto;
  margin-bottom: 2rem;
}

@media (max-width: 600px) {
  .tips {
    padding: 2rem;
  }
  .categories {
    margin-top: 1rem;
    gap: 4rem;
  }
  .category {
    height: auto;
    max-width: none;
    min-width: auto;
    grid-template-columns: auto;
  }
  .category::before {
    width: 100%;
    height: 80%;
  }
  .categoryImage {
    height: calc(100vw - 4rem);
    display: flex;
    justify-content: center;
  }
  .categoryImage img {
    top: 0;
    height: 110%;
  }
  .metro {
    width: 90%;
    margin-top: 4rem;
  }
}

@media (min-width: 600px) {
  .reverseCategory {
    composes: category;
  }
  .reverseCategory:first-child {
    grid-column: 2;
  }
  .reverseCategory .categoryImage {
    grid-column: 1;
    grid-row: 1;
  }

  .reverseCategory .categoryImage img {
    right: 0;
  }

  .reverseCategory::before {
    left: unset;
    right: 0;
  }
}
