.container {
  height: 2rem;
  position: relative;
}
.slider {
  border-radius: 2rem;
  background: var(--color-secondary1);
  height: 0.4rem;
  top: calc(2rem / 2 - 0.4rem / 2);
}
.slider__handler {
  width: 3rem;
  height: 2rem;
  border-radius: 2rem;
  position: relative;
  top: 0;
  border: solid 3px var(--color-secondary1);
  background: var(--color-standard__white);
  cursor: pointer;
}
.year {
  position: absolute;
  top: 110%;
  font-variant-numeric: tabular-nums;
}

.temp__handler {
  position: absolute;
  top: -0.8rem;
  left: 50%;
}

.temp__slider {
  position: absolute;
  top: calc(2rem / 2 - 0.4rem / 2);
  width: 100%;
}
