name: Lint

on:
  push:
    paths:
      - '**.js'
      - '**.ts'
      - '**.tsx'

jobs:
  eslint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '16'
      - run: yarn install
      - run: yarn lint
