.header__nav__ul {
  display: flex;
  align-content: center;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  transition: 0.4s;
}

.header__nav__ul li:last-child {
  display: none;
}

.header__nav__ul li a {
  color: white;
}

@media (max-width: 850px) {
  .header__nav__ul {
    width: 60%;
    position: fixed;
    right: 0rem;
    height: 100%;
    z-index: 100;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: start;
    background-color: var(--color-secondary4__tint2);
  }

  .header__nav__ul li:last-child {
    display: flex;
  }

  .header__nav__ul li a {
    cursor: pointer;
    font-size: 1.1rem;
    font-family: Recoleta, serif;
    color: var(--color-standard__black);
  }

  .header__nav__ul li:first-child {
    margin-top: 3.5rem;
  }

  .header__nav__ul li {
    margin-top: 0.5rem;
  }
}
