.main {
  position: relative;
}
.main--overflow {
  overflow-x: hidden;
}

.main__inner {
  max-width: 50rem;
  margin: 0 auto;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

.main__innerFullWidth {
  max-width: unset;
}

.header {
  display: flex;
  flex-wrap: wrap;
  padding-right: 7.4rem;
  max-width: 50rem;
  margin: 0 auto;
}

.header__logo img {
  display: block;
  margin: 1.2rem;
  height: 0.9rem;
}

.header__nav {
  flex: 1;
}

.header__nav__ul {
  display: flex;
  align-content: center;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  transition: 0.4s;
}

.header__nav__ul li:last-child {
  display: none;
}

.header__nav a {
  display: block;
  color: var(--color-standard__white--text);
  text-decoration: none;
  padding: 1.2rem;
  font-size: 1rem;
  line-height: 1;

  background: linear-gradient(
    to right,
    var(--color-secondary1),
    var(--color-primary__shade1),
    var(--color-secondary2)
  );
  background-size: 200% 200%;
  background-clip: text;
  transition: color 0.2s ease-in-out;
}
.header__nav li:nth-child(2n) a {
  background-position-x: right;
}
.header__nav a:hover {
  color: rgba(0, 0, 0, 0);
}

.burgerButtonContainer {
  background-color: transparent;
  border: 0;
  font-size: 1.2rem;
  display: none;
  cursor: pointer;
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
}

.burgerButtonContainer:focus {
  outline: none;
  box-shadow: 0 0 0 0.15rem rgba(21, 156, 228, 0.4);
}

.bar1,
.bar2,
.bar3 {
  position: relative;
  width: 1.8rem;
  height: 0.2rem;
  background-color: var(--color-secondary1);
  margin: 0.29rem 0;
  transition: 0.3s;
}

.bar1_change,
.bar2_change,
.bar3_change {
  composes: bar1;
}

.bar1_change {
  -webkit-transform: rotate(-45deg) translate(-0.35rem, 0.35rem);
  transform: rotate(-45deg) translate(-0.35rem, 0.35rem);
}
.bar2_change {
  opacity: 0;
}
.bar3_change {
  -webkit-transform: rotate(45deg) translate(-0.35rem, -0.35rem);
  transform: rotate(45deg) translate(-0.35rem, -0.35rem);
}

@media (max-width: 600px) {
  .header__nav {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    transform: translateX(0%);
    transition: transform 450ms ease-in-out,
      background-color 300ms ease-in-out 300ms;
    z-index: 99;
  }

  .header__nav__hidden {
    transform: translateX(100%);
    transition: transform 450ms ease-in-out, background-color 100ms ease-in-out;
    background-color: rgba(0, 0, 0, 0);
  }

  .header__nav__ul {
    width: 60%;
    position: fixed;
    right: 0rem;
    height: 100%;
    z-index: 100;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: start;
    background-color: var(--color-secondary4__tint2);
  }

  .header__nav__ul li:last-child {
    display: flex;
  }

  .header__nav__ul li a {
    cursor: pointer;
    font-size: 1.1rem;
    font-family: Recoleta, serif;
    color: var(--color-standard__black);
  }

  .header__nav__ul li:first-child {
    margin-top: 3.5rem;
  }

  .header__nav__ul li {
    margin-top: 0.5rem;
  }

  .burgerButtonContainer {
    display: block;
    z-index: 101;
  }

  .header__logo img {
    margin-top: 1.85rem;
    margin-left: 1.3rem;
  }
}

@keyframes backgroundPos {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

.footer {
  background: url('./footer.svg') no-repeat center top;
}

.footer__inner {
  position: relative;
  z-index: 2;
  max-width: 50rem;
  margin: 0 auto;
  padding: 5.6rem 1.2rem 1.2rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer__inner--bottom {
  padding: 2.4rem 1.2rem 5.6rem;
}

.footer__item:nth-child(1):not(.footer__item--address) {
  margin-top: 13rem;
}

.footer__item:nth-child(2):not(.footer__item--address) {
  margin-top: 8rem;
}
@media (max-width: 453px) {
  .footer__item:nth-child(2):not(.footer__item--address) {
    margin-top: 2.4rem;
  }
}

.footer__item:nth-child(3):not(.footer__item--address) {
  margin-top: 2.4rem;
}
.footer__item {
  color: var(--color-standard__white);
  flex: 1;

  min-width: 15rem;
}
.footer__item--address {
  margin-top: 0;
  margin-bottom: 1.2rem;
}
.footer__item h2 {
  font-size: 1.5rem;
}
.footer__item address {
  font-style: normal;
  line-height: 1.85rem;
}
.footer__item p {
  margin: 1.6rem 0;
}
.footer__item ul {
  list-style: none;
  padding: 0;
  margin: 1.6rem 0 0;
}
.footer__item li {
  margin-bottom: 0.6rem;
}
.footer__item a {
  color: var(--color-primary);
  text-decoration: none;
  border-bottom: 1px solid var(--color-primary);
  padding-bottom: 0.1rem;
  transition: border-bottom 200ms ease-out;
}
.footer__item a:hover {
  border-bottom: 1px solid var(--color-secondary2);
}
