.main {
  position: relative;
  overflow-x: hidden;
}
.main__inner {
  max-width: 50rem;
  margin: 0 auto;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}
.main__innerFullWidth {
  max-width: unset;
}

.header {
  display: flex;
  flex-wrap: wrap;
  padding-right: 7.4rem;
  max-width: 50rem;
  margin: 0 auto;
}
.header__logo img {
  display: block;
  margin: 1.2rem;
  height: 0.9rem;
}
.header__nav {
  flex: 1;
}
.header__nav ul {
  display: flex;
  align-content: center;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.header__nav a {
  display: block;
  color: var(--color-standard__white--text);
  text-decoration: none;
  padding: 1.2rem;
  font-size: 1rem;
  line-height: 1;

  background: linear-gradient(
    to right,
    var(--color-secondary1),
    var(--color-primary__shade1),
    var(--color-secondary2)
  );
  background-size: 200% 200%;
  animation: backgroundPos 2s ease-in-out infinite;
  background-clip: text;
  transition: color 0.2s ease-in-out;
}
.header__nav a:hover {
  color: rgba(0, 0, 0, 0);
}
@keyframes backgroundPos {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

.footer {
  position: relative;
  overflow: hidden;
}
.footer__background {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -2597px;
  z-index: 1;
  transition: margin-left 200ms ease-in;
}

@media (max-width: 600px) {
  .footer__background {
    margin-left: -2500px;
  }
}

.footer__inner {
  position: relative;
  z-index: 2;
  max-width: 50rem;
  margin: 0 auto;
  padding: 5.6rem 1.2rem;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer__item:nth-child(1) {
  margin-top: 13rem;
}

.footer__item:nth-child(2) {
  margin-top: 8rem;
}
@media (max-width: 453px) {
  .footer__item:nth-child(2) {
    margin-top: 2.4rem;
  }
}

.footer__item:nth-child(3) {
  margin-top: 2.4rem;
}
.footer__item {
  color: var(--color-standard__white);
  flex: 1;

  min-width: 15rem;
}
.footer__item h2 {
  font-size: 1.5rem;
}
.footer__item address {
  font-style: normal;
  line-height: 1.85rem;
}
.footer__item p {
  margin: 1.6rem 0;
}
.footer__item ul {
  list-style: none;
  padding: 0;
  margin: 1.6rem 0 0;
}
.footer__item li {
  margin-bottom: 0.6rem;
}
.footer__item a {
  color: var(--color-primary);
  text-decoration: none;
  border-bottom: 1px solid var(--color-primary);
  padding-bottom: 0.1rem;
  transition: border-bottom 200ms ease-out;
}
.footer__item a:hover {
  border-bottom: 1px solid var(--color-secondary2);
}
