.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.content {
  max-width: 960px;
}

.content.framed {
  border: 2px solid var(--surface-yellow);
  border-radius: 0.25rem;
  background-color: var(--surface-yellow);
}

.innerContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.framed .innerContent {
  background-color: var(--background-bg-light-primary);
  border-radius: 1.25rem;
  padding: 1rem;
  height: fit-content;
}

.link {
  margin-top: 2rem;
  text-decoration: none;
  color: var(--background-bg-dark);
}

.title {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  font-weight: 450;
  line-height: 2rem;
}
